=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class AdminApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Read-only view list all installed apps
    # @param [Hash] opts the optional parameters
    # @return [Array<App>]
    def admin_apps_list(opts = {})
      data, _status_code, _headers = admin_apps_list_with_http_info(opts)
      data
    end

    # Read-only view list all installed apps
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<App>, Integer, Hash)>] Array<App> data, response status code and response headers
    def admin_apps_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_apps_list ...'
      end
      # resource path
      local_var_path = '/admin/apps/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<App>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_apps_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_apps_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload file to storage backend.
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :usage  (default to 'media')
    # @return [nil]
    def admin_file_create(file, opts = {})
      admin_file_create_with_http_info(file, opts)
      nil
    end

    # Upload file to storage backend.
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :usage  (default to 'media')
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_file_create_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_file_create ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling AdminApi.admin_file_create"
      end
      if @api_client.config.client_side_validation && !opts[:'usage'].nil? && opts[:'usage'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"usage"]" when calling AdminApi.admin_file_create, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/admin/file/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['name'] = opts[:'name'] if !opts[:'name'].nil?
      form_params['usage'] = opts[:'usage'] if !opts[:'usage'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_file_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_file_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete file from storage backend.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [UsageEnum] :usage 
    # @return [nil]
    def admin_file_destroy(opts = {})
      admin_file_destroy_with_http_info(opts)
      nil
    end

    # Delete file from storage backend.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [UsageEnum] :usage 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_file_destroy_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_file_destroy ...'
      end
      if @api_client.config.client_side_validation && !opts[:'usage'].nil? && opts[:'usage'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"usage"]" when calling AdminApi.admin_file_destroy, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/admin/file/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'usage'] = opts[:'usage'] if !opts[:'usage'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_file_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_file_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List files from storage backend.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :manageable_only  (default to false)
    # @option opts [String] :search A search term.
    # @option opts [UsageEnum] :usage 
    # @return [Array<FileList>]
    def admin_file_list(opts = {})
      data, _status_code, _headers = admin_file_list_with_http_info(opts)
      data
    end

    # List files from storage backend.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :manageable_only  (default to false)
    # @option opts [String] :search A search term.
    # @option opts [UsageEnum] :usage 
    # @return [Array<(Array<FileList>, Integer, Hash)>] Array<FileList> data, response status code and response headers
    def admin_file_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_file_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'usage'].nil? && opts[:'usage'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"usage"]" when calling AdminApi.admin_file_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/admin/file/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'manageable_only'] = opts[:'manageable_only'] if !opts[:'manageable_only'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'usage'] = opts[:'usage'] if !opts[:'usage'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FileList>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_file_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_file_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @return [Array<UsedBy>]
    def admin_file_used_by_list(opts = {})
      data, _status_code, _headers = admin_file_used_by_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def admin_file_used_by_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_file_used_by_list ...'
      end
      # resource path
      local_var_path = '/admin/file/used_by/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_file_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_file_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read-only view list all installed models
    # @param [Hash] opts the optional parameters
    # @return [Array<App>]
    def admin_models_list(opts = {})
      data, _status_code, _headers = admin_models_list_with_http_info(opts)
      data
    end

    # Read-only view list all installed models
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<App>, Integer, Hash)>] Array<App> data, response status code and response headers
    def admin_models_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_models_list ...'
      end
      # resource path
      local_var_path = '/admin/models/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<App>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_models_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_models_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settings view
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedSettingsRequest] :patched_settings_request 
    # @return [Settings]
    def admin_settings_partial_update(opts = {})
      data, _status_code, _headers = admin_settings_partial_update_with_http_info(opts)
      data
    end

    # Settings view
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedSettingsRequest] :patched_settings_request 
    # @return [Array<(Settings, Integer, Hash)>] Settings data, response status code and response headers
    def admin_settings_partial_update_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_settings_partial_update ...'
      end
      # resource path
      local_var_path = '/admin/settings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_settings_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Settings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_settings_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_settings_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settings view
    # @param [Hash] opts the optional parameters
    # @return [Settings]
    def admin_settings_retrieve(opts = {})
      data, _status_code, _headers = admin_settings_retrieve_with_http_info(opts)
      data
    end

    # Settings view
    # @param [Hash] opts the optional parameters
    # @return [Array<(Settings, Integer, Hash)>] Settings data, response status code and response headers
    def admin_settings_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_settings_retrieve ...'
      end
      # resource path
      local_var_path = '/admin/settings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Settings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_settings_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_settings_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settings view
    # @param settings_request [SettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Settings]
    def admin_settings_update(settings_request, opts = {})
      data, _status_code, _headers = admin_settings_update_with_http_info(settings_request, opts)
      data
    end

    # Settings view
    # @param settings_request [SettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Settings, Integer, Hash)>] Settings data, response status code and response headers
    def admin_settings_update_with_http_info(settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_settings_update ...'
      end
      # verify the required parameter 'settings_request' is set
      if @api_client.config.client_side_validation && settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'settings_request' when calling AdminApi.admin_settings_update"
      end
      # resource path
      local_var_path = '/admin/settings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Settings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_settings_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_settings_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get system information.
    # @param [Hash] opts the optional parameters
    # @return [SystemInfo]
    def admin_system_create(opts = {})
      data, _status_code, _headers = admin_system_create_with_http_info(opts)
      data
    end

    # Get system information.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SystemInfo, Integer, Hash)>] SystemInfo data, response status code and response headers
    def admin_system_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_system_create ...'
      end
      # resource path
      local_var_path = '/admin/system/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SystemInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_system_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_system_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get system information.
    # @param [Hash] opts the optional parameters
    # @return [SystemInfo]
    def admin_system_retrieve(opts = {})
      data, _status_code, _headers = admin_system_retrieve_with_http_info(opts)
      data
    end

    # Get system information.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SystemInfo, Integer, Hash)>] SystemInfo data, response status code and response headers
    def admin_system_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_system_retrieve ...'
      end
      # resource path
      local_var_path = '/admin/system/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SystemInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_system_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_system_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # VersionHistory Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :build 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [String] :search A search term.
    # @option opts [String] :version 
    # @return [Array<VersionHistory>]
    def admin_version_history_list(opts = {})
      data, _status_code, _headers = admin_version_history_list_with_http_info(opts)
      data
    end

    # VersionHistory Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :build 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [String] :search A search term.
    # @option opts [String] :version 
    # @return [Array<(Array<VersionHistory>, Integer, Hash)>] Array<VersionHistory> data, response status code and response headers
    def admin_version_history_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_version_history_list ...'
      end
      # resource path
      local_var_path = '/admin/version/history/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'build'] = opts[:'build'] if !opts[:'build'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'version'] = opts[:'version'] if !opts[:'version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VersionHistory>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_version_history_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_version_history_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # VersionHistory Viewset
    # @param id [Integer] A unique integer value identifying this Version history.
    # @param [Hash] opts the optional parameters
    # @return [VersionHistory]
    def admin_version_history_retrieve(id, opts = {})
      data, _status_code, _headers = admin_version_history_retrieve_with_http_info(id, opts)
      data
    end

    # VersionHistory Viewset
    # @param id [Integer] A unique integer value identifying this Version history.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VersionHistory, Integer, Hash)>] VersionHistory data, response status code and response headers
    def admin_version_history_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_version_history_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_version_history_retrieve"
      end
      # resource path
      local_var_path = '/admin/version/history/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VersionHistory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_version_history_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_version_history_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get running and latest version.
    # @param [Hash] opts the optional parameters
    # @return [Version]
    def admin_version_retrieve(opts = {})
      data, _status_code, _headers = admin_version_retrieve_with_http_info(opts)
      data
    end

    # Get running and latest version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Version, Integer, Hash)>] Version data, response status code and response headers
    def admin_version_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_version_retrieve ...'
      end
      # resource path
      local_var_path = '/admin/version/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Version'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_version_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_version_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
