=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class AuthenticatorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all devices for current user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user 
    # @return [Array<Device>]
    def authenticators_admin_all_list(opts = {})
      data, _status_code, _headers = authenticators_admin_all_list_with_http_info(opts)
      data
    end

    # Get all devices for current user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user 
    # @return [Array<(Array<Device>, Integer, Hash)>] Array<Device> data, response status code and response headers
    def authenticators_admin_all_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_all_list ...'
      end
      # resource path
      local_var_path = '/authenticators/admin/all/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Device>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_all_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_all_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param duo_device_request [DuoDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DuoDevice]
    def authenticators_admin_duo_create(duo_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_duo_create_with_http_info(duo_device_request, opts)
      data
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param duo_device_request [DuoDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuoDevice, Integer, Hash)>] DuoDevice data, response status code and response headers
    def authenticators_admin_duo_create_with_http_info(duo_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_duo_create ...'
      end
      # verify the required parameter 'duo_device_request' is set
      if @api_client.config.client_side_validation && duo_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'duo_device_request' when calling AuthenticatorsApi.authenticators_admin_duo_create"
      end
      # resource path
      local_var_path = '/authenticators/admin/duo/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duo_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DuoDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_duo_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_duo_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Duo Device.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def authenticators_admin_duo_destroy(id, opts = {})
      authenticators_admin_duo_destroy_with_http_info(id, opts)
      nil
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Duo Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def authenticators_admin_duo_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_duo_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_duo_destroy"
      end
      # resource path
      local_var_path = '/authenticators/admin/duo/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_duo_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_duo_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedDuoDeviceList]
    def authenticators_admin_duo_list(opts = {})
      data, _status_code, _headers = authenticators_admin_duo_list_with_http_info(opts)
      data
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedDuoDeviceList, Integer, Hash)>] PaginatedDuoDeviceList data, response status code and response headers
    def authenticators_admin_duo_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_duo_list ...'
      end
      # resource path
      local_var_path = '/authenticators/admin/duo/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDuoDeviceList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_duo_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_duo_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Duo Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDuoDeviceRequest] :patched_duo_device_request 
    # @return [DuoDevice]
    def authenticators_admin_duo_partial_update(id, opts = {})
      data, _status_code, _headers = authenticators_admin_duo_partial_update_with_http_info(id, opts)
      data
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Duo Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDuoDeviceRequest] :patched_duo_device_request 
    # @return [Array<(DuoDevice, Integer, Hash)>] DuoDevice data, response status code and response headers
    def authenticators_admin_duo_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_duo_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_duo_partial_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/duo/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_duo_device_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DuoDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_duo_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_duo_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Duo Device.
    # @param [Hash] opts the optional parameters
    # @return [DuoDevice]
    def authenticators_admin_duo_retrieve(id, opts = {})
      data, _status_code, _headers = authenticators_admin_duo_retrieve_with_http_info(id, opts)
      data
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Duo Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuoDevice, Integer, Hash)>] DuoDevice data, response status code and response headers
    def authenticators_admin_duo_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_duo_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_duo_retrieve"
      end
      # resource path
      local_var_path = '/authenticators/admin/duo/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DuoDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_duo_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_duo_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Duo Device.
    # @param duo_device_request [DuoDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DuoDevice]
    def authenticators_admin_duo_update(id, duo_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_duo_update_with_http_info(id, duo_device_request, opts)
      data
    end

    # Viewset for Duo authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Duo Device.
    # @param duo_device_request [DuoDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuoDevice, Integer, Hash)>] DuoDevice data, response status code and response headers
    def authenticators_admin_duo_update_with_http_info(id, duo_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_duo_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_duo_update"
      end
      # verify the required parameter 'duo_device_request' is set
      if @api_client.config.client_side_validation && duo_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'duo_device_request' when calling AuthenticatorsApi.authenticators_admin_duo_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/duo/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duo_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DuoDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_duo_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_duo_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for email authenticator devices (for admins)
    # @param email_device_request [EmailDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmailDevice]
    def authenticators_admin_email_create(email_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_email_create_with_http_info(email_device_request, opts)
      data
    end

    # Viewset for email authenticator devices (for admins)
    # @param email_device_request [EmailDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailDevice, Integer, Hash)>] EmailDevice data, response status code and response headers
    def authenticators_admin_email_create_with_http_info(email_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_email_create ...'
      end
      # verify the required parameter 'email_device_request' is set
      if @api_client.config.client_side_validation && email_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'email_device_request' when calling AuthenticatorsApi.authenticators_admin_email_create"
      end
      # resource path
      local_var_path = '/authenticators/admin/email/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_email_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_email_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for email authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Email Device.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def authenticators_admin_email_destroy(id, opts = {})
      authenticators_admin_email_destroy_with_http_info(id, opts)
      nil
    end

    # Viewset for email authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Email Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def authenticators_admin_email_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_email_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_email_destroy"
      end
      # resource path
      local_var_path = '/authenticators/admin/email/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_email_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_email_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for email authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedEmailDeviceList]
    def authenticators_admin_email_list(opts = {})
      data, _status_code, _headers = authenticators_admin_email_list_with_http_info(opts)
      data
    end

    # Viewset for email authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedEmailDeviceList, Integer, Hash)>] PaginatedEmailDeviceList data, response status code and response headers
    def authenticators_admin_email_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_email_list ...'
      end
      # resource path
      local_var_path = '/authenticators/admin/email/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedEmailDeviceList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_email_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_email_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for email authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Email Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEmailDeviceRequest] :patched_email_device_request 
    # @return [EmailDevice]
    def authenticators_admin_email_partial_update(id, opts = {})
      data, _status_code, _headers = authenticators_admin_email_partial_update_with_http_info(id, opts)
      data
    end

    # Viewset for email authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Email Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEmailDeviceRequest] :patched_email_device_request 
    # @return [Array<(EmailDevice, Integer, Hash)>] EmailDevice data, response status code and response headers
    def authenticators_admin_email_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_email_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_email_partial_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/email/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_email_device_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmailDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_email_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_email_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for email authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Email Device.
    # @param [Hash] opts the optional parameters
    # @return [EmailDevice]
    def authenticators_admin_email_retrieve(id, opts = {})
      data, _status_code, _headers = authenticators_admin_email_retrieve_with_http_info(id, opts)
      data
    end

    # Viewset for email authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Email Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailDevice, Integer, Hash)>] EmailDevice data, response status code and response headers
    def authenticators_admin_email_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_email_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_email_retrieve"
      end
      # resource path
      local_var_path = '/authenticators/admin/email/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_email_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_email_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for email authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Email Device.
    # @param email_device_request [EmailDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmailDevice]
    def authenticators_admin_email_update(id, email_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_email_update_with_http_info(id, email_device_request, opts)
      data
    end

    # Viewset for email authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Email Device.
    # @param email_device_request [EmailDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailDevice, Integer, Hash)>] EmailDevice data, response status code and response headers
    def authenticators_admin_email_update_with_http_info(id, email_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_email_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_email_update"
      end
      # verify the required parameter 'email_device_request' is set
      if @api_client.config.client_side_validation && email_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'email_device_request' when calling AuthenticatorsApi.authenticators_admin_email_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/email/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_email_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_email_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param google_endpoint_device_request [GoogleEndpointDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GoogleEndpointDevice]
    def authenticators_admin_endpoint_create(google_endpoint_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_endpoint_create_with_http_info(google_endpoint_device_request, opts)
      data
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param google_endpoint_device_request [GoogleEndpointDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleEndpointDevice, Integer, Hash)>] GoogleEndpointDevice data, response status code and response headers
    def authenticators_admin_endpoint_create_with_http_info(google_endpoint_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_endpoint_create ...'
      end
      # verify the required parameter 'google_endpoint_device_request' is set
      if @api_client.config.client_side_validation && google_endpoint_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'google_endpoint_device_request' when calling AuthenticatorsApi.authenticators_admin_endpoint_create"
      end
      # resource path
      local_var_path = '/authenticators/admin/endpoint/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(google_endpoint_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleEndpointDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_endpoint_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_endpoint_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param uuid [String] A UUID string identifying this Endpoint Device.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def authenticators_admin_endpoint_destroy(uuid, opts = {})
      authenticators_admin_endpoint_destroy_with_http_info(uuid, opts)
      nil
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param uuid [String] A UUID string identifying this Endpoint Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def authenticators_admin_endpoint_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_endpoint_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AuthenticatorsApi.authenticators_admin_endpoint_destroy"
      end
      # resource path
      local_var_path = '/authenticators/admin/endpoint/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_endpoint_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_endpoint_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedGoogleEndpointDeviceList]
    def authenticators_admin_endpoint_list(opts = {})
      data, _status_code, _headers = authenticators_admin_endpoint_list_with_http_info(opts)
      data
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedGoogleEndpointDeviceList, Integer, Hash)>] PaginatedGoogleEndpointDeviceList data, response status code and response headers
    def authenticators_admin_endpoint_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_endpoint_list ...'
      end
      # resource path
      local_var_path = '/authenticators/admin/endpoint/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGoogleEndpointDeviceList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_endpoint_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_endpoint_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param uuid [String] A UUID string identifying this Endpoint Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGoogleEndpointDeviceRequest] :patched_google_endpoint_device_request 
    # @return [GoogleEndpointDevice]
    def authenticators_admin_endpoint_partial_update(uuid, opts = {})
      data, _status_code, _headers = authenticators_admin_endpoint_partial_update_with_http_info(uuid, opts)
      data
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param uuid [String] A UUID string identifying this Endpoint Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGoogleEndpointDeviceRequest] :patched_google_endpoint_device_request 
    # @return [Array<(GoogleEndpointDevice, Integer, Hash)>] GoogleEndpointDevice data, response status code and response headers
    def authenticators_admin_endpoint_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_endpoint_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AuthenticatorsApi.authenticators_admin_endpoint_partial_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/endpoint/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_google_endpoint_device_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleEndpointDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_endpoint_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_endpoint_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param uuid [String] A UUID string identifying this Endpoint Device.
    # @param [Hash] opts the optional parameters
    # @return [GoogleEndpointDevice]
    def authenticators_admin_endpoint_retrieve(uuid, opts = {})
      data, _status_code, _headers = authenticators_admin_endpoint_retrieve_with_http_info(uuid, opts)
      data
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param uuid [String] A UUID string identifying this Endpoint Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleEndpointDevice, Integer, Hash)>] GoogleEndpointDevice data, response status code and response headers
    def authenticators_admin_endpoint_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_endpoint_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AuthenticatorsApi.authenticators_admin_endpoint_retrieve"
      end
      # resource path
      local_var_path = '/authenticators/admin/endpoint/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleEndpointDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_endpoint_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_endpoint_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param uuid [String] A UUID string identifying this Endpoint Device.
    # @param google_endpoint_device_request [GoogleEndpointDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GoogleEndpointDevice]
    def authenticators_admin_endpoint_update(uuid, google_endpoint_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_endpoint_update_with_http_info(uuid, google_endpoint_device_request, opts)
      data
    end

    # Viewset for Endpoint authenticator devices (for admins)
    # @param uuid [String] A UUID string identifying this Endpoint Device.
    # @param google_endpoint_device_request [GoogleEndpointDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleEndpointDevice, Integer, Hash)>] GoogleEndpointDevice data, response status code and response headers
    def authenticators_admin_endpoint_update_with_http_info(uuid, google_endpoint_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_endpoint_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AuthenticatorsApi.authenticators_admin_endpoint_update"
      end
      # verify the required parameter 'google_endpoint_device_request' is set
      if @api_client.config.client_side_validation && google_endpoint_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'google_endpoint_device_request' when calling AuthenticatorsApi.authenticators_admin_endpoint_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/endpoint/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(google_endpoint_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleEndpointDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_endpoint_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_endpoint_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for sms authenticator devices (for admins)
    # @param sms_device_request [SMSDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SMSDevice]
    def authenticators_admin_sms_create(sms_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_sms_create_with_http_info(sms_device_request, opts)
      data
    end

    # Viewset for sms authenticator devices (for admins)
    # @param sms_device_request [SMSDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SMSDevice, Integer, Hash)>] SMSDevice data, response status code and response headers
    def authenticators_admin_sms_create_with_http_info(sms_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_sms_create ...'
      end
      # verify the required parameter 'sms_device_request' is set
      if @api_client.config.client_side_validation && sms_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'sms_device_request' when calling AuthenticatorsApi.authenticators_admin_sms_create"
      end
      # resource path
      local_var_path = '/authenticators/admin/sms/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sms_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SMSDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_sms_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_sms_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for sms authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this SMS Device.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def authenticators_admin_sms_destroy(id, opts = {})
      authenticators_admin_sms_destroy_with_http_info(id, opts)
      nil
    end

    # Viewset for sms authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this SMS Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def authenticators_admin_sms_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_sms_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_sms_destroy"
      end
      # resource path
      local_var_path = '/authenticators/admin/sms/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_sms_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_sms_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for sms authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedSMSDeviceList]
    def authenticators_admin_sms_list(opts = {})
      data, _status_code, _headers = authenticators_admin_sms_list_with_http_info(opts)
      data
    end

    # Viewset for sms authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedSMSDeviceList, Integer, Hash)>] PaginatedSMSDeviceList data, response status code and response headers
    def authenticators_admin_sms_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_sms_list ...'
      end
      # resource path
      local_var_path = '/authenticators/admin/sms/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedSMSDeviceList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_sms_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_sms_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for sms authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this SMS Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedSMSDeviceRequest] :patched_sms_device_request 
    # @return [SMSDevice]
    def authenticators_admin_sms_partial_update(id, opts = {})
      data, _status_code, _headers = authenticators_admin_sms_partial_update_with_http_info(id, opts)
      data
    end

    # Viewset for sms authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this SMS Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedSMSDeviceRequest] :patched_sms_device_request 
    # @return [Array<(SMSDevice, Integer, Hash)>] SMSDevice data, response status code and response headers
    def authenticators_admin_sms_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_sms_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_sms_partial_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/sms/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_sms_device_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SMSDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_sms_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_sms_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for sms authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this SMS Device.
    # @param [Hash] opts the optional parameters
    # @return [SMSDevice]
    def authenticators_admin_sms_retrieve(id, opts = {})
      data, _status_code, _headers = authenticators_admin_sms_retrieve_with_http_info(id, opts)
      data
    end

    # Viewset for sms authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this SMS Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SMSDevice, Integer, Hash)>] SMSDevice data, response status code and response headers
    def authenticators_admin_sms_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_sms_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_sms_retrieve"
      end
      # resource path
      local_var_path = '/authenticators/admin/sms/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SMSDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_sms_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_sms_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for sms authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this SMS Device.
    # @param sms_device_request [SMSDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SMSDevice]
    def authenticators_admin_sms_update(id, sms_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_sms_update_with_http_info(id, sms_device_request, opts)
      data
    end

    # Viewset for sms authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this SMS Device.
    # @param sms_device_request [SMSDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SMSDevice, Integer, Hash)>] SMSDevice data, response status code and response headers
    def authenticators_admin_sms_update_with_http_info(id, sms_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_sms_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_sms_update"
      end
      # verify the required parameter 'sms_device_request' is set
      if @api_client.config.client_side_validation && sms_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'sms_device_request' when calling AuthenticatorsApi.authenticators_admin_sms_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/sms/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sms_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SMSDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_sms_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_sms_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for static authenticator devices (for admins)
    # @param static_device_request [StaticDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StaticDevice]
    def authenticators_admin_static_create(static_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_static_create_with_http_info(static_device_request, opts)
      data
    end

    # Viewset for static authenticator devices (for admins)
    # @param static_device_request [StaticDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaticDevice, Integer, Hash)>] StaticDevice data, response status code and response headers
    def authenticators_admin_static_create_with_http_info(static_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_static_create ...'
      end
      # verify the required parameter 'static_device_request' is set
      if @api_client.config.client_side_validation && static_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'static_device_request' when calling AuthenticatorsApi.authenticators_admin_static_create"
      end
      # resource path
      local_var_path = '/authenticators/admin/static/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(static_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StaticDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_static_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_static_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for static authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Static Device.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def authenticators_admin_static_destroy(id, opts = {})
      authenticators_admin_static_destroy_with_http_info(id, opts)
      nil
    end

    # Viewset for static authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Static Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def authenticators_admin_static_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_static_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_static_destroy"
      end
      # resource path
      local_var_path = '/authenticators/admin/static/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_static_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_static_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for static authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedStaticDeviceList]
    def authenticators_admin_static_list(opts = {})
      data, _status_code, _headers = authenticators_admin_static_list_with_http_info(opts)
      data
    end

    # Viewset for static authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedStaticDeviceList, Integer, Hash)>] PaginatedStaticDeviceList data, response status code and response headers
    def authenticators_admin_static_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_static_list ...'
      end
      # resource path
      local_var_path = '/authenticators/admin/static/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedStaticDeviceList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_static_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_static_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for static authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Static Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedStaticDeviceRequest] :patched_static_device_request 
    # @return [StaticDevice]
    def authenticators_admin_static_partial_update(id, opts = {})
      data, _status_code, _headers = authenticators_admin_static_partial_update_with_http_info(id, opts)
      data
    end

    # Viewset for static authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Static Device.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedStaticDeviceRequest] :patched_static_device_request 
    # @return [Array<(StaticDevice, Integer, Hash)>] StaticDevice data, response status code and response headers
    def authenticators_admin_static_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_static_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_static_partial_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/static/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_static_device_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'StaticDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_static_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_static_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for static authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Static Device.
    # @param [Hash] opts the optional parameters
    # @return [StaticDevice]
    def authenticators_admin_static_retrieve(id, opts = {})
      data, _status_code, _headers = authenticators_admin_static_retrieve_with_http_info(id, opts)
      data
    end

    # Viewset for static authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Static Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaticDevice, Integer, Hash)>] StaticDevice data, response status code and response headers
    def authenticators_admin_static_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_static_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_static_retrieve"
      end
      # resource path
      local_var_path = '/authenticators/admin/static/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StaticDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_static_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_static_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for static authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Static Device.
    # @param static_device_request [StaticDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StaticDevice]
    def authenticators_admin_static_update(id, static_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_static_update_with_http_info(id, static_device_request, opts)
      data
    end

    # Viewset for static authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this Static Device.
    # @param static_device_request [StaticDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaticDevice, Integer, Hash)>] StaticDevice data, response status code and response headers
    def authenticators_admin_static_update_with_http_info(id, static_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_static_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_static_update"
      end
      # verify the required parameter 'static_device_request' is set
      if @api_client.config.client_side_validation && static_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'static_device_request' when calling AuthenticatorsApi.authenticators_admin_static_update"
      end
      # resource path
      local_var_path = '/authenticators/admin/static/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(static_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StaticDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_static_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_static_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for totp authenticator devices (for admins)
    # @param totp_device_request [TOTPDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TOTPDevice]
    def authenticators_admin_totp_create(totp_device_request, opts = {})
      data, _status_code, _headers = authenticators_admin_totp_create_with_http_info(totp_device_request, opts)
      data
    end

    # Viewset for totp authenticator devices (for admins)
    # @param totp_device_request [TOTPDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TOTPDevice, Integer, Hash)>] TOTPDevice data, response status code and response headers
    def authenticators_admin_totp_create_with_http_info(totp_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_totp_create ...'
      end
      # verify the required parameter 'totp_device_request' is set
      if @api_client.config.client_side_validation && totp_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'totp_device_request' when calling AuthenticatorsApi.authenticators_admin_totp_create"
      end
      # resource path
      local_var_path = '/authenticators/admin/totp/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(totp_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TOTPDevice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_totp_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_totp_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for totp authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this TOTP Device.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def authenticators_admin_totp_destroy(id, opts = {})
      authenticators_admin_totp_destroy_with_http_info(id, opts)
      nil
    end

    # Viewset for totp authenticator devices (for admins)
    # @param id [Integer] A unique integer value identifying this TOTP Device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def authenticators_admin_totp_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_totp_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthenticatorsApi.authenticators_admin_totp_destroy"
      end
      # resource path
      local_var_path = '/authenticators/admin/totp/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_totp_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_totp_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for totp authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedTOTPDeviceList]
    def authenticators_admin_totp_list(opts = {})
      data, _status_code, _headers = authenticators_admin_totp_list_with_http_info(opts)
      data
    end

    # Viewset for totp authenticator devices (for admins)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedTOTPDeviceList, Integer, Hash)>] PaginatedTOTPDeviceList data, response status code and response headers
    def authenticators_admin_totp_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticatorsApi.authenticators_admin_totp_list ...'
      end
      # resource path
      local_var_path = '/authenticators/admin/totp/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedTOTPDeviceList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"AuthenticatorsApi.authenticators_admin_totp_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticatorsApi#authenticators_admin_totp_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Viewset for totp authenticator devices (for admins)
[...]
