=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class CoreApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ApplicationEntitlement Viewset
    # @param application_entitlement_request [ApplicationEntitlementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplicationEntitlement]
    def core_application_entitlements_create(application_entitlement_request, opts = {})
      data, _status_code, _headers = core_application_entitlements_create_with_http_info(application_entitlement_request, opts)
      data
    end

    # ApplicationEntitlement Viewset
    # @param application_entitlement_request [ApplicationEntitlementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplicationEntitlement, Integer, Hash)>] ApplicationEntitlement data, response status code and response headers
    def core_application_entitlements_create_with_http_info(application_entitlement_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_application_entitlements_create ...'
      end
      # verify the required parameter 'application_entitlement_request' is set
      if @api_client.config.client_side_validation && application_entitlement_request.nil?
        fail ArgumentError, "Missing the required parameter 'application_entitlement_request' when calling CoreApi.core_application_entitlements_create"
      end
      # resource path
      local_var_path = '/core/application_entitlements/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application_entitlement_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationEntitlement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_application_entitlements_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_application_entitlements_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ApplicationEntitlement Viewset
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def core_application_entitlements_destroy(pbm_uuid, opts = {})
      core_application_entitlements_destroy_with_http_info(pbm_uuid, opts)
      nil
    end

    # ApplicationEntitlement Viewset
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def core_application_entitlements_destroy_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_application_entitlements_destroy ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling CoreApi.core_application_entitlements_destroy"
      end
      # resource path
      local_var_path = '/core/application_entitlements/{pbm_uuid}/'.sub('{pbm_uuid}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_application_entitlements_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_application_entitlements_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ApplicationEntitlement Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [String] :search A search term.
    # @return [PaginatedApplicationEntitlementList]
    def core_application_entitlements_list(opts = {})
      data, _status_code, _headers = core_application_entitlements_list_with_http_info(opts)
      data
    end

    # ApplicationEntitlement Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedApplicationEntitlementList, Integer, Hash)>] PaginatedApplicationEntitlementList data, response status code and response headers
    def core_application_entitlements_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_application_entitlements_list ...'
      end
      # resource path
      local_var_path = '/core/application_entitlements/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'app'] = opts[:'app'] if !opts[:'app'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pbm_uuid'] = opts[:'pbm_uuid'] if !opts[:'pbm_uuid'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedApplicationEntitlementList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_application_entitlements_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_application_entitlements_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ApplicationEntitlement Viewset
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedApplicationEntitlementRequest] :patched_application_entitlement_request 
    # @return [ApplicationEntitlement]
    def core_application_entitlements_partial_update(pbm_uuid, opts = {})
      data, _status_code, _headers = core_application_entitlements_partial_update_with_http_info(pbm_uuid, opts)
      data
    end

    # ApplicationEntitlement Viewset
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedApplicationEntitlementRequest] :patched_application_entitlement_request 
    # @return [Array<(ApplicationEntitlement, Integer, Hash)>] ApplicationEntitlement data, response status code and response headers
    def core_application_entitlements_partial_update_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_application_entitlements_partial_update ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling CoreApi.core_application_entitlements_partial_update"
      end
      # resource path
      local_var_path = '/core/application_entitlements/{pbm_uuid}/'.sub('{pbm_uuid}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_application_entitlement_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationEntitlement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_application_entitlements_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_application_entitlements_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ApplicationEntitlement Viewset
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param [Hash] opts the optional parameters
    # @return [ApplicationEntitlement]
    def core_application_entitlements_retrieve(pbm_uuid, opts = {})
      data, _status_code, _headers = core_application_entitlements_retrieve_with_http_info(pbm_uuid, opts)
      data
    end

    # ApplicationEntitlement Viewset
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplicationEntitlement, Integer, Hash)>] ApplicationEntitlement data, response status code and response headers
    def core_application_entitlements_retrieve_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_application_entitlements_retrieve ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling CoreApi.core_application_entitlements_retrieve"
      end
      # resource path
      local_var_path = '/core/application_entitlements/{pbm_uuid}/'.sub('{pbm_uuid}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationEntitlement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_application_entitlements_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_application_entitlements_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ApplicationEntitlement Viewset
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param application_entitlement_request [ApplicationEntitlementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplicationEntitlement]
    def core_application_entitlements_update(pbm_uuid, application_entitlement_request, opts = {})
      data, _status_code, _headers = core_application_entitlements_update_with_http_info(pbm_uuid, application_entitlement_request, opts)
      data
    end

    # ApplicationEntitlement Viewset
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param application_entitlement_request [ApplicationEntitlementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplicationEntitlement, Integer, Hash)>] ApplicationEntitlement data, response status code and response headers
    def core_application_entitlements_update_with_http_info(pbm_uuid, application_entitlement_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_application_entitlements_update ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling CoreApi.core_application_entitlements_update"
      end
      # verify the required parameter 'application_entitlement_request' is set
      if @api_client.config.client_side_validation && application_entitlement_request.nil?
        fail ArgumentError, "Missing the required parameter 'application_entitlement_request' when calling CoreApi.core_application_entitlements_update"
      end
      # resource path
      local_var_path = '/core/application_entitlements/{pbm_uuid}/'.sub('{pbm_uuid}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application_entitlement_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationEntitlement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_application_entitlements_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_application_entitlements_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def core_application_entitlements_used_by_list(pbm_uuid, opts = {})
      data, _status_code, _headers = core_application_entitlements_used_by_list_with_http_info(pbm_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param pbm_uuid [String] A UUID string identifying this Application Entitlement.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def core_application_entitlements_used_by_list_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_application_entitlements_used_by_list ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling CoreApi.core_application_entitlements_used_by_list"
      end
      # resource path
      local_var_path = '/core/application_entitlements/{pbm_uuid}/used_by/'.sub('{pbm_uuid}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_application_entitlements_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_application_entitlements_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check access to a single application by slug
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :for_user 
    # @return [PolicyTestResult]
    def core_applications_check_access_retrieve(slug, opts = {})
      data, _status_code, _headers = core_applications_check_access_retrieve_with_http_info(slug, opts)
      data
    end

    # Check access to a single application by slug
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :for_user 
    # @return [Array<(PolicyTestResult, Integer, Hash)>] PolicyTestResult data, response status code and response headers
    def core_applications_check_access_retrieve_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_applications_check_access_retrieve ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling CoreApi.core_applications_check_access_retrieve"
      end
      # resource path
      local_var_path = '/core/applications/{slug}/check_access/'.sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'for_user'] = opts[:'for_user'] if !opts[:'for_user'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyTestResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_applications_check_access_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_applications_check_access_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Application Viewset
    # @param application_request [ApplicationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Application]
    def core_applications_create(application_request, opts = {})
      data, _status_code, _headers = core_applications_create_with_http_info(application_request, opts)
      data
    end

    # Application Viewset
    # @param application_request [ApplicationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Application, Integer, Hash)>] Application data, response status code and response headers
    def core_applications_create_with_http_info(application_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_applications_create ...'
      end
      # verify the required parameter 'application_request' is set
      if @api_client.config.client_side_validation && application_request.nil?
        fail ArgumentError, "Missing the required parameter 'application_request' when calling CoreApi.core_applications_create"
      end
      # resource path
      local_var_path = '/core/applications/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Application'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_applications_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_applications_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Application Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def core_applications_destroy(slug, opts = {})
      core_applications_destroy_with_http_info(slug, opts)
      nil
    end

    # Application Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def core_applications_destroy_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_applications_destroy ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling CoreApi.core_applications_destroy"
      end
      # resource path
      local_var_path = '/core/applications/{slug}/'.sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_applications_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_applications_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Custom list method that checks Policy based access instead of guardian
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :for_user 
    # @option opts [String] :group 
    # @option opts [String] :meta_description 
    # @option opts [String] :meta_launch_url 
    # @option opts [String] :meta_publisher 
    # @option opts [String] :name 
    # @option opts [Boolean] :only_with_launch_url 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :slug 
    # @option opts [Boolean] :superuser_full_list 
    # @return [PaginatedApplicationList]
    def core_applications_list(opts = {})
      data, _status_code, _headers = core_applications_list_with_http_info(opts)
      data
    end

    # Custom list method that checks Policy based access instead of guardian
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :for_user 
    # @option opts [String] :group 
    # @option opts [String] :meta_description 
    # @option opts [String] :meta_launch_url 
    # @option opts [String] :meta_publisher 
    # @option opts [String] :name 
    # @option opts [Boolean] :only_with_launch_url 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :slug 
    # @option opts [Boolean] :superuser_full_list 
    # @return [Array<(PaginatedApplicationList, Integer, Hash)>] PaginatedApplicationList data, response status code and response headers
    def core_applications_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_applications_list ...'
      end
      # resource path
      local_var_path = '/core/applications/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'for_user'] = opts[:'for_user'] if !opts[:'for_user'].nil?
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?
      query_params[:'meta_description'] = opts[:'meta_description'] if !opts[:'meta_description'].nil?
      query_params[:'meta_launch_url'] = opts[:'meta_launch_url'] if !opts[:'meta_launch_url'].nil?
      query_params[:'meta_publisher'] = opts[:'meta_publisher'] if !opts[:'meta_publisher'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'only_with_launch_url'] = opts[:'only_with_launch_url'] if !opts[:'only_with_launch_url'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'slug'] = opts[:'slug'] if !opts[:'slug'].nil?
      query_params[:'superuser_full_list'] = opts[:'superuser_full_list'] if !opts[:'superuser_full_list'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedApplicationList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_applications_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_applications_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Application Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedApplicationRequest] :patched_application_request 
    # @return [Application]
    def core_applications_partial_update(slug, opts = {})
      data, _status_code, _headers = core_applications_partial_update_with_http_info(slug, opts)
      data
    end

    # Application Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedApplicationRequest] :patched_application_request 
    # @return [Array<(Application, Integer, Hash)>] Application data, response status code and response headers
    def core_applications_partial_update_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_applications_partial_update ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling CoreApi.core_applications_partial_update"
      end
      # resource path
      local_var_path = '/core/applications/{slug}/'.sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_application_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Application'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_applications_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_applications_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Application Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Application]
    def core_applications_retrieve(slug, opts = {})
      data, _status_code, _headers = core_applications_retrieve_with_http_info(slug, opts)
      data
    end

    # Application Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Application, Integer, Hash)>] Application data, response status code and response headers
    def core_applications_retrieve_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_applications_retrieve ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling CoreApi.core_applications_retrieve"
      end
      # resource path
      local_var_path = '/core/applications/{slug}/'.sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Application'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_applications_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_applications_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Application Viewset
    # @param slug [String] 
    # @param application_request [ApplicationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Application]
    def core_applications_update(slug, application_request, opts = {})
      data, _status_code, _headers = core_applications_update_with_http_info(slug, application_request, opts)
      data
    end

    # Application Viewset
    # @param slug [String] 
    # @param application_request [ApplicationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Application, Integer, Hash)>] Application data, response status code and response headers
    def core_applications_update_with_http_info(slug, application_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_applications_update ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling CoreApi.core_applications_update"
      end
      # verify the required parameter 'application_request' is set
      if @api_client.config.client_side_validation && application_request.nil?
        fail ArgumentError, "Missing the required parameter 'application_request' when calling CoreApi.core_applications_update"
      end
      # resource path
      local_var_path = '/core/applications/{slug}/'.sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Application'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_applications_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_applications_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def core_applications_used_by_list(slug, opts = {})
      data, _status_code, _headers = core_applications_used_by_list_with_http_info(slug, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def core_applications_used_by_list_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_applications_used_by_list ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling CoreApi.core_applications_used_by_list"
      end
      # resource path
      local_var_path = '/core/applications/{slug}/used_by/'.sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_applications_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_applications_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk revoke all sessions for multiple users
    # @param user_pks [Array<Integer>] List of user IDs to revoke all sessions for
    # @param [Hash] opts the optional parameters
    # @return [BulkDeleteSessionResponse]
    def core_authenticated_sessions_bulk_delete_destroy(user_pks, opts = {})
      data, _status_code, _headers = core_authenticated_sessions_bulk_delete_destroy_with_http_info(user_pks, opts)
      data
    end

    # Bulk revoke all sessions for multiple users
    # @param user_pks [Array<Integer>] List of user IDs to revoke all sessions for
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkDeleteSessionResponse, Integer, Hash)>] BulkDeleteSessionResponse data, response status code and response headers
    def core_authenticated_sessions_bulk_delete_destroy_with_http_info(user_pks, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_authenticated_sessions_bulk_delete_destroy ...'
      end
      # verify the required parameter 'user_pks' is set
      if @api_client.config.client_side_validation && user_pks.nil?
        fail ArgumentError, "Missing the required parameter 'user_pks' when calling CoreApi.core_authenticated_sessions_bulk_delete_destroy"
      end
      # resource path
      local_var_path = '/core/authenticated_sessions/bulk_delete/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'user_pks'] = @api_client.build_collection_param(user_pks, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkDeleteSessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_authenticated_sessions_bulk_delete_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_authenticated_sessions_bulk_delete_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatedSession Viewset
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def core_authenticated_sessions_destroy(uuid, opts = {})
      core_authenticated_sessions_destroy_with_http_info(uuid, opts)
      nil
    end

    # AuthenticatedSession Viewset
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def core_authenticated_sessions_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_authenticated_sessions_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CoreApi.core_authenticated_sessions_destroy"
      end
      # resource path
      local_var_path = '/core/authenticated_sessions/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_authenticated_sessions_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_authenticated_sessions_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatedSession Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :session__last_ip 
    # @option opts [String] :session__last_user_agent 
    # @option opts [String] :user__username 
    # @return [PaginatedAuthenticatedSessionList]
    def core_authenticated_sessions_list(opts = {})
      data, _status_code, _headers = core_authenticated_sessions_list_with_http_info(opts)
      data
    end

    # AuthenticatedSession Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :session__last_ip 
    # @option opts [String] :session__last_user_agent 
    # @option opts [String] :user__username 
    # @return [Array<(PaginatedAuthenticatedSessionList, Integer, Hash)>] PaginatedAuthenticatedSessionList data, response status code and response headers
    def core_authenticated_sessions_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_authenticated_sessions_list ...'
      end
      # resource path
      local_var_path = '/core/authenticated_sessions/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'session__last_ip'] = opts[:'session__last_ip'] if !opts[:'session__last_ip'].nil?
      query_params[:'session__last_user_agent'] = opts[:'session__last_user_agent'] if !opts[:'session__last_user_agent'].nil?
      query_params[:'user__username'] = opts[:'user__username'] if !opts[:'user__username'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedAuthenticatedSessionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_authenticated_sessions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_authenticated_sessions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatedSession Viewset
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatedSession]
    def core_authenticated_sessions_retrieve(uuid, opts = {})
      data, _status_code, _headers = core_authenticated_sessions_retrieve_with_http_info(uuid, opts)
      data
    end

    # AuthenticatedSession Viewset
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatedSession, Integer, Hash)>] AuthenticatedSession data, response status code and response headers
    def core_authenticated_sessions_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_authenticated_sessions_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CoreApi.core_authenticated_sessions_retrieve"
      end
      # resource path
      local_var_path = '/core/authenticated_sessions/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatedSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_authenticated_sessions_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_authenticated_sessions_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def core_authenticated_sessions_used_by_list(uuid, opts = {})
      data, _status_code, _headers = core_authenticated_sessions_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def core_authenticated_sessions_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_authenticated_sessions_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CoreApi.core_authenticated_sessions_used_by_list"
      end
      # resource path
      local_var_path = '/core/authenticated_sessions/{uuid}/used_by/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_authenticated_sessions_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_authenticated_sessions_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Brand Viewset
    # @param brand_request [BrandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Brand]
    def core_brands_create(brand_request, opts = {})
      data, _status_code, _headers = core_brands_create_with_http_info(brand_request, opts)
      data
    end

    # Brand Viewset
    # @param brand_request [BrandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Brand, Integer, Hash)>] Brand data, response status code and response headers
    def core_brands_create_with_http_info(brand_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_brands_create ...'
      end
      # verify the required parameter 'brand_request' is set
      if @api_client.config.client_side_validation && brand_request.nil?
        fail ArgumentError, "Missing the required parameter 'brand_request' when calling CoreApi.core_brands_create"
      end
      # resource path
      local_var_path = '/core/brands/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(brand_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Brand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_brands_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_brands_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current brand
    # @param [Hash] opts the optional parameters
    # @return [CurrentBrand]
    def core_brands_current_retrieve(opts = {})
      data, _status_code, _headers = core_brands_current_retrieve_with_http_info(opts)
      data
    end

    # Get current brand
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrentBrand, Integer, Hash)>] CurrentBrand data, response status code and response headers
    def core_brands_current_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_brands_current_retrieve ...'
      end
      # resource path
      local_var_path = '/core/brands/current/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurrentBrand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_brands_current_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_brands_current_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Brand Viewset
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def core_brands_destroy(brand_uuid, opts = {})
      core_brands_destroy_with_http_info(brand_uuid, opts)
      nil
    end

    # Brand Viewset
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def core_brands_destroy_with_http_info(brand_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_brands_destroy ...'
      end
      # verify the required parameter 'brand_uuid' is set
      if @api_client.config.client_side_validation && brand_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'brand_uuid' when calling CoreApi.core_brands_destroy"
      end
      # resource path
      local_var_path = '/core/brands/{brand_uuid}/'.sub('{brand_uuid}', CGI.escape(brand_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_brands_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_brands_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Brand Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :brand_uuid 
    # @option opts [String] :branding_default_flow_background 
    # @option opts [String] :branding_favicon 
    # @option opts [String] :branding_logo 
    # @option opts [String] :branding_title 
    # @option opts [Array<String>] :client_certificates 
    # @option opts [Boolean] :default 
    # @option opts [String] :domain 
    # @option opts [String] :flow_authentication 
    # @option opts [String] :flow_device_code 
    # @option opts [String] :flow_invalidation 
    # @option opts [String] :flow_recovery 
    # @option opts [String] :flow_unenrollment 
    # @option opts [String] :flow_user_settings 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :web_certificate 
    # @return [PaginatedBrandList]
    def core_brands_list(opts = {})
      data, _status_code, _headers = core_brands_list_with_http_info(opts)
      data
    end

    # Brand Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :brand_uuid 
    # @option opts [String] :branding_default_flow_background 
    # @option opts [String] :branding_favicon 
    # @option opts [String] :branding_logo 
    # @option opts [String] :branding_title 
    # @option opts [Array<String>] :client_certificates 
    # @option opts [Boolean] :default 
    # @option opts [String] :domain 
    # @option opts [String] :flow_authentication 
    # @option opts [String] :flow_device_code 
    # @option opts [String] :flow_invalidation 
    # @option opts [String] :flow_recovery 
    # @option opts [String] :flow_unenrollment 
    # @option opts [String] :flow_user_settings 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :web_certificate 
    # @return [Array<(PaginatedBrandList, Integer, Hash)>] PaginatedBrandList data, response status code and response headers
    def core_brands_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_brands_list ...'
      end
      # resource path
      local_var_path = '/core/brands/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'brand_uuid'] = opts[:'brand_uuid'] if !opts[:'brand_uuid'].nil?
      query_params[:'branding_default_flow_background'] = opts[:'branding_default_flow_background'] if !opts[:'branding_default_flow_background'].nil?
      query_params[:'branding_favicon'] = opts[:'branding_favicon'] if !opts[:'branding_favicon'].nil?
      query_params[:'branding_logo'] = opts[:'branding_logo'] if !opts[:'branding_logo'].nil?
      query_params[:'branding_title'] = opts[:'branding_title'] if !opts[:'branding_title'].nil?
      query_params[:'client_certificates'] = @api_client.build_collection_param(opts[:'client_certificates'], :multi) if !opts[:'client_certificates'].nil?
      query_params[:'default'] = opts[:'default'] if !opts[:'default'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'flow_authentication'] = opts[:'flow_authentication'] if !opts[:'flow_authentication'].nil?
      query_params[:'flow_device_code'] = opts[:'flow_device_code'] if !opts[:'flow_device_code'].nil?
      query_params[:'flow_invalidation'] = opts[:'flow_invalidation'] if !opts[:'flow_invalidation'].nil?
      query_params[:'flow_recovery'] = opts[:'flow_recovery'] if !opts[:'flow_recovery'].nil?
      query_params[:'flow_unenrollment'] = opts[:'flow_unenrollment'] if !opts[:'flow_unenrollment'].nil?
      query_params[:'flow_user_settings'] = opts[:'flow_user_settings'] if !opts[:'flow_user_settings'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'web_certificate'] = opts[:'web_certificate'] if !opts[:'web_certificate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedBrandList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_brands_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_brands_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Brand Viewset
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedBrandRequest] :patched_brand_request 
    # @return [Brand]
    def core_brands_partial_update(brand_uuid, opts = {})
      data, _status_code, _headers = core_brands_partial_update_with_http_info(brand_uuid, opts)
      data
    end

    # Brand Viewset
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedBrandRequest] :patched_brand_request 
    # @return [Array<(Brand, Integer, Hash)>] Brand data, response status code and response headers
    def core_brands_partial_update_with_http_info(brand_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_brands_partial_update ...'
      end
      # verify the required parameter 'brand_uuid' is set
      if @api_client.config.client_side_validation && brand_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'brand_uuid' when calling CoreApi.core_brands_partial_update"
      end
      # resource path
      local_var_path = '/core/brands/{brand_uuid}/'.sub('{brand_uuid}', CGI.escape(brand_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_brand_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Brand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_brands_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_brands_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Brand Viewset
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param [Hash] opts the optional parameters
    # @return [Brand]
    def core_brands_retrieve(brand_uuid, opts = {})
      data, _status_code, _headers = core_brands_retrieve_with_http_info(brand_uuid, opts)
      data
    end

    # Brand Viewset
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Brand, Integer, Hash)>] Brand data, response status code and response headers
    def core_brands_retrieve_with_http_info(brand_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_brands_retrieve ...'
      end
      # verify the required parameter 'brand_uuid' is set
      if @api_client.config.client_side_validation && brand_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'brand_uuid' when calling CoreApi.core_brands_retrieve"
      end
      # resource path
      local_var_path = '/core/brands/{brand_uuid}/'.sub('{brand_uuid}', CGI.escape(brand_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Brand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_brands_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_brands_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Brand Viewset
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param brand_request [BrandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Brand]
    def core_brands_update(brand_uuid, brand_request, opts = {})
      data, _status_code, _headers = core_brands_update_with_http_info(brand_uuid, brand_request, opts)
      data
    end

    # Brand Viewset
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param brand_request [BrandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Brand, Integer, Hash)>] Brand data, response status code and response headers
    def core_brands_update_with_http_info(brand_uuid, brand_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_brands_update ...'
      end
      # verify the required parameter 'brand_uuid' is set
      if @api_client.config.client_side_validation && brand_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'brand_uuid' when calling CoreApi.core_brands_update"
      end
      # verify the required parameter 'brand_request' is set
      if @api_client.config.client_side_validation && brand_request.nil?
        fail ArgumentError, "Missing the required parameter 'brand_request' when calling CoreApi.core_brands_update"
      end
      # resource path
      local_var_path = '/core/brands/{brand_uuid}/'.sub('{brand_uuid}', CGI.escape(brand_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(brand_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Brand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_brands_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_brands_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def core_brands_used_by_list(brand_uuid, opts = {})
      data, _status_code, _headers = core_brands_used_by_list_with_http_info(brand_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param brand_uuid [String] A UUID string identifying this Brand.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def core_brands_used_by_list_with_http_info(brand_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_brands_used_by_list ...'
      end
      # verify the required parameter 'brand_uuid' is set
      if @api_client.config.client_side_validation && brand_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'brand_uuid' when calling CoreApi.core_brands_used_by_list"
      end
      # resource path
      local_var_path = '/core/brands/{brand_uuid}/used_by/'.sub('{brand_uuid}', CGI.escape(brand_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_brands_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_brands_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add user to group
    # @param group_uuid [String] A UUID string identifying this Group.
    # @param user_account_request [UserAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def core_groups_add_user_create(group_uuid, user_account_request, opts = {})
      core_groups_add_user_create_with_http_info(group_uuid, user_account_request, opts)
      nil
    end

    # Add user to group
    # @param group_uuid [String] A UUID string identifying this Group.
    # @param user_account_request [UserAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def core_groups_add_user_create_with_http_info(group_uuid, user_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_groups_add_user_create ...'
      end
      # verify the required parameter 'group_uuid' is set
      if @api_client.config.client_side_validation && group_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'group_uuid' when calling CoreApi.core_groups_add_user_create"
      end
      # verify the required parameter 'user_account_request' is set
      if @api_client.config.client_side_validation && user_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'user_account_request' when calling CoreApi.core_groups_add_user_create"
      end
      # resource path
      local_var_path = '/core/groups/{group_uuid}/add_user/'.sub('{group_uuid}', CGI.escape(group_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_account_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_groups_add_user_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_groups_add_user_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group Viewset
    # @param group_request [GroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Group]
    def core_groups_create(group_request, opts = {})
      data, _status_code, _headers = core_groups_create_with_http_info(group_request, opts)
      data
    end

    # Group Viewset
    # @param group_request [GroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Group, Integer, Hash)>] Group data, response status code and response headers
    def core_groups_create_with_http_info(group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_groups_create ...'
      end
      # verify the required parameter 'group_request' is set
      if @api_client.config.client_side_validation && group_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_request' when calling CoreApi.core_groups_create"
      end
      # resource path
      local_var_path = '/core/groups/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Group'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_groups_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_groups_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group Viewset
    # @param group_uuid [String] A UUID string identifying this Group.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def core_groups_destroy(group_uuid, opts = {})
      core_groups_destroy_with_http_info(group_uuid, opts)
      nil
    end

    # Group Viewset
    # @param group_uuid [String] A UUID string identifying this Group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def core_groups_destroy_with_http_info(group_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_groups_destroy ...'
      end
      # verify the required parameter 'group_uuid' is set
      if @api_client.config.client_side_validation && group_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'group_uuid' when calling CoreApi.core_groups_destroy"
      end
      # resource path
      local_var_path = '/core/groups/{group_uuid}/'.sub('{group_uuid}', CGI.escape(group_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_groups_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_groups_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :attributes Attributes
    # @option opts [Boolean] :include_children  (default to false)
    # @option opts [Boolean] :include_inherited_roles  (default to false)
    # @option opts [Boolean] :include_parents  (default to false)
    # @option opts [Boolean] :include_users  (default to true)
    # @option opts [Boolean] :is_superuser 
    # @option opts [Array<Integer>] :members_by_pk 
    # @option opts [Array<String>] :members_by_username Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedGroupList]
    def core_groups_list(opts = {})
      data, _status_code, _headers = core_groups_list_with_http_info(opts)
      data
    end

    # Group Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :attributes Attributes
    # @option opts [Boolean] :include_children  (default to false)
    # @option opts [Boolean] :include_inherited_roles  (default to false)
    # @option opts [Boolean] :include_parents  (default to false)
    # @option opts [Boolean] :include_users  (default to true)
    # @option opts [Boolean] :is_superuser 
    # @option opts [Array<Integer>] :members_by_pk 
    # @option opts [Array<String>] :members_by_username Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedGroupList, Integer, Hash)>] PaginatedGroupList data, response status code and response headers
    def core_groups_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_groups_list ...'
      end
      # resource path
      local_var_path = '/core/groups/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'attributes'] = opts[:'attributes'] if !opts[:'attributes'].nil?
      query_params[:'include_children'] = opts[:'include_children'] if !opts[:'include_children'].nil?
      query_params[:'include_inherited_roles'] = opts[:'include_inherited_roles'] if !opts[:'include_inherited_roles'].nil?
      query_params[:'include_parents'] = opts[:'include_parents'] if !opts[:'include_parents'].nil?
      query_params[:'include_users'] = opts[:'include_users'] if !opts[:'include_users'].nil?
      query_params[:'is_superuser'] = opts[:'is_superuser'] if !opts[:'is_superuser'].nil?
      query_params[:'members_by_pk'] = @api_client.build_collection_param(opts[:'members_by_pk'], :multi) if !opts[:'members_by_pk'].nil?
      query_params[:'members_by_username'] = @api_client.build_collection_param(opts[:'members_by_username'], :multi) if !opts[:'members_by_username'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGroupList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_groups_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_groups_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group Viewset
    # @param group_uuid [String] A UUID string identifying this Group.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupRequest] :patched_group_request 
    # @return [Group]
    def core_groups_partial_update(group_uuid, opts = {})
      data, _status_code, _headers = core_groups_partial_update_with_http_info(group_uuid, opts)
      data
    end

    # Group Viewset
    # @param group_uuid [String] A UUID string identifying this Group.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupRequest] :patched_group_request 
    # @return [Array<(Group, Integer, Hash)>] Group data, response status code and response headers
    def core_groups_partial_update_with_http_info(group_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_groups_partial_update ...'
      end
      # verify the required parameter 'group_uuid' is set
      if @api_client.config.client_side_validation && group_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'group_uuid' when calling CoreApi.core_groups_partial_update"
      end
      # resource path
      local_var_path = '/core/groups/{group_uuid}/'.sub('{group_uuid}', CGI.escape(group_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_group_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Group'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CoreApi.core_groups_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#core_groups_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove user from group
    # @param group_uuid [String] A UUID string identifying this Group.
    # @param user_account_request [UserAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def core_groups_remove_user_create(group_uuid, user_account_request, opts = {})
      core_groups_remove_user_create_with_http_info(group_uuid, user_account_request, opts)
      nil
    end

    # Remove user from group
    # @param group_uuid [String] A UUID string identifying this Group.
    # @param user_account_request [UserAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def core_groups_remove_user_create_with_http_info(group_uuid, user_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.core_groups_remove_user_create ...'
      end
      # verify the required parameter 'group_uuid' is set
      if @api_client.config.client_side_validation && group_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'group_uuid' when calling CoreApi.core_groups_remove_user_create"
      end
      # verify the required parameter 'user_account_request' is set
      if @api_client.config.client_side_validation && user_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'user_account_request' when calling CoreApi.core_groups_remove_user_create"
      end
      # resource path
      local_var_path = '/core/groups/{group_uuid}/remove_user/'.sub('{group_uuid}', CGI.escape(group_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_account_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
[...]
