=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class CryptoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # CertificateKeyPair Viewset
    # @param certificate_key_pair_request [CertificateKeyPairRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CertificateKeyPair]
    def crypto_certificatekeypairs_create(certificate_key_pair_request, opts = {})
      data, _status_code, _headers = crypto_certificatekeypairs_create_with_http_info(certificate_key_pair_request, opts)
      data
    end

    # CertificateKeyPair Viewset
    # @param certificate_key_pair_request [CertificateKeyPairRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CertificateKeyPair, Integer, Hash)>] CertificateKeyPair data, response status code and response headers
    def crypto_certificatekeypairs_create_with_http_info(certificate_key_pair_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_create ...'
      end
      # verify the required parameter 'certificate_key_pair_request' is set
      if @api_client.config.client_side_validation && certificate_key_pair_request.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_key_pair_request' when calling CryptoApi.crypto_certificatekeypairs_create"
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(certificate_key_pair_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CertificateKeyPair'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CertificateKeyPair Viewset
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def crypto_certificatekeypairs_destroy(kp_uuid, opts = {})
      crypto_certificatekeypairs_destroy_with_http_info(kp_uuid, opts)
      nil
    end

    # CertificateKeyPair Viewset
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def crypto_certificatekeypairs_destroy_with_http_info(kp_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_destroy ...'
      end
      # verify the required parameter 'kp_uuid' is set
      if @api_client.config.client_side_validation && kp_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'kp_uuid' when calling CryptoApi.crypto_certificatekeypairs_destroy"
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/{kp_uuid}/'.sub('{' + 'kp_uuid' + '}', CGI.escape(kp_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate a new, self-signed certificate-key pair
    # @param certificate_generation_request [CertificateGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CertificateKeyPair]
    def crypto_certificatekeypairs_generate_create(certificate_generation_request, opts = {})
      data, _status_code, _headers = crypto_certificatekeypairs_generate_create_with_http_info(certificate_generation_request, opts)
      data
    end

    # Generate a new, self-signed certificate-key pair
    # @param certificate_generation_request [CertificateGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CertificateKeyPair, Integer, Hash)>] CertificateKeyPair data, response status code and response headers
    def crypto_certificatekeypairs_generate_create_with_http_info(certificate_generation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_generate_create ...'
      end
      # verify the required parameter 'certificate_generation_request' is set
      if @api_client.config.client_side_validation && certificate_generation_request.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_generation_request' when calling CryptoApi.crypto_certificatekeypairs_generate_create"
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/generate/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(certificate_generation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CertificateKeyPair'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_generate_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_generate_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CertificateKeyPair Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :has_key Only return certificate-key pairs with keys
    # @option opts [Array<KeyTypeEnum>] :key_type 
    # @option opts [String] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedCertificateKeyPairList]
    def crypto_certificatekeypairs_list(opts = {})
      data, _status_code, _headers = crypto_certificatekeypairs_list_with_http_info(opts)
      data
    end

    # CertificateKeyPair Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :has_key Only return certificate-key pairs with keys
    # @option opts [Array<KeyTypeEnum>] :key_type 
    # @option opts [String] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedCertificateKeyPairList, Integer, Hash)>] PaginatedCertificateKeyPairList data, response status code and response headers
    def crypto_certificatekeypairs_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_list ...'
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'has_key'] = opts[:'has_key'] if !opts[:'has_key'].nil?
      query_params[:'key_type'] = @api_client.build_collection_param(opts[:'key_type'], :multi) if !opts[:'key_type'].nil?
      query_params[:'managed'] = opts[:'managed'] if !opts[:'managed'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedCertificateKeyPairList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CertificateKeyPair Viewset
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedCertificateKeyPairRequest] :patched_certificate_key_pair_request 
    # @return [CertificateKeyPair]
    def crypto_certificatekeypairs_partial_update(kp_uuid, opts = {})
      data, _status_code, _headers = crypto_certificatekeypairs_partial_update_with_http_info(kp_uuid, opts)
      data
    end

    # CertificateKeyPair Viewset
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedCertificateKeyPairRequest] :patched_certificate_key_pair_request 
    # @return [Array<(CertificateKeyPair, Integer, Hash)>] CertificateKeyPair data, response status code and response headers
    def crypto_certificatekeypairs_partial_update_with_http_info(kp_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_partial_update ...'
      end
      # verify the required parameter 'kp_uuid' is set
      if @api_client.config.client_side_validation && kp_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'kp_uuid' when calling CryptoApi.crypto_certificatekeypairs_partial_update"
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/{kp_uuid}/'.sub('{' + 'kp_uuid' + '}', CGI.escape(kp_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_certificate_key_pair_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CertificateKeyPair'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CertificateKeyPair Viewset
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @return [CertificateKeyPair]
    def crypto_certificatekeypairs_retrieve(kp_uuid, opts = {})
      data, _status_code, _headers = crypto_certificatekeypairs_retrieve_with_http_info(kp_uuid, opts)
      data
    end

    # CertificateKeyPair Viewset
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CertificateKeyPair, Integer, Hash)>] CertificateKeyPair data, response status code and response headers
    def crypto_certificatekeypairs_retrieve_with_http_info(kp_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_retrieve ...'
      end
      # verify the required parameter 'kp_uuid' is set
      if @api_client.config.client_side_validation && kp_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'kp_uuid' when calling CryptoApi.crypto_certificatekeypairs_retrieve"
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/{kp_uuid}/'.sub('{' + 'kp_uuid' + '}', CGI.escape(kp_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CertificateKeyPair'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CertificateKeyPair Viewset
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param certificate_key_pair_request [CertificateKeyPairRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CertificateKeyPair]
    def crypto_certificatekeypairs_update(kp_uuid, certificate_key_pair_request, opts = {})
      data, _status_code, _headers = crypto_certificatekeypairs_update_with_http_info(kp_uuid, certificate_key_pair_request, opts)
      data
    end

    # CertificateKeyPair Viewset
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param certificate_key_pair_request [CertificateKeyPairRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CertificateKeyPair, Integer, Hash)>] CertificateKeyPair data, response status code and response headers
    def crypto_certificatekeypairs_update_with_http_info(kp_uuid, certificate_key_pair_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_update ...'
      end
      # verify the required parameter 'kp_uuid' is set
      if @api_client.config.client_side_validation && kp_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'kp_uuid' when calling CryptoApi.crypto_certificatekeypairs_update"
      end
      # verify the required parameter 'certificate_key_pair_request' is set
      if @api_client.config.client_side_validation && certificate_key_pair_request.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_key_pair_request' when calling CryptoApi.crypto_certificatekeypairs_update"
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/{kp_uuid}/'.sub('{' + 'kp_uuid' + '}', CGI.escape(kp_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(certificate_key_pair_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CertificateKeyPair'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def crypto_certificatekeypairs_used_by_list(kp_uuid, opts = {})
      data, _status_code, _headers = crypto_certificatekeypairs_used_by_list_with_http_info(kp_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def crypto_certificatekeypairs_used_by_list_with_http_info(kp_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_used_by_list ...'
      end
      # verify the required parameter 'kp_uuid' is set
      if @api_client.config.client_side_validation && kp_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'kp_uuid' when calling CryptoApi.crypto_certificatekeypairs_used_by_list"
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/{kp_uuid}/used_by/'.sub('{' + 'kp_uuid' + '}', CGI.escape(kp_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return certificate-key pairs certificate and log access
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :download 
    # @return [CertificateData]
    def crypto_certificatekeypairs_view_certificate_retrieve(kp_uuid, opts = {})
      data, _status_code, _headers = crypto_certificatekeypairs_view_certificate_retrieve_with_http_info(kp_uuid, opts)
      data
    end

    # Return certificate-key pairs certificate and log access
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :download 
    # @return [Array<(CertificateData, Integer, Hash)>] CertificateData data, response status code and response headers
    def crypto_certificatekeypairs_view_certificate_retrieve_with_http_info(kp_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_view_certificate_retrieve ...'
      end
      # verify the required parameter 'kp_uuid' is set
      if @api_client.config.client_side_validation && kp_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'kp_uuid' when calling CryptoApi.crypto_certificatekeypairs_view_certificate_retrieve"
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/{kp_uuid}/view_certificate/'.sub('{' + 'kp_uuid' + '}', CGI.escape(kp_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'download'] = opts[:'download'] if !opts[:'download'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CertificateData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_view_certificate_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_view_certificate_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return certificate-key pairs private key and log access
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :download 
    # @return [CertificateData]
    def crypto_certificatekeypairs_view_private_key_retrieve(kp_uuid, opts = {})
      data, _status_code, _headers = crypto_certificatekeypairs_view_private_key_retrieve_with_http_info(kp_uuid, opts)
      data
    end

    # Return certificate-key pairs private key and log access
    # @param kp_uuid [String] A UUID string identifying this Certificate-Key Pair.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :download 
    # @return [Array<(CertificateData, Integer, Hash)>] CertificateData data, response status code and response headers
    def crypto_certificatekeypairs_view_private_key_retrieve_with_http_info(kp_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CryptoApi.crypto_certificatekeypairs_view_private_key_retrieve ...'
      end
      # verify the required parameter 'kp_uuid' is set
      if @api_client.config.client_side_validation && kp_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'kp_uuid' when calling CryptoApi.crypto_certificatekeypairs_view_private_key_retrieve"
      end
      # resource path
      local_var_path = '/crypto/certificatekeypairs/{kp_uuid}/view_private_key/'.sub('{' + 'kp_uuid' + '}', CGI.escape(kp_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'download'] = opts[:'download'] if !opts[:'download'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CertificateData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"CryptoApi.crypto_certificatekeypairs_view_private_key_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CryptoApi#crypto_certificatekeypairs_view_private_key_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
