=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class DebugApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Debug-only endpoint to allow frontend to log messages, usable when browser develooper-tools aren't available.  Never available in production.
    # @param server_log_request [ServerLogRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def debug_log_create(server_log_request, opts = {})
      debug_log_create_with_http_info(server_log_request, opts)
      nil
    end

    # Debug-only endpoint to allow frontend to log messages, usable when browser develooper-tools aren&#39;t available.  Never available in production.
    # @param server_log_request [ServerLogRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def debug_log_create_with_http_info(server_log_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DebugApi.debug_log_create ...'
      end
      # verify the required parameter 'server_log_request' is set
      if @api_client.config.client_side_validation && server_log_request.nil?
        fail ArgumentError, "Missing the required parameter 'server_log_request' when calling DebugApi.debug_log_create"
      end
      # resource path
      local_var_path = '/debug/log/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(server_log_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"DebugApi.debug_log_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DebugApi#debug_log_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
