=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class EndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @return [AgentConfig]
    def endpoints_agents_connectors_agent_config_retrieve(opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_agent_config_retrieve_with_http_info(opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentConfig, Integer, Hash)>] AgentConfig data, response status code and response headers
    def endpoints_agents_connectors_agent_config_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_agent_config_retrieve ...'
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/agent_config/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_agent_config_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_agent_config_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param device [String] 
    # @param [Hash] opts the optional parameters
    # @return [AgentTokenResponse]
    def endpoints_agents_connectors_auth_fed_create(device, opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_auth_fed_create_with_http_info(device, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param device [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentTokenResponse, Integer, Hash)>] AgentTokenResponse data, response status code and response headers
    def endpoints_agents_connectors_auth_fed_create_with_http_info(device, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_auth_fed_create ...'
      end
      # verify the required parameter 'device' is set
      if @api_client.config.client_side_validation && device.nil?
        fail ArgumentError, "Missing the required parameter 'device' when calling EndpointsApi.endpoints_agents_connectors_auth_fed_create"
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/auth_fed/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'device'] = device

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_auth_fed_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_auth_fed_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @return [AgentAuthenticationResponse]
    def endpoints_agents_connectors_auth_ia_create(opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_auth_ia_create_with_http_info(opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentAuthenticationResponse, Integer, Hash)>] AgentAuthenticationResponse data, response status code and response headers
    def endpoints_agents_connectors_auth_ia_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_auth_ia_create ...'
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/auth_ia/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentAuthenticationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_auth_ia_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_auth_ia_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [DeviceFactsRequest] :device_facts_request 
    # @return [nil]
    def endpoints_agents_connectors_check_in_create(opts = {})
      endpoints_agents_connectors_check_in_create_with_http_info(opts)
      nil
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [DeviceFactsRequest] :device_facts_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def endpoints_agents_connectors_check_in_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_check_in_create ...'
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/check_in/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'device_facts_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_check_in_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_check_in_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param agent_connector_request [AgentConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentConnector]
    def endpoints_agents_connectors_create(agent_connector_request, opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_create_with_http_info(agent_connector_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param agent_connector_request [AgentConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentConnector, Integer, Hash)>] AgentConnector data, response status code and response headers
    def endpoints_agents_connectors_create_with_http_info(agent_connector_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_create ...'
      end
      # verify the required parameter 'agent_connector_request' is set
      if @api_client.config.client_side_validation && agent_connector_request.nil?
        fail ArgumentError, "Missing the required parameter 'agent_connector_request' when calling EndpointsApi.endpoints_agents_connectors_create"
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(agent_connector_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentConnector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def endpoints_agents_connectors_destroy(connector_uuid, opts = {})
      endpoints_agents_connectors_destroy_with_http_info(connector_uuid, opts)
      nil
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def endpoints_agents_connectors_destroy_with_http_info(connector_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_destroy ...'
      end
      # verify the required parameter 'connector_uuid' is set
      if @api_client.config.client_side_validation && connector_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uuid' when calling EndpointsApi.endpoints_agents_connectors_destroy"
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/{connector_uuid}/'.sub('{connector_uuid}', CGI.escape(connector_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param enroll_request [EnrollRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentTokenResponse]
    def endpoints_agents_connectors_enroll_create(enroll_request, opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_enroll_create_with_http_info(enroll_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param enroll_request [EnrollRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentTokenResponse, Integer, Hash)>] AgentTokenResponse data, response status code and response headers
    def endpoints_agents_connectors_enroll_create_with_http_info(enroll_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_enroll_create ...'
      end
      # verify the required parameter 'enroll_request' is set
      if @api_client.config.client_side_validation && enroll_request.nil?
        fail ArgumentError, "Missing the required parameter 'enroll_request' when calling EndpointsApi.endpoints_agents_connectors_enroll_create"
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/enroll/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enroll_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_enroll_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_enroll_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :enabled 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedAgentConnectorList]
    def endpoints_agents_connectors_list(opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_list_with_http_info(opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :enabled 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedAgentConnectorList, Integer, Hash)>] PaginatedAgentConnectorList data, response status code and response headers
    def endpoints_agents_connectors_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_list ...'
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'enabled'] = opts[:'enabled'] if !opts[:'enabled'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedAgentConnectorList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate configuration for MDM systems to deploy authentik Agent
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param mdm_config_request [MDMConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MDMConfigResponse]
    def endpoints_agents_connectors_mdm_config_create(connector_uuid, mdm_config_request, opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_mdm_config_create_with_http_info(connector_uuid, mdm_config_request, opts)
      data
    end

    # Generate configuration for MDM systems to deploy authentik Agent
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param mdm_config_request [MDMConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MDMConfigResponse, Integer, Hash)>] MDMConfigResponse data, response status code and response headers
    def endpoints_agents_connectors_mdm_config_create_with_http_info(connector_uuid, mdm_config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_mdm_config_create ...'
      end
      # verify the required parameter 'connector_uuid' is set
      if @api_client.config.client_side_validation && connector_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uuid' when calling EndpointsApi.endpoints_agents_connectors_mdm_config_create"
      end
      # verify the required parameter 'mdm_config_request' is set
      if @api_client.config.client_side_validation && mdm_config_request.nil?
        fail ArgumentError, "Missing the required parameter 'mdm_config_request' when calling EndpointsApi.endpoints_agents_connectors_mdm_config_create"
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/{connector_uuid}/mdm_config/'.sub('{connector_uuid}', CGI.escape(connector_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mdm_config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MDMConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_mdm_config_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_mdm_config_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedAgentConnectorRequest] :patched_agent_connector_request 
    # @return [AgentConnector]
    def endpoints_agents_connectors_partial_update(connector_uuid, opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_partial_update_with_http_info(connector_uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedAgentConnectorRequest] :patched_agent_connector_request 
    # @return [Array<(AgentConnector, Integer, Hash)>] AgentConnector data, response status code and response headers
    def endpoints_agents_connectors_partial_update_with_http_info(connector_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_partial_update ...'
      end
      # verify the required parameter 'connector_uuid' is set
      if @api_client.config.client_side_validation && connector_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uuid' when calling EndpointsApi.endpoints_agents_connectors_partial_update"
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/{connector_uuid}/'.sub('{connector_uuid}', CGI.escape(connector_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_agent_connector_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AgentConnector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param [Hash] opts the optional parameters
    # @return [AgentConnector]
    def endpoints_agents_connectors_retrieve(connector_uuid, opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_retrieve_with_http_info(connector_uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentConnector, Integer, Hash)>] AgentConnector data, response status code and response headers
    def endpoints_agents_connectors_retrieve_with_http_info(connector_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_retrieve ...'
      end
      # verify the required parameter 'connector_uuid' is set
      if @api_client.config.client_side_validation && connector_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uuid' when calling EndpointsApi.endpoints_agents_connectors_retrieve"
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/{connector_uuid}/'.sub('{connector_uuid}', CGI.escape(connector_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentConnector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param agent_connector_request [AgentConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentConnector]
    def endpoints_agents_connectors_update(connector_uuid, agent_connector_request, opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_update_with_http_info(connector_uuid, agent_connector_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param agent_connector_request [AgentConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentConnector, Integer, Hash)>] AgentConnector data, response status code and response headers
    def endpoints_agents_connectors_update_with_http_info(connector_uuid, agent_connector_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_update ...'
      end
      # verify the required parameter 'connector_uuid' is set
      if @api_client.config.client_side_validation && connector_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uuid' when calling EndpointsApi.endpoints_agents_connectors_update"
      end
      # verify the required parameter 'agent_connector_request' is set
      if @api_client.config.client_side_validation && agent_connector_request.nil?
        fail ArgumentError, "Missing the required parameter 'agent_connector_request' when calling EndpointsApi.endpoints_agents_connectors_update"
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/{connector_uuid}/'.sub('{connector_uuid}', CGI.escape(connector_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(agent_connector_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentConnector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def endpoints_agents_connectors_used_by_list(connector_uuid, opts = {})
      data, _status_code, _headers = endpoints_agents_connectors_used_by_list_with_http_info(connector_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param connector_uuid [String] A UUID string identifying this Agent Connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def endpoints_agents_connectors_used_by_list_with_http_info(connector_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_connectors_used_by_list ...'
      end
      # verify the required parameter 'connector_uuid' is set
      if @api_client.config.client_side_validation && connector_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uuid' when calling EndpointsApi.endpoints_agents_connectors_used_by_list"
      end
      # resource path
      local_var_path = '/endpoints/agents/connectors/{connector_uuid}/used_by/'.sub('{connector_uuid}', CGI.escape(connector_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_connectors_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_connectors_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param enrollment_token_request [EnrollmentTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnrollmentToken]
    def endpoints_agents_enrollment_tokens_create(enrollment_token_request, opts = {})
      data, _status_code, _headers = endpoints_agents_enrollment_tokens_create_with_http_info(enrollment_token_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param enrollment_token_request [EnrollmentTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnrollmentToken, Integer, Hash)>] EnrollmentToken data, response status code and response headers
    def endpoints_agents_enrollment_tokens_create_with_http_info(enrollment_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_enrollment_tokens_create ...'
      end
      # verify the required parameter 'enrollment_token_request' is set
      if @api_client.config.client_side_validation && enrollment_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_token_request' when calling EndpointsApi.endpoints_agents_enrollment_tokens_create"
      end
      # resource path
      local_var_path = '/endpoints/agents/enrollment_tokens/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enrollment_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollmentToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_enrollment_tokens_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_enrollment_tokens_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def endpoints_agents_enrollment_tokens_destroy(token_uuid, opts = {})
      endpoints_agents_enrollment_tokens_destroy_with_http_info(token_uuid, opts)
      nil
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def endpoints_agents_enrollment_tokens_destroy_with_http_info(token_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_enrollment_tokens_destroy ...'
      end
      # verify the required parameter 'token_uuid' is set
      if @api_client.config.client_side_validation && token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'token_uuid' when calling EndpointsApi.endpoints_agents_enrollment_tokens_destroy"
      end
      # resource path
      local_var_path = '/endpoints/agents/enrollment_tokens/{token_uuid}/'.sub('{token_uuid}', CGI.escape(token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_enrollment_tokens_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_enrollment_tokens_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :connector 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :token_uuid 
    # @return [PaginatedEnrollmentTokenList]
    def endpoints_agents_enrollment_tokens_list(opts = {})
      data, _status_code, _headers = endpoints_agents_enrollment_tokens_list_with_http_info(opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :connector 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :token_uuid 
    # @return [Array<(PaginatedEnrollmentTokenList, Integer, Hash)>] PaginatedEnrollmentTokenList data, response status code and response headers
    def endpoints_agents_enrollment_tokens_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_enrollment_tokens_list ...'
      end
      # resource path
      local_var_path = '/endpoints/agents/enrollment_tokens/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'connector'] = opts[:'connector'] if !opts[:'connector'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'token_uuid'] = opts[:'token_uuid'] if !opts[:'token_uuid'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedEnrollmentTokenList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_enrollment_tokens_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_enrollment_tokens_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEnrollmentTokenRequest] :patched_enrollment_token_request 
    # @return [EnrollmentToken]
    def endpoints_agents_enrollment_tokens_partial_update(token_uuid, opts = {})
      data, _status_code, _headers = endpoints_agents_enrollment_tokens_partial_update_with_http_info(token_uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEnrollmentTokenRequest] :patched_enrollment_token_request 
    # @return [Array<(EnrollmentToken, Integer, Hash)>] EnrollmentToken data, response status code and response headers
    def endpoints_agents_enrollment_tokens_partial_update_with_http_info(token_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_enrollment_tokens_partial_update ...'
      end
      # verify the required parameter 'token_uuid' is set
      if @api_client.config.client_side_validation && token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'token_uuid' when calling EndpointsApi.endpoints_agents_enrollment_tokens_partial_update"
      end
      # resource path
      local_var_path = '/endpoints/agents/enrollment_tokens/{token_uuid}/'.sub('{token_uuid}', CGI.escape(token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_enrollment_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollmentToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_enrollment_tokens_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_enrollment_tokens_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @return [EnrollmentToken]
    def endpoints_agents_enrollment_tokens_retrieve(token_uuid, opts = {})
      data, _status_code, _headers = endpoints_agents_enrollment_tokens_retrieve_with_http_info(token_uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnrollmentToken, Integer, Hash)>] EnrollmentToken data, response status code and response headers
    def endpoints_agents_enrollment_tokens_retrieve_with_http_info(token_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_enrollment_tokens_retrieve ...'
      end
      # verify the required parameter 'token_uuid' is set
      if @api_client.config.client_side_validation && token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'token_uuid' when calling EndpointsApi.endpoints_agents_enrollment_tokens_retrieve"
      end
      # resource path
      local_var_path = '/endpoints/agents/enrollment_tokens/{token_uuid}/'.sub('{token_uuid}', CGI.escape(token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollmentToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_enrollment_tokens_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_enrollment_tokens_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param enrollment_token_request [EnrollmentTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnrollmentToken]
    def endpoints_agents_enrollment_tokens_update(token_uuid, enrollment_token_request, opts = {})
      data, _status_code, _headers = endpoints_agents_enrollment_tokens_update_with_http_info(token_uuid, enrollment_token_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param enrollment_token_request [EnrollmentTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnrollmentToken, Integer, Hash)>] EnrollmentToken data, response status code and response headers
    def endpoints_agents_enrollment_tokens_update_with_http_info(token_uuid, enrollment_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_enrollment_tokens_update ...'
      end
      # verify the required parameter 'token_uuid' is set
      if @api_client.config.client_side_validation && token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'token_uuid' when calling EndpointsApi.endpoints_agents_enrollment_tokens_update"
      end
      # verify the required parameter 'enrollment_token_request' is set
      if @api_client.config.client_side_validation && enrollment_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_token_request' when calling EndpointsApi.endpoints_agents_enrollment_tokens_update"
      end
      # resource path
      local_var_path = '/endpoints/agents/enrollment_tokens/{token_uuid}/'.sub('{token_uuid}', CGI.escape(token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enrollment_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollmentToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_enrollment_tokens_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_enrollment_tokens_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def endpoints_agents_enrollment_tokens_used_by_list(token_uuid, opts = {})
      data, _status_code, _headers = endpoints_agents_enrollment_tokens_used_by_list_with_http_info(token_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def endpoints_agents_enrollment_tokens_used_by_list_with_http_info(token_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_enrollment_tokens_used_by_list ...'
      end
      # verify the required parameter 'token_uuid' is set
      if @api_client.config.client_side_validation && token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'token_uuid' when calling EndpointsApi.endpoints_agents_enrollment_tokens_used_by_list"
      end
      # resource path
      local_var_path = '/endpoints/agents/enrollment_tokens/{token_uuid}/used_by/'.sub('{token_uuid}', CGI.escape(token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_enrollment_tokens_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_enrollment_tokens_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return token key and log access
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @return [TokenView]
    def endpoints_agents_enrollment_tokens_view_key_retrieve(token_uuid, opts = {})
      data, _status_code, _headers = endpoints_agents_enrollment_tokens_view_key_retrieve_with_http_info(token_uuid, opts)
      data
    end

    # Return token key and log access
    # @param token_uuid [String] A UUID string identifying this Enrollment Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TokenView, Integer, Hash)>] TokenView data, response status code and response headers
    def endpoints_agents_enrollment_tokens_view_key_retrieve_with_http_info(token_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_enrollment_tokens_view_key_retrieve ...'
      end
      # verify the required parameter 'token_uuid' is set
      if @api_client.config.client_side_validation && token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'token_uuid' when calling EndpointsApi.endpoints_agents_enrollment_tokens_view_key_retrieve"
      end
      # resource path
      local_var_path = '/endpoints/agents/enrollment_tokens/{token_uuid}/view_key/'.sub('{token_uuid}', CGI.escape(token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TokenView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_enrollment_tokens_view_key_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_enrollment_tokens_view_key_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param agent_psso_device_registration_request [AgentPSSODeviceRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentPSSODeviceRegistrationResponse]
    def endpoints_agents_psso_register_device_create(agent_psso_device_registration_request, opts = {})
      data, _status_code, _headers = endpoints_agents_psso_register_device_create_with_http_info(agent_psso_device_registration_request, opts)
      data
    end

    # @param agent_psso_device_registration_request [AgentPSSODeviceRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentPSSODeviceRegistrationResponse, Integer, Hash)>] AgentPSSODeviceRegistrationResponse data, response status code and response headers
    def endpoints_agents_psso_register_device_create_with_http_info(agent_psso_device_registration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_psso_register_device_create ...'
      end
      # verify the required parameter 'agent_psso_device_registration_request' is set
      if @api_client.config.client_side_validation && agent_psso_device_registration_request.nil?
        fail ArgumentError, "Missing the required parameter 'agent_psso_device_registration_request' when calling EndpointsApi.endpoints_agents_psso_register_device_create"
      end
      # resource path
      local_var_path = '/endpoints/agents/psso/register/device/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(agent_psso_device_registration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentPSSODeviceRegistrationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_psso_register_device_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_psso_register_device_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param agent_psso_user_registration_request [AgentPSSOUserRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UserSelf]
    def endpoints_agents_psso_register_user_create(agent_psso_user_registration_request, opts = {})
      data, _status_code, _headers = endpoints_agents_psso_register_user_create_with_http_info(agent_psso_user_registration_request, opts)
      data
    end

    # @param agent_psso_user_registration_request [AgentPSSOUserRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserSelf, Integer, Hash)>] UserSelf data, response status code and response headers
    def endpoints_agents_psso_register_user_create_with_http_info(agent_psso_user_registration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_agents_psso_register_user_create ...'
      end
      # verify the required parameter 'agent_psso_user_registration_request' is set
      if @api_client.config.client_side_validation && agent_psso_user_registration_request.nil?
        fail ArgumentError, "Missing the required parameter 'agent_psso_user_registration_request' when calling EndpointsApi.endpoints_agents_psso_register_user_create"
      end
      # resource path
      local_var_path = '/endpoints/agents/psso/register/user/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(agent_psso_user_registration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UserSelf'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_agents_psso_register_user_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_agents_psso_register_user_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Connector Viewset
    # @param connector_uuid [String] A UUID string identifying this connector.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def endpoints_connectors_destroy(connector_uuid, opts = {})
      endpoints_connectors_destroy_with_http_info(connector_uuid, opts)
      nil
    end

    # Connector Viewset
    # @param connector_uuid [String] A UUID string identifying this connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def endpoints_connectors_destroy_with_http_info(connector_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_connectors_destroy ...'
      end
      # verify the required parameter 'connector_uuid' is set
      if @api_client.config.client_side_validation && connector_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uuid' when calling EndpointsApi.endpoints_connectors_destroy"
      end
      # resource path
      local_var_path = '/endpoints/connectors/{connector_uuid}/'.sub('{connector_uuid}', CGI.escape(connector_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_connectors_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_connectors_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Connector Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedConnectorList]
    def endpoints_connectors_list(opts = {})
      data, _status_code, _headers = endpoints_connectors_list_with_http_info(opts)
      data
    end

    # Connector Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedConnectorList, Integer, Hash)>] PaginatedConnectorList data, response status code and response headers
    def endpoints_connectors_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_connectors_list ...'
      end
      # resource path
      local_var_path = '/endpoints/connectors/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedConnectorList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_connectors_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_connectors_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Connector Viewset
    # @param connector_uuid [String] A UUID string identifying this connector.
    # @param [Hash] opts the optional parameters
    # @return [Connector]
    def endpoints_connectors_retrieve(connector_uuid, opts = {})
      data, _status_code, _headers = endpoints_connectors_retrieve_with_http_info(connector_uuid, opts)
      data
    end

    # Connector Viewset
    # @param connector_uuid [String] A UUID string identifying this connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Connector, Integer, Hash)>] Connector data, response status code and response headers
    def endpoints_connectors_retrieve_with_http_info(connector_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_connectors_retrieve ...'
      end
      # verify the required parameter 'connector_uuid' is set
      if @api_client.config.client_side_validation && connector_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uuid' when calling EndpointsApi.endpoints_connectors_retrieve"
      end
      # resource path
      local_var_path = '/endpoints/connectors/{connector_uuid}/'.sub('{connector_uuid}', CGI.escape(connector_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Connector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_connectors_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_connectors_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<TypeCreate>]
    def endpoints_connectors_types_list(opts = {})
      data, _status_code, _headers = endpoints_connectors_types_list_with_http_info(opts)
      data
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TypeCreate>, Integer, Hash)>] Array<TypeCreate> data, response status code and response headers
    def endpoints_connectors_types_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_connectors_types_list ...'
      end
      # resource path
      local_var_path = '/endpoints/connectors/types/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TypeCreate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_connectors_types_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_connectors_types_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param connector_uuid [String] A UUID string identifying this connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def endpoints_connectors_used_by_list(connector_uuid, opts = {})
      data, _status_code, _headers = endpoints_connectors_used_by_list_with_http_info(connector_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param connector_uuid [String] A UUID string identifying this connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def endpoints_connectors_used_by_list_with_http_info(connector_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_connectors_used_by_list ...'
      end
      # verify the required parameter 'connector_uuid' is set
      if @api_client.config.client_side_validation && connector_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uuid' when calling EndpointsApi.endpoints_connectors_used_by_list"
      end
      # resource path
      local_var_path = '/endpoints/connectors/{connector_uuid}/used_by/'.sub('{connector_uuid}', CGI.escape(connector_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_connectors_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_connectors_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DeviceAccessGroup Viewset
    # @param device_access_group_request [DeviceAccessGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeviceAccessGroup]
    def endpoints_device_access_groups_create(device_access_group_request, opts = {})
      data, _status_code, _headers = endpoints_device_access_groups_create_with_http_info(device_access_group_request, opts)
      data
    end

    # DeviceAccessGroup Viewset
    # @param device_access_group_request [DeviceAccessGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceAccessGroup, Integer, Hash)>] DeviceAccessGroup data, response status code and response headers
    def endpoints_device_access_groups_create_with_http_info(device_access_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_device_access_groups_create ...'
      end
      # verify the required parameter 'device_access_group_request' is set
      if @api_client.config.client_side_validation && device_access_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'device_access_group_request' when calling EndpointsApi.endpoints_device_access_groups_create"
      end
      # resource path
      local_var_path = '/endpoints/device_access_groups/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(device_access_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceAccessGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_device_access_groups_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_device_access_groups_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DeviceAccessGroup Viewset
    # @param pbm_uuid [String] A UUID string identifying this Device access group.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def endpoints_device_access_groups_destroy(pbm_uuid, opts = {})
      endpoints_device_access_groups_destroy_with_http_info(pbm_uuid, opts)
      nil
    end

    # DeviceAccessGroup Viewset
    # @param pbm_uuid [String] A UUID string identifying this Device access group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def endpoints_device_access_groups_destroy_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_device_access_groups_destroy ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling EndpointsApi.endpoints_device_access_groups_destroy"
      end
      # resource path
      local_var_path = '/endpoints/device_access_groups/{pbm_uuid}/'.sub('{pbm_uuid}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_device_access_groups_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_device_access_groups_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DeviceAccessGroup Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [String] :search A search term.
    # @return [PaginatedDeviceAccessGroupList]
    def endpoints_device_access_groups_list(opts = {})
      data, _status_code, _headers = endpoints_device_access_groups_list_with_http_info(opts)
      data
    end

    # DeviceAccessGroup Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedDeviceAccessGroupList, Integer, Hash)>] PaginatedDeviceAccessGroupList data, response status code and response headers
    def endpoints_device_access_groups_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_device_access_groups_list ...'
      end
      # resource path
      local_var_path = '/endpoints/device_access_groups/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pbm_uuid'] = opts[:'pbm_uuid'] if !opts[:'pbm_uuid'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDeviceAccessGroupList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_device_access_groups_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_device_access_groups_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DeviceAccessGroup Viewset
    # @param pbm_uuid [String] A UUID string identifying this Device access group.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDeviceAccessGroupRequest] :patched_device_access_group_request 
    # @return [DeviceAccessGroup]
    def endpoints_device_access_groups_partial_update(pbm_uuid, opts = {})
      data, _status_code, _headers = endpoints_device_access_groups_partial_update_with_http_info(pbm_uuid, opts)
      data
    end

    # DeviceAccessGroup Viewset
    # @param pbm_uuid [String] A UUID string identifying this Device access group.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDeviceAccessGroupRequest] :patched_device_access_group_request 
    # @return [Array<(DeviceAccessGroup, Integer, Hash)>] DeviceAccessGroup data, response status code and response headers
    def endpoints_device_access_groups_partial_update_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_device_access_groups_partial_update ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling EndpointsApi.endpoints_device_access_groups_partial_update"
      end
      # resource path
      local_var_path = '/endpoints/device_access_groups/{pbm_uuid}/'.sub('{pbm_uuid}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_device_access_group_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceAccessGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_device_access_groups_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_device_access_groups_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DeviceAccessGroup Viewset
    # @param pbm_uuid [String] A UUID string identifying this Device access group.
    # @param [Hash] opts the optional parameters
    # @return [DeviceAccessGroup]
    def endpoints_device_access_groups_retrieve(pbm_uuid, opts = {})
      data, _status_code, _headers = endpoints_device_access_groups_retrieve_with_http_info(pbm_uuid, opts)
      data
    end

    # DeviceAccessGroup Viewset
    # @param pbm_uuid [String] A UUID string identifying this Device access group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceAccessGroup, Integer, Hash)>] DeviceAccessGroup data, response status code and response headers
    def endpoints_device_access_groups_retrieve_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_device_access_groups_retrieve ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling EndpointsApi.endpoints_device_access_groups_retrieve"
      end
      # resource path
      local_var_path = '/endpoints/device_access_groups/{pbm_uuid}/'.sub('{pbm_uuid}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceAccessGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_device_access_groups_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_device_access_groups_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DeviceAccessGroup Viewset
    # @param pbm_uuid [String] A UUID string identifying this Device access group.
    # @param device_access_group_request [DeviceAccessGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeviceAccessGroup]
    def endpoints_device_access_groups_update(pbm_uuid, device_access_group_request, opts = {})
      data, _status_code, _headers = endpoints_device_access_groups_update_with_http_info(pbm_uuid, device_access_group_request, opts)
      data
    end

    # DeviceAccessGroup Viewset
    # @param pbm_uuid [String] A UUID string identifying this Device access group.
    # @param device_access_group_request [DeviceAccessGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceAccessGroup, Integer, Hash)>] DeviceAccessGroup data, response status code and response headers
    def endpoints_device_access_groups_update_with_http_info(pbm_uuid, device_access_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_device_access_groups_update ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling EndpointsApi.endpoints_device_access_groups_update"
      end
      # verify the required parameter 'device_access_group_request' is set
      if @api_client.config.client_side_validation && device_access_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'device_access_group_request' when calling EndpointsApi.endpoints_device_access_groups_update"
      end
      # resource path
      local_var_path = '/endpoints/device_access_groups/{pbm_uuid}/'.sub('{pbm_uuid}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(device_access_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceAccessGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_device_access_groups_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_device_access_groups_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param pbm_uuid [String] A UUID string identifying this Device access group.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def endpoints_device_access_groups_used_by_list(pbm_uuid, opts = {})
      data, _status_code, _headers = endpoints_device_access_groups_used_by_list_with_http_info(pbm_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
[...]
