=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class EnterpriseApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # License Viewset
    # @param license_request [LicenseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [License]
    def enterprise_license_create(license_request, opts = {})
      data, _status_code, _headers = enterprise_license_create_with_http_info(license_request, opts)
      data
    end

    # License Viewset
    # @param license_request [LicenseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(License, Integer, Hash)>] License data, response status code and response headers
    def enterprise_license_create_with_http_info(license_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_create ...'
      end
      # verify the required parameter 'license_request' is set
      if @api_client.config.client_side_validation && license_request.nil?
        fail ArgumentError, "Missing the required parameter 'license_request' when calling EnterpriseApi.enterprise_license_create"
      end
      # resource path
      local_var_path = '/enterprise/license/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(license_request)

      # return_type
      return_type = opts[:debug_return_type] || 'License'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # License Viewset
    # @param license_uuid [String] A UUID string identifying this License.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def enterprise_license_destroy(license_uuid, opts = {})
      enterprise_license_destroy_with_http_info(license_uuid, opts)
      nil
    end

    # License Viewset
    # @param license_uuid [String] A UUID string identifying this License.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def enterprise_license_destroy_with_http_info(license_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_destroy ...'
      end
      # verify the required parameter 'license_uuid' is set
      if @api_client.config.client_side_validation && license_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'license_uuid' when calling EnterpriseApi.enterprise_license_destroy"
      end
      # resource path
      local_var_path = '/enterprise/license/{license_uuid}/'.sub('{license_uuid}', CGI.escape(license_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Forecast how many users will be required in a year
    # @param [Hash] opts the optional parameters
    # @return [LicenseForecast]
    def enterprise_license_forecast_retrieve(opts = {})
      data, _status_code, _headers = enterprise_license_forecast_retrieve_with_http_info(opts)
      data
    end

    # Forecast how many users will be required in a year
    # @param [Hash] opts the optional parameters
    # @return [Array<(LicenseForecast, Integer, Hash)>] LicenseForecast data, response status code and response headers
    def enterprise_license_forecast_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_forecast_retrieve ...'
      end
      # resource path
      local_var_path = '/enterprise/license/forecast/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LicenseForecast'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_forecast_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_forecast_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get install_id
    # @param [Hash] opts the optional parameters
    # @return [InstallID]
    def enterprise_license_install_id_retrieve(opts = {})
      data, _status_code, _headers = enterprise_license_install_id_retrieve_with_http_info(opts)
      data
    end

    # Get install_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstallID, Integer, Hash)>] InstallID data, response status code and response headers
    def enterprise_license_install_id_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_install_id_retrieve ...'
      end
      # resource path
      local_var_path = '/enterprise/license/install_id/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstallID'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_install_id_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_install_id_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # License Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedLicenseList]
    def enterprise_license_list(opts = {})
      data, _status_code, _headers = enterprise_license_list_with_http_info(opts)
      data
    end

    # License Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedLicenseList, Integer, Hash)>] PaginatedLicenseList data, response status code and response headers
    def enterprise_license_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_list ...'
      end
      # resource path
      local_var_path = '/enterprise/license/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedLicenseList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # License Viewset
    # @param license_uuid [String] A UUID string identifying this License.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedLicenseRequest] :patched_license_request 
    # @return [License]
    def enterprise_license_partial_update(license_uuid, opts = {})
      data, _status_code, _headers = enterprise_license_partial_update_with_http_info(license_uuid, opts)
      data
    end

    # License Viewset
    # @param license_uuid [String] A UUID string identifying this License.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedLicenseRequest] :patched_license_request 
    # @return [Array<(License, Integer, Hash)>] License data, response status code and response headers
    def enterprise_license_partial_update_with_http_info(license_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_partial_update ...'
      end
      # verify the required parameter 'license_uuid' is set
      if @api_client.config.client_side_validation && license_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'license_uuid' when calling EnterpriseApi.enterprise_license_partial_update"
      end
      # resource path
      local_var_path = '/enterprise/license/{license_uuid}/'.sub('{license_uuid}', CGI.escape(license_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_license_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'License'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # License Viewset
    # @param license_uuid [String] A UUID string identifying this License.
    # @param [Hash] opts the optional parameters
    # @return [License]
    def enterprise_license_retrieve(license_uuid, opts = {})
      data, _status_code, _headers = enterprise_license_retrieve_with_http_info(license_uuid, opts)
      data
    end

    # License Viewset
    # @param license_uuid [String] A UUID string identifying this License.
    # @param [Hash] opts the optional parameters
    # @return [Array<(License, Integer, Hash)>] License data, response status code and response headers
    def enterprise_license_retrieve_with_http_info(license_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_retrieve ...'
      end
      # verify the required parameter 'license_uuid' is set
      if @api_client.config.client_side_validation && license_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'license_uuid' when calling EnterpriseApi.enterprise_license_retrieve"
      end
      # resource path
      local_var_path = '/enterprise/license/{license_uuid}/'.sub('{license_uuid}', CGI.escape(license_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'License'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the total license status
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :cached  (default to true)
    # @return [LicenseSummary]
    def enterprise_license_summary_retrieve(opts = {})
      data, _status_code, _headers = enterprise_license_summary_retrieve_with_http_info(opts)
      data
    end

    # Get the total license status
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :cached  (default to true)
    # @return [Array<(LicenseSummary, Integer, Hash)>] LicenseSummary data, response status code and response headers
    def enterprise_license_summary_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_summary_retrieve ...'
      end
      # resource path
      local_var_path = '/enterprise/license/summary/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cached'] = opts[:'cached'] if !opts[:'cached'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LicenseSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_summary_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_summary_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # License Viewset
    # @param license_uuid [String] A UUID string identifying this License.
    # @param license_request [LicenseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [License]
    def enterprise_license_update(license_uuid, license_request, opts = {})
      data, _status_code, _headers = enterprise_license_update_with_http_info(license_uuid, license_request, opts)
      data
    end

    # License Viewset
    # @param license_uuid [String] A UUID string identifying this License.
    # @param license_request [LicenseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(License, Integer, Hash)>] License data, response status code and response headers
    def enterprise_license_update_with_http_info(license_uuid, license_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_update ...'
      end
      # verify the required parameter 'license_uuid' is set
      if @api_client.config.client_side_validation && license_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'license_uuid' when calling EnterpriseApi.enterprise_license_update"
      end
      # verify the required parameter 'license_request' is set
      if @api_client.config.client_side_validation && license_request.nil?
        fail ArgumentError, "Missing the required parameter 'license_request' when calling EnterpriseApi.enterprise_license_update"
      end
      # resource path
      local_var_path = '/enterprise/license/{license_uuid}/'.sub('{license_uuid}', CGI.escape(license_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(license_request)

      # return_type
      return_type = opts[:debug_return_type] || 'License'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param license_uuid [String] A UUID string identifying this License.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def enterprise_license_used_by_list(license_uuid, opts = {})
      data, _status_code, _headers = enterprise_license_used_by_list_with_http_info(license_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param license_uuid [String] A UUID string identifying this License.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def enterprise_license_used_by_list_with_http_info(license_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnterpriseApi.enterprise_license_used_by_list ...'
      end
      # verify the required parameter 'license_uuid' is set
      if @api_client.config.client_side_validation && license_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'license_uuid' when calling EnterpriseApi.enterprise_license_used_by_list"
      end
      # resource path
      local_var_path = '/enterprise/license/{license_uuid}/used_by/'.sub('{license_uuid}', CGI.escape(license_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EnterpriseApi.enterprise_license_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnterpriseApi#enterprise_license_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
