=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class EventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all actions
    # @param [Hash] opts the optional parameters
    # @return [Array<TypeCreate>]
    def events_events_actions_list(opts = {})
      data, _status_code, _headers = events_events_actions_list_with_http_info(opts)
      data
    end

    # Get all actions
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TypeCreate>, Integer, Hash)>] Array<TypeCreate> data, response status code and response headers
    def events_events_actions_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_actions_list ...'
      end
      # resource path
      local_var_path = '/events/events/actions/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TypeCreate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_actions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_actions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Read-Only Viewset
    # @param event_request [EventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Event]
    def events_events_create(event_request, opts = {})
      data, _status_code, _headers = events_events_create_with_http_info(event_request, opts)
      data
    end

    # Event Read-Only Viewset
    # @param event_request [EventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Event, Integer, Hash)>] Event data, response status code and response headers
    def events_events_create_with_http_info(event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_create ...'
      end
      # verify the required parameter 'event_request' is set
      if @api_client.config.client_side_validation && event_request.nil?
        fail ArgumentError, "Missing the required parameter 'event_request' when calling EventsApi.events_events_create"
      end
      # resource path
      local_var_path = '/events/events/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Event'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Read-Only Viewset
    # @param event_uuid [String] A UUID string identifying this Event.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def events_events_destroy(event_uuid, opts = {})
      events_events_destroy_with_http_info(event_uuid, opts)
      nil
    end

    # Event Read-Only Viewset
    # @param event_uuid [String] A UUID string identifying this Event.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def events_events_destroy_with_http_info(event_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_destroy ...'
      end
      # verify the required parameter 'event_uuid' is set
      if @api_client.config.client_side_validation && event_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'event_uuid' when calling EventsApi.events_events_destroy"
      end
      # resource path
      local_var_path = '/events/events/{event_uuid}/'.sub('{' + 'event_uuid' + '}', CGI.escape(event_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a data export for this data type. Note that the export is generated asynchronously: this method returns a `DataExport` object that will initially have `completed=false` as well as the permanent URL to that object in the `Location` header. You can poll that URL until `completed=true`, at which point the `file_url` property will contain a URL to download
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action 
    # @option opts [Array<String>] :actions 
    # @option opts [String] :brand_name Brand name
    # @option opts [String] :client_ip 
    # @option opts [String] :context_authorized_app Context Authorized application
    # @option opts [String] :context_model_app Context Model App
    # @option opts [String] :context_model_name Context Model Name
    # @option opts [String] :context_model_pk Context Model Primary Key
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [String] :search A search term.
    # @option opts [String] :username Username
    # @return [DataExport]
    def events_events_export_create(opts = {})
      data, _status_code, _headers = events_events_export_create_with_http_info(opts)
      data
    end

    # Create a data export for this data type. Note that the export is generated asynchronously: this method returns a &#x60;DataExport&#x60; object that will initially have &#x60;completed&#x3D;false&#x60; as well as the permanent URL to that object in the &#x60;Location&#x60; header. You can poll that URL until &#x60;completed&#x3D;true&#x60;, at which point the &#x60;file_url&#x60; property will contain a URL to download
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action 
    # @option opts [Array<String>] :actions 
    # @option opts [String] :brand_name Brand name
    # @option opts [String] :client_ip 
    # @option opts [String] :context_authorized_app Context Authorized application
    # @option opts [String] :context_model_app Context Model App
    # @option opts [String] :context_model_name Context Model Name
    # @option opts [String] :context_model_pk Context Model Primary Key
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [String] :search A search term.
    # @option opts [String] :username Username
    # @return [Array<(DataExport, Integer, Hash)>] DataExport data, response status code and response headers
    def events_events_export_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_export_create ...'
      end
      allowable_values = ["authorize_application", "configuration_error", "custom_", "email_sent", "export_ready", "flow_execution", "impersonation_ended", "impersonation_started", "invitation_used", "login", "login_failed", "logout", "model_created", "model_deleted", "model_updated", "password_set", "policy_exception", "policy_execution", "property_mapping_exception", "secret_rotate", "secret_view", "source_linked", "suspicious_request", "system_exception", "system_task_exception", "system_task_execution", "update_available", "user_write"]
      if @api_client.config.client_side_validation && opts[:'actions'] && !opts[:'actions'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"actions\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/events/events/export/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'actions'] = @api_client.build_collection_param(opts[:'actions'], :multi) if !opts[:'actions'].nil?
      query_params[:'brand_name'] = opts[:'brand_name'] if !opts[:'brand_name'].nil?
      query_params[:'client_ip'] = opts[:'client_ip'] if !opts[:'client_ip'].nil?
      query_params[:'context_authorized_app'] = opts[:'context_authorized_app'] if !opts[:'context_authorized_app'].nil?
      query_params[:'context_model_app'] = opts[:'context_model_app'] if !opts[:'context_model_app'].nil?
      query_params[:'context_model_name'] = opts[:'context_model_name'] if !opts[:'context_model_name'].nil?
      query_params[:'context_model_pk'] = opts[:'context_model_pk'] if !opts[:'context_model_pk'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'username'] = opts[:'username'] if !opts[:'username'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DataExport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_export_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_export_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Read-Only Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action 
    # @option opts [Array<String>] :actions 
    # @option opts [String] :brand_name Brand name
    # @option opts [String] :client_ip 
    # @option opts [String] :context_authorized_app Context Authorized application
    # @option opts [String] :context_model_app Context Model App
    # @option opts [String] :context_model_name Context Model Name
    # @option opts [String] :context_model_pk Context Model Primary Key
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :username Username
    # @return [PaginatedEventList]
    def events_events_list(opts = {})
      data, _status_code, _headers = events_events_list_with_http_info(opts)
      data
    end

    # Event Read-Only Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action 
    # @option opts [Array<String>] :actions 
    # @option opts [String] :brand_name Brand name
    # @option opts [String] :client_ip 
    # @option opts [String] :context_authorized_app Context Authorized application
    # @option opts [String] :context_model_app Context Model App
    # @option opts [String] :context_model_name Context Model Name
    # @option opts [String] :context_model_pk Context Model Primary Key
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :username Username
    # @return [Array<(PaginatedEventList, Integer, Hash)>] PaginatedEventList data, response status code and response headers
    def events_events_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_list ...'
      end
      allowable_values = ["authorize_application", "configuration_error", "custom_", "email_sent", "export_ready", "flow_execution", "impersonation_ended", "impersonation_started", "invitation_used", "login", "login_failed", "logout", "model_created", "model_deleted", "model_updated", "password_set", "policy_exception", "policy_execution", "property_mapping_exception", "secret_rotate", "secret_view", "source_linked", "suspicious_request", "system_exception", "system_task_exception", "system_task_execution", "update_available", "user_write"]
      if @api_client.config.client_side_validation && opts[:'actions'] && !opts[:'actions'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"actions\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/events/events/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'actions'] = @api_client.build_collection_param(opts[:'actions'], :multi) if !opts[:'actions'].nil?
      query_params[:'brand_name'] = opts[:'brand_name'] if !opts[:'brand_name'].nil?
      query_params[:'client_ip'] = opts[:'client_ip'] if !opts[:'client_ip'].nil?
      query_params[:'context_authorized_app'] = opts[:'context_authorized_app'] if !opts[:'context_authorized_app'].nil?
      query_params[:'context_model_app'] = opts[:'context_model_app'] if !opts[:'context_model_app'].nil?
      query_params[:'context_model_name'] = opts[:'context_model_name'] if !opts[:'context_model_name'].nil?
      query_params[:'context_model_pk'] = opts[:'context_model_pk'] if !opts[:'context_model_pk'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'username'] = opts[:'username'] if !opts[:'username'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedEventList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Read-Only Viewset
    # @param event_uuid [String] A UUID string identifying this Event.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEventRequest] :patched_event_request 
    # @return [Event]
    def events_events_partial_update(event_uuid, opts = {})
      data, _status_code, _headers = events_events_partial_update_with_http_info(event_uuid, opts)
      data
    end

    # Event Read-Only Viewset
    # @param event_uuid [String] A UUID string identifying this Event.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEventRequest] :patched_event_request 
    # @return [Array<(Event, Integer, Hash)>] Event data, response status code and response headers
    def events_events_partial_update_with_http_info(event_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_partial_update ...'
      end
      # verify the required parameter 'event_uuid' is set
      if @api_client.config.client_side_validation && event_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'event_uuid' when calling EventsApi.events_events_partial_update"
      end
      # resource path
      local_var_path = '/events/events/{event_uuid}/'.sub('{' + 'event_uuid' + '}', CGI.escape(event_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_event_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Event'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Read-Only Viewset
    # @param event_uuid [String] A UUID string identifying this Event.
    # @param [Hash] opts the optional parameters
    # @return [Event]
    def events_events_retrieve(event_uuid, opts = {})
      data, _status_code, _headers = events_events_retrieve_with_http_info(event_uuid, opts)
      data
    end

    # Event Read-Only Viewset
    # @param event_uuid [String] A UUID string identifying this Event.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Event, Integer, Hash)>] Event data, response status code and response headers
    def events_events_retrieve_with_http_info(event_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_retrieve ...'
      end
      # verify the required parameter 'event_uuid' is set
      if @api_client.config.client_side_validation && event_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'event_uuid' when calling EventsApi.events_events_retrieve"
      end
      # resource path
      local_var_path = '/events/events/{event_uuid}/'.sub('{' + 'event_uuid' + '}', CGI.escape(event_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Event'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the top_n events grouped by user count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action 
    # @option opts [Integer] :top_n 
    # @return [Array<EventTopPerUser>]
    def events_events_top_per_user_list(opts = {})
      data, _status_code, _headers = events_events_top_per_user_list_with_http_info(opts)
      data
    end

    # Get the top_n events grouped by user count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action 
    # @option opts [Integer] :top_n 
    # @return [Array<(Array<EventTopPerUser>, Integer, Hash)>] Array<EventTopPerUser> data, response status code and response headers
    def events_events_top_per_user_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_top_per_user_list ...'
      end
      # resource path
      local_var_path = '/events/events/top_per_user/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'top_n'] = opts[:'top_n'] if !opts[:'top_n'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EventTopPerUser>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_top_per_user_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_top_per_user_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Read-Only Viewset
    # @param event_uuid [String] A UUID string identifying this Event.
    # @param event_request [EventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Event]
    def events_events_update(event_uuid, event_request, opts = {})
      data, _status_code, _headers = events_events_update_with_http_info(event_uuid, event_request, opts)
      data
    end

    # Event Read-Only Viewset
    # @param event_uuid [String] A UUID string identifying this Event.
    # @param event_request [EventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Event, Integer, Hash)>] Event data, response status code and response headers
    def events_events_update_with_http_info(event_uuid, event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_update ...'
      end
      # verify the required parameter 'event_uuid' is set
      if @api_client.config.client_side_validation && event_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'event_uuid' when calling EventsApi.events_events_update"
      end
      # verify the required parameter 'event_request' is set
      if @api_client.config.client_side_validation && event_request.nil?
        fail ArgumentError, "Missing the required parameter 'event_request' when calling EventsApi.events_events_update"
      end
      # resource path
      local_var_path = '/events/events/{event_uuid}/'.sub('{' + 'event_uuid' + '}', CGI.escape(event_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Event'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get event volume for specified filters and timeframe
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action 
    # @option opts [Array<String>] :actions 
    # @option opts [String] :brand_name Brand name
    # @option opts [String] :client_ip 
    # @option opts [String] :context_authorized_app Context Authorized application
    # @option opts [String] :context_model_app Context Model App
    # @option opts [String] :context_model_name Context Model Name
    # @option opts [String] :context_model_pk Context Model Primary Key
    # @option opts [Float] :history_days  (default to 7)
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [String] :search A search term.
    # @option opts [String] :username Username
    # @return [Array<EventVolume>]
    def events_events_volume_list(opts = {})
      data, _status_code, _headers = events_events_volume_list_with_http_info(opts)
      data
    end

    # Get event volume for specified filters and timeframe
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action 
    # @option opts [Array<String>] :actions 
    # @option opts [String] :brand_name Brand name
    # @option opts [String] :client_ip 
    # @option opts [String] :context_authorized_app Context Authorized application
    # @option opts [String] :context_model_app Context Model App
    # @option opts [String] :context_model_name Context Model Name
    # @option opts [String] :context_model_pk Context Model Primary Key
    # @option opts [Float] :history_days  (default to 7)
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [String] :search A search term.
    # @option opts [String] :username Username
    # @return [Array<(Array<EventVolume>, Integer, Hash)>] Array<EventVolume> data, response status code and response headers
    def events_events_volume_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_events_volume_list ...'
      end
      allowable_values = ["authorize_application", "configuration_error", "custom_", "email_sent", "export_ready", "flow_execution", "impersonation_ended", "impersonation_started", "invitation_used", "login", "login_failed", "logout", "model_created", "model_deleted", "model_updated", "password_set", "policy_exception", "policy_execution", "property_mapping_exception", "secret_rotate", "secret_view", "source_linked", "suspicious_request", "system_exception", "system_task_exception", "system_task_execution", "update_available", "user_write"]
      if @api_client.config.client_side_validation && opts[:'actions'] && !opts[:'actions'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"actions\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/events/events/volume/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'actions'] = @api_client.build_collection_param(opts[:'actions'], :multi) if !opts[:'actions'].nil?
      query_params[:'brand_name'] = opts[:'brand_name'] if !opts[:'brand_name'].nil?
      query_params[:'client_ip'] = opts[:'client_ip'] if !opts[:'client_ip'].nil?
      query_params[:'context_authorized_app'] = opts[:'context_authorized_app'] if !opts[:'context_authorized_app'].nil?
      query_params[:'context_model_app'] = opts[:'context_model_app'] if !opts[:'context_model_app'].nil?
      query_params[:'context_model_name'] = opts[:'context_model_name'] if !opts[:'context_model_name'].nil?
      query_params[:'context_model_pk'] = opts[:'context_model_pk'] if !opts[:'context_model_pk'].nil?
      query_params[:'history_days'] = opts[:'history_days'] if !opts[:'history_days'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'username'] = opts[:'username'] if !opts[:'username'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EventVolume>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_events_volume_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_events_volume_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Notification Viewset
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def events_notifications_destroy(uuid, opts = {})
      events_notifications_destroy_with_http_info(uuid, opts)
      nil
    end

    # Notification Viewset
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def events_notifications_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_notifications_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_notifications_destroy"
      end
      # resource path
      local_var_path = '/events/notifications/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_notifications_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_notifications_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Notification Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :body 
    # @option opts [Time] :created 
    # @option opts [String] :event 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Boolean] :seen 
    # @option opts [String] :severity 
    # @option opts [Integer] :user 
    # @return [PaginatedNotificationList]
    def events_notifications_list(opts = {})
      data, _status_code, _headers = events_notifications_list_with_http_info(opts)
      data
    end

    # Notification Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :body 
    # @option opts [Time] :created 
    # @option opts [String] :event 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Boolean] :seen 
    # @option opts [String] :severity 
    # @option opts [Integer] :user 
    # @return [Array<(PaginatedNotificationList, Integer, Hash)>] PaginatedNotificationList data, response status code and response headers
    def events_notifications_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_notifications_list ...'
      end
      allowable_values = ["alert", "notice", "warning"]
      if @api_client.config.client_side_validation && opts[:'severity'] && !allowable_values.include?(opts[:'severity'])
        fail ArgumentError, "invalid value for \"severity\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/events/notifications/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'body'] = opts[:'body'] if !opts[:'body'].nil?
      query_params[:'created'] = opts[:'created'] if !opts[:'created'].nil?
      query_params[:'event'] = opts[:'event'] if !opts[:'event'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'seen'] = opts[:'seen'] if !opts[:'seen'].nil?
      query_params[:'severity'] = opts[:'severity'] if !opts[:'severity'].nil?
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedNotificationList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_notifications_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_notifications_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark all the user's notifications as seen
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def events_notifications_mark_all_seen_create(opts = {})
      events_notifications_mark_all_seen_create_with_http_info(opts)
      nil
    end

    # Mark all the user&#39;s notifications as seen
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def events_notifications_mark_all_seen_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_notifications_mark_all_seen_create ...'
      end
      # resource path
      local_var_path = '/events/notifications/mark_all_seen/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_notifications_mark_all_seen_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_notifications_mark_all_seen_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Notification Viewset
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedNotificationRequest] :patched_notification_request 
    # @return [Notification]
    def events_notifications_partial_update(uuid, opts = {})
      data, _status_code, _headers = events_notifications_partial_update_with_http_info(uuid, opts)
      data
    end

    # Notification Viewset
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedNotificationRequest] :patched_notification_request 
    # @return [Array<(Notification, Integer, Hash)>] Notification data, response status code and response headers
    def events_notifications_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_notifications_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_notifications_partial_update"
      end
      # resource path
      local_var_path = '/events/notifications/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_notification_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Notification'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_notifications_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_notifications_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Notification Viewset
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @return [Notification]
    def events_notifications_retrieve(uuid, opts = {})
      data, _status_code, _headers = events_notifications_retrieve_with_http_info(uuid, opts)
      data
    end

    # Notification Viewset
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Notification, Integer, Hash)>] Notification data, response status code and response headers
    def events_notifications_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_notifications_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_notifications_retrieve"
      end
      # resource path
      local_var_path = '/events/notifications/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Notification'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_notifications_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_notifications_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Notification Viewset
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationRequest] :notification_request 
    # @return [Notification]
    def events_notifications_update(uuid, opts = {})
      data, _status_code, _headers = events_notifications_update_with_http_info(uuid, opts)
      data
    end

    # Notification Viewset
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationRequest] :notification_request 
    # @return [Array<(Notification, Integer, Hash)>] Notification data, response status code and response headers
    def events_notifications_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_notifications_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_notifications_update"
      end
      # resource path
      local_var_path = '/events/notifications/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'notification_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Notification'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_notifications_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_notifications_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def events_notifications_used_by_list(uuid, opts = {})
      data, _status_code, _headers = events_notifications_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Notification.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def events_notifications_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_notifications_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_notifications_used_by_list"
      end
      # resource path
      local_var_path = '/events/notifications/{uuid}/used_by/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_notifications_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_notifications_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationRule Viewset
    # @param notification_rule_request [NotificationRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [NotificationRule]
    def events_rules_create(notification_rule_request, opts = {})
      data, _status_code, _headers = events_rules_create_with_http_info(notification_rule_request, opts)
      data
    end

    # NotificationRule Viewset
    # @param notification_rule_request [NotificationRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationRule, Integer, Hash)>] NotificationRule data, response status code and response headers
    def events_rules_create_with_http_info(notification_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_rules_create ...'
      end
      # verify the required parameter 'notification_rule_request' is set
      if @api_client.config.client_side_validation && notification_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'notification_rule_request' when calling EventsApi.events_rules_create"
      end
      # resource path
      local_var_path = '/events/rules/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(notification_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_rules_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_rules_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationRule Viewset
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def events_rules_destroy(pbm_uuid, opts = {})
      events_rules_destroy_with_http_info(pbm_uuid, opts)
      nil
    end

    # NotificationRule Viewset
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def events_rules_destroy_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_rules_destroy ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling EventsApi.events_rules_destroy"
      end
      # resource path
      local_var_path = '/events/rules/{pbm_uuid}/'.sub('{' + 'pbm_uuid' + '}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_rules_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_rules_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationRule Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :destination_group__name 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :severity Controls which severity level the created notifications will have.  
    # @return [PaginatedNotificationRuleList]
    def events_rules_list(opts = {})
      data, _status_code, _headers = events_rules_list_with_http_info(opts)
      data
    end

    # NotificationRule Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :destination_group__name 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :severity Controls which severity level the created notifications will have.  
    # @return [Array<(PaginatedNotificationRuleList, Integer, Hash)>] PaginatedNotificationRuleList data, response status code and response headers
    def events_rules_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_rules_list ...'
      end
      allowable_values = ["alert", "notice", "warning"]
      if @api_client.config.client_side_validation && opts[:'severity'] && !allowable_values.include?(opts[:'severity'])
        fail ArgumentError, "invalid value for \"severity\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/events/rules/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'destination_group__name'] = opts[:'destination_group__name'] if !opts[:'destination_group__name'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'severity'] = opts[:'severity'] if !opts[:'severity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedNotificationRuleList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_rules_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_rules_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationRule Viewset
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedNotificationRuleRequest] :patched_notification_rule_request 
    # @return [NotificationRule]
    def events_rules_partial_update(pbm_uuid, opts = {})
      data, _status_code, _headers = events_rules_partial_update_with_http_info(pbm_uuid, opts)
      data
    end

    # NotificationRule Viewset
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedNotificationRuleRequest] :patched_notification_rule_request 
    # @return [Array<(NotificationRule, Integer, Hash)>] NotificationRule data, response status code and response headers
    def events_rules_partial_update_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_rules_partial_update ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling EventsApi.events_rules_partial_update"
      end
      # resource path
      local_var_path = '/events/rules/{pbm_uuid}/'.sub('{' + 'pbm_uuid' + '}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_notification_rule_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_rules_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_rules_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationRule Viewset
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param [Hash] opts the optional parameters
    # @return [NotificationRule]
    def events_rules_retrieve(pbm_uuid, opts = {})
      data, _status_code, _headers = events_rules_retrieve_with_http_info(pbm_uuid, opts)
      data
    end

    # NotificationRule Viewset
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationRule, Integer, Hash)>] NotificationRule data, response status code and response headers
    def events_rules_retrieve_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_rules_retrieve ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling EventsApi.events_rules_retrieve"
      end
      # resource path
      local_var_path = '/events/rules/{pbm_uuid}/'.sub('{' + 'pbm_uuid' + '}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_rules_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_rules_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationRule Viewset
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param notification_rule_request [NotificationRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [NotificationRule]
    def events_rules_update(pbm_uuid, notification_rule_request, opts = {})
      data, _status_code, _headers = events_rules_update_with_http_info(pbm_uuid, notification_rule_request, opts)
      data
    end

    # NotificationRule Viewset
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param notification_rule_request [NotificationRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationRule, Integer, Hash)>] NotificationRule data, response status code and response headers
    def events_rules_update_with_http_info(pbm_uuid, notification_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_rules_update ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling EventsApi.events_rules_update"
      end
      # verify the required parameter 'notification_rule_request' is set
      if @api_client.config.client_side_validation && notification_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'notification_rule_request' when calling EventsApi.events_rules_update"
      end
      # resource path
      local_var_path = '/events/rules/{pbm_uuid}/'.sub('{' + 'pbm_uuid' + '}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(notification_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_rules_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_rules_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def events_rules_used_by_list(pbm_uuid, opts = {})
      data, _status_code, _headers = events_rules_used_by_list_with_http_info(pbm_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param pbm_uuid [String] A UUID string identifying this Notification Rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def events_rules_used_by_list_with_http_info(pbm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_rules_used_by_list ...'
      end
      # verify the required parameter 'pbm_uuid' is set
      if @api_client.config.client_side_validation && pbm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pbm_uuid' when calling EventsApi.events_rules_used_by_list"
      end
      # resource path
      local_var_path = '/events/rules/{pbm_uuid}/used_by/'.sub('{' + 'pbm_uuid' + '}', CGI.escape(pbm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_rules_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_rules_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationTransport Viewset
    # @param notification_transport_request [NotificationTransportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [NotificationTransport]
    def events_transports_create(notification_transport_request, opts = {})
      data, _status_code, _headers = events_transports_create_with_http_info(notification_transport_request, opts)
      data
    end

    # NotificationTransport Viewset
    # @param notification_transport_request [NotificationTransportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationTransport, Integer, Hash)>] NotificationTransport data, response status code and response headers
    def events_transports_create_with_http_info(notification_transport_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_transports_create ...'
      end
      # verify the required parameter 'notification_transport_request' is set
      if @api_client.config.client_side_validation && notification_transport_request.nil?
        fail ArgumentError, "Missing the required parameter 'notification_transport_request' when calling EventsApi.events_transports_create"
      end
      # resource path
      local_var_path = '/events/transports/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(notification_transport_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationTransport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_transports_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_transports_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationTransport Viewset
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def events_transports_destroy(uuid, opts = {})
      events_transports_destroy_with_http_info(uuid, opts)
      nil
    end

    # NotificationTransport Viewset
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def events_transports_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_transports_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_transports_destroy"
      end
      # resource path
      local_var_path = '/events/transports/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_transports_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_transports_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationTransport Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mode 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Boolean] :send_once 
    # @option opts [String] :webhook_url 
    # @return [PaginatedNotificationTransportList]
    def events_transports_list(opts = {})
      data, _status_code, _headers = events_transports_list_with_http_info(opts)
      data
    end

    # NotificationTransport Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mode 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Boolean] :send_once 
    # @option opts [String] :webhook_url 
    # @return [Array<(PaginatedNotificationTransportList, Integer, Hash)>] PaginatedNotificationTransportList data, response status code and response headers
    def events_transports_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_transports_list ...'
      end
      allowable_values = ["email", "local", "webhook", "webhook_slack"]
      if @api_client.config.client_side_validation && opts[:'mode'] && !allowable_values.include?(opts[:'mode'])
        fail ArgumentError, "invalid value for \"mode\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/events/transports/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mode'] = opts[:'mode'] if !opts[:'mode'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'send_once'] = opts[:'send_once'] if !opts[:'send_once'].nil?
      query_params[:'webhook_url'] = opts[:'webhook_url'] if !opts[:'webhook_url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedNotificationTransportList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_transports_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_transports_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationTransport Viewset
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedNotificationTransportRequest] :patched_notification_transport_request 
    # @return [NotificationTransport]
    def events_transports_partial_update(uuid, opts = {})
      data, _status_code, _headers = events_transports_partial_update_with_http_info(uuid, opts)
      data
    end

    # NotificationTransport Viewset
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedNotificationTransportRequest] :patched_notification_transport_request 
    # @return [Array<(NotificationTransport, Integer, Hash)>] NotificationTransport data, response status code and response headers
    def events_transports_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_transports_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_transports_partial_update"
      end
      # resource path
      local_var_path = '/events/transports/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_notification_transport_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationTransport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_transports_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_transports_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationTransport Viewset
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @return [NotificationTransport]
    def events_transports_retrieve(uuid, opts = {})
      data, _status_code, _headers = events_transports_retrieve_with_http_info(uuid, opts)
      data
    end

    # NotificationTransport Viewset
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationTransport, Integer, Hash)>] NotificationTransport data, response status code and response headers
    def events_transports_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_transports_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_transports_retrieve"
      end
      # resource path
      local_var_path = '/events/transports/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationTransport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_transports_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_transports_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send example notification using selected transport. Requires Modify permissions.
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @return [NotificationTransportTest]
    def events_transports_test_create(uuid, opts = {})
      data, _status_code, _headers = events_transports_test_create_with_http_info(uuid, opts)
      data
    end

    # Send example notification using selected transport. Requires Modify permissions.
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationTransportTest, Integer, Hash)>] NotificationTransportTest data, response status code and response headers
    def events_transports_test_create_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_transports_test_create ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_transports_test_create"
      end
      # resource path
      local_var_path = '/events/transports/{uuid}/test/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationTransportTest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_transports_test_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_transports_test_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationTransport Viewset
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param notification_transport_request [NotificationTransportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [NotificationTransport]
    def events_transports_update(uuid, notification_transport_request, opts = {})
      data, _status_code, _headers = events_transports_update_with_http_info(uuid, notification_transport_request, opts)
      data
    end

    # NotificationTransport Viewset
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param notification_transport_request [NotificationTransportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationTransport, Integer, Hash)>] NotificationTransport data, response status code and response headers
    def events_transports_update_with_http_info(uuid, notification_transport_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_transports_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_transports_update"
      end
      # verify the required parameter 'notification_transport_request' is set
      if @api_client.config.client_side_validation && notification_transport_request.nil?
        fail ArgumentError, "Missing the required parameter 'notification_transport_request' when calling EventsApi.events_transports_update"
      end
      # resource path
      local_var_path = '/events/transports/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(notification_transport_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationTransport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_transports_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_transports_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def events_transports_used_by_list(uuid, opts = {})
      data, _status_code, _headers = events_transports_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Notification Transport.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def events_transports_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_transports_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling EventsApi.events_transports_used_by_list"
      end
      # resource path
      local_var_path = '/events/transports/{uuid}/used_by/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"EventsApi.events_transports_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_transports_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
