=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class FlowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # FlowStageBinding Viewset
    # @param flow_stage_binding_request [FlowStageBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FlowStageBinding]
    def flows_bindings_create(flow_stage_binding_request, opts = {})
      data, _status_code, _headers = flows_bindings_create_with_http_info(flow_stage_binding_request, opts)
      data
    end

    # FlowStageBinding Viewset
    # @param flow_stage_binding_request [FlowStageBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlowStageBinding, Integer, Hash)>] FlowStageBinding data, response status code and response headers
    def flows_bindings_create_with_http_info(flow_stage_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_bindings_create ...'
      end
      # verify the required parameter 'flow_stage_binding_request' is set
      if @api_client.config.client_side_validation && flow_stage_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'flow_stage_binding_request' when calling FlowsApi.flows_bindings_create"
      end
      # resource path
      local_var_path = '/flows/bindings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flow_stage_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FlowStageBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_bindings_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_bindings_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # FlowStageBinding Viewset
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def flows_bindings_destroy(fsb_uuid, opts = {})
      flows_bindings_destroy_with_http_info(fsb_uuid, opts)
      nil
    end

    # FlowStageBinding Viewset
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def flows_bindings_destroy_with_http_info(fsb_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_bindings_destroy ...'
      end
      # verify the required parameter 'fsb_uuid' is set
      if @api_client.config.client_side_validation && fsb_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'fsb_uuid' when calling FlowsApi.flows_bindings_destroy"
      end
      # resource path
      local_var_path = '/flows/bindings/{fsb_uuid}/'.sub('{' + 'fsb_uuid' + '}', CGI.escape(fsb_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_bindings_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_bindings_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # FlowStageBinding Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :evaluate_on_plan 
    # @option opts [String] :fsb_uuid 
    # @option opts [InvalidResponseActionEnum] :invalid_response_action 
    # @option opts [Integer] :order 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [Array<String>] :policies 
    # @option opts [PolicyEngineMode] :policy_engine_mode 
    # @option opts [Boolean] :re_evaluate_policies 
    # @option opts [String] :search A search term.
    # @option opts [String] :stage 
    # @option opts [String] :target 
    # @return [PaginatedFlowStageBindingList]
    def flows_bindings_list(opts = {})
      data, _status_code, _headers = flows_bindings_list_with_http_info(opts)
      data
    end

    # FlowStageBinding Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :evaluate_on_plan 
    # @option opts [String] :fsb_uuid 
    # @option opts [InvalidResponseActionEnum] :invalid_response_action 
    # @option opts [Integer] :order 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [Array<String>] :policies 
    # @option opts [PolicyEngineMode] :policy_engine_mode 
    # @option opts [Boolean] :re_evaluate_policies 
    # @option opts [String] :search A search term.
    # @option opts [String] :stage 
    # @option opts [String] :target 
    # @return [Array<(PaginatedFlowStageBindingList, Integer, Hash)>] PaginatedFlowStageBindingList data, response status code and response headers
    def flows_bindings_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_bindings_list ...'
      end
      # resource path
      local_var_path = '/flows/bindings/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'evaluate_on_plan'] = opts[:'evaluate_on_plan'] if !opts[:'evaluate_on_plan'].nil?
      query_params[:'fsb_uuid'] = opts[:'fsb_uuid'] if !opts[:'fsb_uuid'].nil?
      query_params[:'invalid_response_action'] = opts[:'invalid_response_action'] if !opts[:'invalid_response_action'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pbm_uuid'] = opts[:'pbm_uuid'] if !opts[:'pbm_uuid'].nil?
      query_params[:'policies'] = @api_client.build_collection_param(opts[:'policies'], :multi) if !opts[:'policies'].nil?
      query_params[:'policy_engine_mode'] = opts[:'policy_engine_mode'] if !opts[:'policy_engine_mode'].nil?
      query_params[:'re_evaluate_policies'] = opts[:'re_evaluate_policies'] if !opts[:'re_evaluate_policies'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'stage'] = opts[:'stage'] if !opts[:'stage'].nil?
      query_params[:'target'] = opts[:'target'] if !opts[:'target'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedFlowStageBindingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_bindings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_bindings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # FlowStageBinding Viewset
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedFlowStageBindingRequest] :patched_flow_stage_binding_request 
    # @return [FlowStageBinding]
    def flows_bindings_partial_update(fsb_uuid, opts = {})
      data, _status_code, _headers = flows_bindings_partial_update_with_http_info(fsb_uuid, opts)
      data
    end

    # FlowStageBinding Viewset
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedFlowStageBindingRequest] :patched_flow_stage_binding_request 
    # @return [Array<(FlowStageBinding, Integer, Hash)>] FlowStageBinding data, response status code and response headers
    def flows_bindings_partial_update_with_http_info(fsb_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_bindings_partial_update ...'
      end
      # verify the required parameter 'fsb_uuid' is set
      if @api_client.config.client_side_validation && fsb_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'fsb_uuid' when calling FlowsApi.flows_bindings_partial_update"
      end
      # resource path
      local_var_path = '/flows/bindings/{fsb_uuid}/'.sub('{' + 'fsb_uuid' + '}', CGI.escape(fsb_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_flow_stage_binding_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FlowStageBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_bindings_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_bindings_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # FlowStageBinding Viewset
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param [Hash] opts the optional parameters
    # @return [FlowStageBinding]
    def flows_bindings_retrieve(fsb_uuid, opts = {})
      data, _status_code, _headers = flows_bindings_retrieve_with_http_info(fsb_uuid, opts)
      data
    end

    # FlowStageBinding Viewset
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlowStageBinding, Integer, Hash)>] FlowStageBinding data, response status code and response headers
    def flows_bindings_retrieve_with_http_info(fsb_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_bindings_retrieve ...'
      end
      # verify the required parameter 'fsb_uuid' is set
      if @api_client.config.client_side_validation && fsb_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'fsb_uuid' when calling FlowsApi.flows_bindings_retrieve"
      end
      # resource path
      local_var_path = '/flows/bindings/{fsb_uuid}/'.sub('{' + 'fsb_uuid' + '}', CGI.escape(fsb_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlowStageBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_bindings_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_bindings_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # FlowStageBinding Viewset
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param flow_stage_binding_request [FlowStageBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FlowStageBinding]
    def flows_bindings_update(fsb_uuid, flow_stage_binding_request, opts = {})
      data, _status_code, _headers = flows_bindings_update_with_http_info(fsb_uuid, flow_stage_binding_request, opts)
      data
    end

    # FlowStageBinding Viewset
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param flow_stage_binding_request [FlowStageBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlowStageBinding, Integer, Hash)>] FlowStageBinding data, response status code and response headers
    def flows_bindings_update_with_http_info(fsb_uuid, flow_stage_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_bindings_update ...'
      end
      # verify the required parameter 'fsb_uuid' is set
      if @api_client.config.client_side_validation && fsb_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'fsb_uuid' when calling FlowsApi.flows_bindings_update"
      end
      # verify the required parameter 'flow_stage_binding_request' is set
      if @api_client.config.client_side_validation && flow_stage_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'flow_stage_binding_request' when calling FlowsApi.flows_bindings_update"
      end
      # resource path
      local_var_path = '/flows/bindings/{fsb_uuid}/'.sub('{' + 'fsb_uuid' + '}', CGI.escape(fsb_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flow_stage_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FlowStageBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_bindings_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_bindings_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def flows_bindings_used_by_list(fsb_uuid, opts = {})
      data, _status_code, _headers = flows_bindings_used_by_list_with_http_info(fsb_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param fsb_uuid [String] A UUID string identifying this Flow Stage Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def flows_bindings_used_by_list_with_http_info(fsb_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_bindings_used_by_list ...'
      end
      # verify the required parameter 'fsb_uuid' is set
      if @api_client.config.client_side_validation && fsb_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'fsb_uuid' when calling FlowsApi.flows_bindings_used_by_list"
      end
      # resource path
      local_var_path = '/flows/bindings/{fsb_uuid}/used_by/'.sub('{' + 'fsb_uuid' + '}', CGI.escape(fsb_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_bindings_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_bindings_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the next pending challenge from the currently active flow.
    # @param flow_slug [String] 
    # @param query [String] Querystring as received
    # @param [Hash] opts the optional parameters
    # @return [ChallengeTypes]
    def flows_executor_get(flow_slug, query, opts = {})
      data, _status_code, _headers = flows_executor_get_with_http_info(flow_slug, query, opts)
      data
    end

    # Get the next pending challenge from the currently active flow.
    # @param flow_slug [String] 
    # @param query [String] Querystring as received
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChallengeTypes, Integer, Hash)>] ChallengeTypes data, response status code and response headers
    def flows_executor_get_with_http_info(flow_slug, query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_executor_get ...'
      end
      # verify the required parameter 'flow_slug' is set
      if @api_client.config.client_side_validation && flow_slug.nil?
        fail ArgumentError, "Missing the required parameter 'flow_slug' when calling FlowsApi.flows_executor_get"
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling FlowsApi.flows_executor_get"
      end
      # resource path
      local_var_path = '/flows/executor/{flow_slug}/'.sub('{' + 'flow_slug' + '}', CGI.escape(flow_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ChallengeTypes'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_executor_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_executor_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Solve the previously retrieved challenge and advanced to the next stage.
    # @param flow_slug [String] 
    # @param query [String] Querystring as received
    # @param [Hash] opts the optional parameters
    # @option opts [FlowChallengeResponseRequest] :flow_challenge_response_request 
    # @return [ChallengeTypes]
    def flows_executor_solve(flow_slug, query, opts = {})
      data, _status_code, _headers = flows_executor_solve_with_http_info(flow_slug, query, opts)
      data
    end

    # Solve the previously retrieved challenge and advanced to the next stage.
    # @param flow_slug [String] 
    # @param query [String] Querystring as received
    # @param [Hash] opts the optional parameters
    # @option opts [FlowChallengeResponseRequest] :flow_challenge_response_request 
    # @return [Array<(ChallengeTypes, Integer, Hash)>] ChallengeTypes data, response status code and response headers
    def flows_executor_solve_with_http_info(flow_slug, query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_executor_solve ...'
      end
      # verify the required parameter 'flow_slug' is set
      if @api_client.config.client_side_validation && flow_slug.nil?
        fail ArgumentError, "Missing the required parameter 'flow_slug' when calling FlowsApi.flows_executor_solve"
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling FlowsApi.flows_executor_solve"
      end
      # resource path
      local_var_path = '/flows/executor/{flow_slug}/'.sub('{' + 'flow_slug' + '}', CGI.escape(flow_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'flow_challenge_response_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ChallengeTypes'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_executor_solve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_executor_solve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current flow state and record it
    # @param flow_slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [FlowInspection]
    def flows_inspector_get(flow_slug, opts = {})
      data, _status_code, _headers = flows_inspector_get_with_http_info(flow_slug, opts)
      data
    end

    # Get current flow state and record it
    # @param flow_slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlowInspection, Integer, Hash)>] FlowInspection data, response status code and response headers
    def flows_inspector_get_with_http_info(flow_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_inspector_get ...'
      end
      # verify the required parameter 'flow_slug' is set
      if @api_client.config.client_side_validation && flow_slug.nil?
        fail ArgumentError, "Missing the required parameter 'flow_slug' when calling FlowsApi.flows_inspector_get"
      end
      # resource path
      local_var_path = '/flows/inspector/{flow_slug}/'.sub('{' + 'flow_slug' + '}', CGI.escape(flow_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlowInspection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_inspector_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_inspector_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear flow cache
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def flows_instances_cache_clear_create(opts = {})
      flows_instances_cache_clear_create_with_http_info(opts)
      nil
    end

    # Clear flow cache
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def flows_instances_cache_clear_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_cache_clear_create ...'
      end
      # resource path
      local_var_path = '/flows/instances/cache_clear/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_cache_clear_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_cache_clear_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Info about cached flows
    # @param [Hash] opts the optional parameters
    # @return [Cache]
    def flows_instances_cache_info_retrieve(opts = {})
      data, _status_code, _headers = flows_instances_cache_info_retrieve_with_http_info(opts)
      data
    end

    # Info about cached flows
    # @param [Hash] opts the optional parameters
    # @return [Array<(Cache, Integer, Hash)>] Cache data, response status code and response headers
    def flows_instances_cache_info_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_cache_info_retrieve ...'
      end
      # resource path
      local_var_path = '/flows/instances/cache_info/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Cache'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_cache_info_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_cache_info_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flow Viewset
    # @param flow_request [FlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Flow]
    def flows_instances_create(flow_request, opts = {})
      data, _status_code, _headers = flows_instances_create_with_http_info(flow_request, opts)
      data
    end

    # Flow Viewset
    # @param flow_request [FlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Flow, Integer, Hash)>] Flow data, response status code and response headers
    def flows_instances_create_with_http_info(flow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_create ...'
      end
      # verify the required parameter 'flow_request' is set
      if @api_client.config.client_side_validation && flow_request.nil?
        fail ArgumentError, "Missing the required parameter 'flow_request' when calling FlowsApi.flows_instances_create"
      end
      # resource path
      local_var_path = '/flows/instances/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Flow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flow Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def flows_instances_destroy(slug, opts = {})
      flows_instances_destroy_with_http_info(slug, opts)
      nil
    end

    # Flow Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def flows_instances_destroy_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_destroy ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling FlowsApi.flows_instances_destroy"
      end
      # resource path
      local_var_path = '/flows/instances/{slug}/'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return diagram for flow with slug `slug`, in the format used by flowchart.js
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [FlowDiagram]
    def flows_instances_diagram_retrieve(slug, opts = {})
      data, _status_code, _headers = flows_instances_diagram_retrieve_with_http_info(slug, opts)
      data
    end

    # Return diagram for flow with slug &#x60;slug&#x60;, in the format used by flowchart.js
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlowDiagram, Integer, Hash)>] FlowDiagram data, response status code and response headers
    def flows_instances_diagram_retrieve_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_diagram_retrieve ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling FlowsApi.flows_instances_diagram_retrieve"
      end
      # resource path
      local_var_path = '/flows/instances/{slug}/diagram/'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlowDiagram'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_diagram_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_diagram_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute flow for current user
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Link]
    def flows_instances_execute_retrieve(slug, opts = {})
      data, _status_code, _headers = flows_instances_execute_retrieve_with_http_info(slug, opts)
      data
    end

    # Execute flow for current user
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Link, Integer, Hash)>] Link data, response status code and response headers
    def flows_instances_execute_retrieve_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_execute_retrieve ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling FlowsApi.flows_instances_execute_retrieve"
      end
      # resource path
      local_var_path = '/flows/instances/{slug}/execute/'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Link'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_execute_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_execute_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export flow to .yaml file
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def flows_instances_export_retrieve(slug, opts = {})
      data, _status_code, _headers = flows_instances_export_retrieve_with_http_info(slug, opts)
      data
    end

    # Export flow to .yaml file
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def flows_instances_export_retrieve_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_export_retrieve ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling FlowsApi.flows_instances_export_retrieve"
      end
      # resource path
      local_var_path = '/flows/instances/{slug}/export/'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_export_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_export_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Import flow from .yaml file
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file 
    # @option opts [Boolean] :clear  (default to false)
    # @return [FlowImportResult]
    def flows_instances_import_create(opts = {})
      data, _status_code, _headers = flows_instances_import_create_with_http_info(opts)
      data
    end

    # Import flow from .yaml file
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file 
    # @option opts [Boolean] :clear  (default to false)
    # @return [Array<(FlowImportResult, Integer, Hash)>] FlowImportResult data, response status code and response headers
    def flows_instances_import_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_import_create ...'
      end
      # resource path
      local_var_path = '/flows/instances/import/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?
      form_params['clear'] = opts[:'clear'] if !opts[:'clear'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlowImportResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_import_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_import_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flow Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [DeniedActionEnum] :denied_action 
    # @option opts [FlowDesignationEnum] :designation 
    # @option opts [String] :flow_uuid 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :slug 
    # @return [PaginatedFlowList]
    def flows_instances_list(opts = {})
      data, _status_code, _headers = flows_instances_list_with_http_info(opts)
      data
    end

    # Flow Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [DeniedActionEnum] :denied_action 
    # @option opts [FlowDesignationEnum] :designation 
    # @option opts [String] :flow_uuid 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :slug 
    # @return [Array<(PaginatedFlowList, Integer, Hash)>] PaginatedFlowList data, response status code and response headers
    def flows_instances_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_list ...'
      end
      # resource path
      local_var_path = '/flows/instances/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'denied_action'] = opts[:'denied_action'] if !opts[:'denied_action'].nil?
      query_params[:'designation'] = opts[:'designation'] if !opts[:'designation'].nil?
      query_params[:'flow_uuid'] = opts[:'flow_uuid'] if !opts[:'flow_uuid'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'slug'] = opts[:'slug'] if !opts[:'slug'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedFlowList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flow Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedFlowRequest] :patched_flow_request 
    # @return [Flow]
    def flows_instances_partial_update(slug, opts = {})
      data, _status_code, _headers = flows_instances_partial_update_with_http_info(slug, opts)
      data
    end

    # Flow Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedFlowRequest] :patched_flow_request 
    # @return [Array<(Flow, Integer, Hash)>] Flow data, response status code and response headers
    def flows_instances_partial_update_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_partial_update ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling FlowsApi.flows_instances_partial_update"
      end
      # resource path
      local_var_path = '/flows/instances/{slug}/'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_flow_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Flow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flow Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Flow]
    def flows_instances_retrieve(slug, opts = {})
      data, _status_code, _headers = flows_instances_retrieve_with_http_info(slug, opts)
      data
    end

    # Flow Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Flow, Integer, Hash)>] Flow data, response status code and response headers
    def flows_instances_retrieve_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_retrieve ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling FlowsApi.flows_instances_retrieve"
      end
      # resource path
      local_var_path = '/flows/instances/{slug}/'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Flow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flow Viewset
    # @param slug [String] 
    # @param flow_request [FlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Flow]
    def flows_instances_update(slug, flow_request, opts = {})
      data, _status_code, _headers = flows_instances_update_with_http_info(slug, flow_request, opts)
      data
    end

    # Flow Viewset
    # @param slug [String] 
    # @param flow_request [FlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Flow, Integer, Hash)>] Flow data, response status code and response headers
    def flows_instances_update_with_http_info(slug, flow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_update ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling FlowsApi.flows_instances_update"
      end
      # verify the required parameter 'flow_request' is set
      if @api_client.config.client_side_validation && flow_request.nil?
        fail ArgumentError, "Missing the required parameter 'flow_request' when calling FlowsApi.flows_instances_update"
      end
      # resource path
      local_var_path = '/flows/instances/{slug}/'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Flow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def flows_instances_used_by_list(slug, opts = {})
      data, _status_code, _headers = flows_instances_used_by_list_with_http_info(slug, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def flows_instances_used_by_list_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.flows_instances_used_by_list ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling FlowsApi.flows_instances_used_by_list"
      end
      # resource path
      local_var_path = '/flows/instances/{slug}/used_by/'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"FlowsApi.flows_instances_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#flows_instances_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
