=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class LifecycleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Mixin to validate that a valid enterprise license exists before allowing to save the object
    # @param lifecycle_iteration_request [LifecycleIterationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LifecycleIteration]
    def lifecycle_iterations_create(lifecycle_iteration_request, opts = {})
      data, _status_code, _headers = lifecycle_iterations_create_with_http_info(lifecycle_iteration_request, opts)
      data
    end

    # Mixin to validate that a valid enterprise license exists before allowing to save the object
    # @param lifecycle_iteration_request [LifecycleIterationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LifecycleIteration, Integer, Hash)>] LifecycleIteration data, response status code and response headers
    def lifecycle_iterations_create_with_http_info(lifecycle_iteration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_iterations_create ...'
      end
      # verify the required parameter 'lifecycle_iteration_request' is set
      if @api_client.config.client_side_validation && lifecycle_iteration_request.nil?
        fail ArgumentError, "Missing the required parameter 'lifecycle_iteration_request' when calling LifecycleApi.lifecycle_iterations_create"
      end
      # resource path
      local_var_path = '/lifecycle/iterations/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(lifecycle_iteration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LifecycleIteration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_iterations_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_iterations_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to validate that a valid enterprise license exists before allowing to save the object
    # @param content_type [String] 
    # @param obj_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LifecycleIteration]
    def lifecycle_iterations_latest_retrieve(content_type, obj_id, opts = {})
      data, _status_code, _headers = lifecycle_iterations_latest_retrieve_with_http_info(content_type, obj_id, opts)
      data
    end

    # Mixin to validate that a valid enterprise license exists before allowing to save the object
    # @param content_type [String] 
    # @param obj_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LifecycleIteration, Integer, Hash)>] LifecycleIteration data, response status code and response headers
    def lifecycle_iterations_latest_retrieve_with_http_info(content_type, obj_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_iterations_latest_retrieve ...'
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LifecycleApi.lifecycle_iterations_latest_retrieve"
      end
      pattern = Regexp.new(/^[^\/]+$/)
      if @api_client.config.client_side_validation && content_type !~ pattern
        fail ArgumentError, "invalid value for 'content_type' when calling LifecycleApi.lifecycle_iterations_latest_retrieve, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'obj_id' is set
      if @api_client.config.client_side_validation && obj_id.nil?
        fail ArgumentError, "Missing the required parameter 'obj_id' when calling LifecycleApi.lifecycle_iterations_latest_retrieve"
      end
      pattern = Regexp.new(/^[^\/]+$/)
      if @api_client.config.client_side_validation && obj_id !~ pattern
        fail ArgumentError, "invalid value for 'obj_id' when calling LifecycleApi.lifecycle_iterations_latest_retrieve, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/lifecycle/iterations/latest/{content_type}/{object_id}/'.sub('{' + 'content_type' + '}', CGI.escape(content_type.to_s)).sub('{' + 'object_id' + '}', CGI.escape(obj_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LifecycleIteration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_iterations_latest_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_iterations_latest_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to validate that a valid enterprise license exists before allowing to save the object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Boolean] :user_is_reviewer 
    # @return [PaginatedLifecycleIterationList]
    def lifecycle_iterations_list_open(opts = {})
      data, _status_code, _headers = lifecycle_iterations_list_open_with_http_info(opts)
      data
    end

    # Mixin to validate that a valid enterprise license exists before allowing to save the object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Boolean] :user_is_reviewer 
    # @return [Array<(PaginatedLifecycleIterationList, Integer, Hash)>] PaginatedLifecycleIterationList data, response status code and response headers
    def lifecycle_iterations_list_open_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_iterations_list_open ...'
      end
      # resource path
      local_var_path = '/lifecycle/iterations/open/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'user_is_reviewer'] = opts[:'user_is_reviewer'] if !opts[:'user_is_reviewer'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedLifecycleIterationList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_iterations_list_open",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_iterations_list_open\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to validate that a valid enterprise license exists before allowing to save the object
    # @param review_request [ReviewRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Review]
    def lifecycle_reviews_create(review_request, opts = {})
      data, _status_code, _headers = lifecycle_reviews_create_with_http_info(review_request, opts)
      data
    end

    # Mixin to validate that a valid enterprise license exists before allowing to save the object
    # @param review_request [ReviewRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Review, Integer, Hash)>] Review data, response status code and response headers
    def lifecycle_reviews_create_with_http_info(review_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_reviews_create ...'
      end
      # verify the required parameter 'review_request' is set
      if @api_client.config.client_side_validation && review_request.nil?
        fail ArgumentError, "Missing the required parameter 'review_request' when calling LifecycleApi.lifecycle_reviews_create"
      end
      # resource path
      local_var_path = '/lifecycle/reviews/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(review_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Review'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_reviews_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_reviews_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param lifecycle_rule_request [LifecycleRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LifecycleRule]
    def lifecycle_rules_create(lifecycle_rule_request, opts = {})
      data, _status_code, _headers = lifecycle_rules_create_with_http_info(lifecycle_rule_request, opts)
      data
    end

    # @param lifecycle_rule_request [LifecycleRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LifecycleRule, Integer, Hash)>] LifecycleRule data, response status code and response headers
    def lifecycle_rules_create_with_http_info(lifecycle_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_rules_create ...'
      end
      # verify the required parameter 'lifecycle_rule_request' is set
      if @api_client.config.client_side_validation && lifecycle_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'lifecycle_rule_request' when calling LifecycleApi.lifecycle_rules_create"
      end
      # resource path
      local_var_path = '/lifecycle/rules/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(lifecycle_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LifecycleRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_rules_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_rules_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this lifecycle rule.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def lifecycle_rules_destroy(id, opts = {})
      lifecycle_rules_destroy_with_http_info(id, opts)
      nil
    end

    # @param id [String] A UUID string identifying this lifecycle rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def lifecycle_rules_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_rules_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LifecycleApi.lifecycle_rules_destroy"
      end
      # resource path
      local_var_path = '/lifecycle/rules/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_rules_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_rules_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type__model 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedLifecycleRuleList]
    def lifecycle_rules_list(opts = {})
      data, _status_code, _headers = lifecycle_rules_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type__model 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedLifecycleRuleList, Integer, Hash)>] PaginatedLifecycleRuleList data, response status code and response headers
    def lifecycle_rules_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_rules_list ...'
      end
      # resource path
      local_var_path = '/lifecycle/rules/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'content_type__model'] = opts[:'content_type__model'] if !opts[:'content_type__model'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedLifecycleRuleList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_rules_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_rules_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this lifecycle rule.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedLifecycleRuleRequest] :patched_lifecycle_rule_request 
    # @return [LifecycleRule]
    def lifecycle_rules_partial_update(id, opts = {})
      data, _status_code, _headers = lifecycle_rules_partial_update_with_http_info(id, opts)
      data
    end

    # @param id [String] A UUID string identifying this lifecycle rule.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedLifecycleRuleRequest] :patched_lifecycle_rule_request 
    # @return [Array<(LifecycleRule, Integer, Hash)>] LifecycleRule data, response status code and response headers
    def lifecycle_rules_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_rules_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LifecycleApi.lifecycle_rules_partial_update"
      end
      # resource path
      local_var_path = '/lifecycle/rules/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_lifecycle_rule_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'LifecycleRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_rules_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_rules_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this lifecycle rule.
    # @param [Hash] opts the optional parameters
    # @return [LifecycleRule]
    def lifecycle_rules_retrieve(id, opts = {})
      data, _status_code, _headers = lifecycle_rules_retrieve_with_http_info(id, opts)
      data
    end

    # @param id [String] A UUID string identifying this lifecycle rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LifecycleRule, Integer, Hash)>] LifecycleRule data, response status code and response headers
    def lifecycle_rules_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_rules_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LifecycleApi.lifecycle_rules_retrieve"
      end
      # resource path
      local_var_path = '/lifecycle/rules/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LifecycleRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_rules_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_rules_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this lifecycle rule.
    # @param lifecycle_rule_request [LifecycleRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LifecycleRule]
    def lifecycle_rules_update(id, lifecycle_rule_request, opts = {})
      data, _status_code, _headers = lifecycle_rules_update_with_http_info(id, lifecycle_rule_request, opts)
      data
    end

    # @param id [String] A UUID string identifying this lifecycle rule.
    # @param lifecycle_rule_request [LifecycleRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LifecycleRule, Integer, Hash)>] LifecycleRule data, response status code and response headers
    def lifecycle_rules_update_with_http_info(id, lifecycle_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LifecycleApi.lifecycle_rules_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LifecycleApi.lifecycle_rules_update"
      end
      # verify the required parameter 'lifecycle_rule_request' is set
      if @api_client.config.client_side_validation && lifecycle_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'lifecycle_rule_request' when calling LifecycleApi.lifecycle_rules_update"
      end
      # resource path
      local_var_path = '/lifecycle/rules/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(lifecycle_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LifecycleRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"LifecycleApi.lifecycle_rules_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LifecycleApi#lifecycle_rules_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
