=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class ManagedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Apply a blueprint
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @return [BlueprintInstance]
    def managed_blueprints_apply_create(instance_uuid, opts = {})
      data, _status_code, _headers = managed_blueprints_apply_create_with_http_info(instance_uuid, opts)
      data
    end

    # Apply a blueprint
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlueprintInstance, Integer, Hash)>] BlueprintInstance data, response status code and response headers
    def managed_blueprints_apply_create_with_http_info(instance_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedApi.managed_blueprints_apply_create ...'
      end
      # verify the required parameter 'instance_uuid' is set
      if @api_client.config.client_side_validation && instance_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'instance_uuid' when calling ManagedApi.managed_blueprints_apply_create"
      end
      # resource path
      local_var_path = '/managed/blueprints/{instance_uuid}/apply/'.sub('{' + 'instance_uuid' + '}', CGI.escape(instance_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlueprintInstance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ManagedApi.managed_blueprints_apply_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedApi#managed_blueprints_apply_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get blueprints
    # @param [Hash] opts the optional parameters
    # @return [Array<BlueprintFile>]
    def managed_blueprints_available_list(opts = {})
      data, _status_code, _headers = managed_blueprints_available_list_with_http_info(opts)
      data
    end

    # Get blueprints
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<BlueprintFile>, Integer, Hash)>] Array<BlueprintFile> data, response status code and response headers
    def managed_blueprints_available_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedApi.managed_blueprints_available_list ...'
      end
      # resource path
      local_var_path = '/managed/blueprints/available/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<BlueprintFile>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ManagedApi.managed_blueprints_available_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedApi#managed_blueprints_available_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Blueprint instances
    # @param blueprint_instance_request [BlueprintInstanceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BlueprintInstance]
    def managed_blueprints_create(blueprint_instance_request, opts = {})
      data, _status_code, _headers = managed_blueprints_create_with_http_info(blueprint_instance_request, opts)
      data
    end

    # Blueprint instances
    # @param blueprint_instance_request [BlueprintInstanceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlueprintInstance, Integer, Hash)>] BlueprintInstance data, response status code and response headers
    def managed_blueprints_create_with_http_info(blueprint_instance_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedApi.managed_blueprints_create ...'
      end
      # verify the required parameter 'blueprint_instance_request' is set
      if @api_client.config.client_side_validation && blueprint_instance_request.nil?
        fail ArgumentError, "Missing the required parameter 'blueprint_instance_request' when calling ManagedApi.managed_blueprints_create"
      end
      # resource path
      local_var_path = '/managed/blueprints/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(blueprint_instance_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BlueprintInstance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ManagedApi.managed_blueprints_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedApi#managed_blueprints_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Blueprint instances
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def managed_blueprints_destroy(instance_uuid, opts = {})
      managed_blueprints_destroy_with_http_info(instance_uuid, opts)
      nil
    end

    # Blueprint instances
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def managed_blueprints_destroy_with_http_info(instance_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedApi.managed_blueprints_destroy ...'
      end
      # verify the required parameter 'instance_uuid' is set
      if @api_client.config.client_side_validation && instance_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'instance_uuid' when calling ManagedApi.managed_blueprints_destroy"
      end
      # resource path
      local_var_path = '/managed/blueprints/{instance_uuid}/'.sub('{' + 'instance_uuid' + '}', CGI.escape(instance_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ManagedApi.managed_blueprints_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedApi#managed_blueprints_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Blueprint instances
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :path 
    # @option opts [String] :search A search term.
    # @return [PaginatedBlueprintInstanceList]
    def managed_blueprints_list(opts = {})
      data, _status_code, _headers = managed_blueprints_list_with_http_info(opts)
      data
    end

    # Blueprint instances
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :path 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedBlueprintInstanceList, Integer, Hash)>] PaginatedBlueprintInstanceList data, response status code and response headers
    def managed_blueprints_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedApi.managed_blueprints_list ...'
      end
      # resource path
      local_var_path = '/managed/blueprints/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedBlueprintInstanceList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ManagedApi.managed_blueprints_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedApi#managed_blueprints_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Blueprint instances
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedBlueprintInstanceRequest] :patched_blueprint_instance_request 
    # @return [BlueprintInstance]
    def managed_blueprints_partial_update(instance_uuid, opts = {})
      data, _status_code, _headers = managed_blueprints_partial_update_with_http_info(instance_uuid, opts)
      data
    end

    # Blueprint instances
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedBlueprintInstanceRequest] :patched_blueprint_instance_request 
    # @return [Array<(BlueprintInstance, Integer, Hash)>] BlueprintInstance data, response status code and response headers
    def managed_blueprints_partial_update_with_http_info(instance_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedApi.managed_blueprints_partial_update ...'
      end
      # verify the required parameter 'instance_uuid' is set
      if @api_client.config.client_side_validation && instance_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'instance_uuid' when calling ManagedApi.managed_blueprints_partial_update"
      end
      # resource path
      local_var_path = '/managed/blueprints/{instance_uuid}/'.sub('{' + 'instance_uuid' + '}', CGI.escape(instance_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_blueprint_instance_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'BlueprintInstance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ManagedApi.managed_blueprints_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedApi#managed_blueprints_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Blueprint instances
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @return [BlueprintInstance]
    def managed_blueprints_retrieve(instance_uuid, opts = {})
      data, _status_code, _headers = managed_blueprints_retrieve_with_http_info(instance_uuid, opts)
      data
    end

    # Blueprint instances
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlueprintInstance, Integer, Hash)>] BlueprintInstance data, response status code and response headers
    def managed_blueprints_retrieve_with_http_info(instance_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedApi.managed_blueprints_retrieve ...'
      end
      # verify the required parameter 'instance_uuid' is set
      if @api_client.config.client_side_validation && instance_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'instance_uuid' when calling ManagedApi.managed_blueprints_retrieve"
      end
      # resource path
      local_var_path = '/managed/blueprints/{instance_uuid}/'.sub('{' + 'instance_uuid' + '}', CGI.escape(instance_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlueprintInstance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ManagedApi.managed_blueprints_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedApi#managed_blueprints_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Blueprint instances
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param blueprint_instance_request [BlueprintInstanceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BlueprintInstance]
    def managed_blueprints_update(instance_uuid, blueprint_instance_request, opts = {})
      data, _status_code, _headers = managed_blueprints_update_with_http_info(instance_uuid, blueprint_instance_request, opts)
      data
    end

    # Blueprint instances
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param blueprint_instance_request [BlueprintInstanceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlueprintInstance, Integer, Hash)>] BlueprintInstance data, response status code and response headers
    def managed_blueprints_update_with_http_info(instance_uuid, blueprint_instance_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedApi.managed_blueprints_update ...'
      end
      # verify the required parameter 'instance_uuid' is set
      if @api_client.config.client_side_validation && instance_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'instance_uuid' when calling ManagedApi.managed_blueprints_update"
      end
      # verify the required parameter 'blueprint_instance_request' is set
      if @api_client.config.client_side_validation && blueprint_instance_request.nil?
        fail ArgumentError, "Missing the required parameter 'blueprint_instance_request' when calling ManagedApi.managed_blueprints_update"
      end
      # resource path
      local_var_path = '/managed/blueprints/{instance_uuid}/'.sub('{' + 'instance_uuid' + '}', CGI.escape(instance_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(blueprint_instance_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BlueprintInstance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ManagedApi.managed_blueprints_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedApi#managed_blueprints_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def managed_blueprints_used_by_list(instance_uuid, opts = {})
      data, _status_code, _headers = managed_blueprints_used_by_list_with_http_info(instance_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param instance_uuid [String] A UUID string identifying this Blueprint Instance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def managed_blueprints_used_by_list_with_http_info(instance_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedApi.managed_blueprints_used_by_list ...'
      end
      # verify the required parameter 'instance_uuid' is set
      if @api_client.config.client_side_validation && instance_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'instance_uuid' when calling ManagedApi.managed_blueprints_used_by_list"
      end
      # resource path
      local_var_path = '/managed/blueprints/{instance_uuid}/used_by/'.sub('{' + 'instance_uuid' + '}', CGI.escape(instance_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ManagedApi.managed_blueprints_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedApi#managed_blueprints_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
