=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class Oauth2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # AccessToken Viewset
    # @param id [Integer] A unique integer value identifying this OAuth2 Access Token.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def oauth2_access_tokens_destroy(id, opts = {})
      oauth2_access_tokens_destroy_with_http_info(id, opts)
      nil
    end

    # AccessToken Viewset
    # @param id [Integer] A unique integer value identifying this OAuth2 Access Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def oauth2_access_tokens_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_access_tokens_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Oauth2Api.oauth2_access_tokens_destroy"
      end
      # resource path
      local_var_path = '/oauth2/access_tokens/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_access_tokens_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_access_tokens_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AccessToken Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :user 
    # @return [PaginatedTokenModelList]
    def oauth2_access_tokens_list(opts = {})
      data, _status_code, _headers = oauth2_access_tokens_list_with_http_info(opts)
      data
    end

    # AccessToken Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :user 
    # @return [Array<(PaginatedTokenModelList, Integer, Hash)>] PaginatedTokenModelList data, response status code and response headers
    def oauth2_access_tokens_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_access_tokens_list ...'
      end
      # resource path
      local_var_path = '/oauth2/access_tokens/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedTokenModelList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_access_tokens_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_access_tokens_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AccessToken Viewset
    # @param id [Integer] A unique integer value identifying this OAuth2 Access Token.
    # @param [Hash] opts the optional parameters
    # @return [TokenModel]
    def oauth2_access_tokens_retrieve(id, opts = {})
      data, _status_code, _headers = oauth2_access_tokens_retrieve_with_http_info(id, opts)
      data
    end

    # AccessToken Viewset
    # @param id [Integer] A unique integer value identifying this OAuth2 Access Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TokenModel, Integer, Hash)>] TokenModel data, response status code and response headers
    def oauth2_access_tokens_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_access_tokens_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Oauth2Api.oauth2_access_tokens_retrieve"
      end
      # resource path
      local_var_path = '/oauth2/access_tokens/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TokenModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_access_tokens_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_access_tokens_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this OAuth2 Access Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def oauth2_access_tokens_used_by_list(id, opts = {})
      data, _status_code, _headers = oauth2_access_tokens_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this OAuth2 Access Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def oauth2_access_tokens_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_access_tokens_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Oauth2Api.oauth2_access_tokens_used_by_list"
      end
      # resource path
      local_var_path = '/oauth2/access_tokens/{id}/used_by/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_access_tokens_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_access_tokens_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthorizationCode Viewset
    # @param id [Integer] A unique integer value identifying this Authorization Code.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def oauth2_authorization_codes_destroy(id, opts = {})
      oauth2_authorization_codes_destroy_with_http_info(id, opts)
      nil
    end

    # AuthorizationCode Viewset
    # @param id [Integer] A unique integer value identifying this Authorization Code.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def oauth2_authorization_codes_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_authorization_codes_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Oauth2Api.oauth2_authorization_codes_destroy"
      end
      # resource path
      local_var_path = '/oauth2/authorization_codes/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_authorization_codes_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_authorization_codes_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthorizationCode Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :user 
    # @return [PaginatedExpiringBaseGrantModelList]
    def oauth2_authorization_codes_list(opts = {})
      data, _status_code, _headers = oauth2_authorization_codes_list_with_http_info(opts)
      data
    end

    # AuthorizationCode Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :user 
    # @return [Array<(PaginatedExpiringBaseGrantModelList, Integer, Hash)>] PaginatedExpiringBaseGrantModelList data, response status code and response headers
    def oauth2_authorization_codes_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_authorization_codes_list ...'
      end
      # resource path
      local_var_path = '/oauth2/authorization_codes/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedExpiringBaseGrantModelList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_authorization_codes_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_authorization_codes_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthorizationCode Viewset
    # @param id [Integer] A unique integer value identifying this Authorization Code.
    # @param [Hash] opts the optional parameters
    # @return [ExpiringBaseGrantModel]
    def oauth2_authorization_codes_retrieve(id, opts = {})
      data, _status_code, _headers = oauth2_authorization_codes_retrieve_with_http_info(id, opts)
      data
    end

    # AuthorizationCode Viewset
    # @param id [Integer] A unique integer value identifying this Authorization Code.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpiringBaseGrantModel, Integer, Hash)>] ExpiringBaseGrantModel data, response status code and response headers
    def oauth2_authorization_codes_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_authorization_codes_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Oauth2Api.oauth2_authorization_codes_retrieve"
      end
      # resource path
      local_var_path = '/oauth2/authorization_codes/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpiringBaseGrantModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_authorization_codes_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_authorization_codes_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Authorization Code.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def oauth2_authorization_codes_used_by_list(id, opts = {})
      data, _status_code, _headers = oauth2_authorization_codes_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Authorization Code.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def oauth2_authorization_codes_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_authorization_codes_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Oauth2Api.oauth2_authorization_codes_used_by_list"
      end
      # resource path
      local_var_path = '/oauth2/authorization_codes/{id}/used_by/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_authorization_codes_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_authorization_codes_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RefreshToken Viewset
    # @param id [Integer] A unique integer value identifying this OAuth2 Refresh Token.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def oauth2_refresh_tokens_destroy(id, opts = {})
      oauth2_refresh_tokens_destroy_with_http_info(id, opts)
      nil
    end

    # RefreshToken Viewset
    # @param id [Integer] A unique integer value identifying this OAuth2 Refresh Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def oauth2_refresh_tokens_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_refresh_tokens_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Oauth2Api.oauth2_refresh_tokens_destroy"
      end
      # resource path
      local_var_path = '/oauth2/refresh_tokens/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_refresh_tokens_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_refresh_tokens_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RefreshToken Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :user 
    # @return [PaginatedTokenModelList]
    def oauth2_refresh_tokens_list(opts = {})
      data, _status_code, _headers = oauth2_refresh_tokens_list_with_http_info(opts)
      data
    end

    # RefreshToken Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :user 
    # @return [Array<(PaginatedTokenModelList, Integer, Hash)>] PaginatedTokenModelList data, response status code and response headers
    def oauth2_refresh_tokens_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_refresh_tokens_list ...'
      end
      # resource path
      local_var_path = '/oauth2/refresh_tokens/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedTokenModelList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_refresh_tokens_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_refresh_tokens_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RefreshToken Viewset
    # @param id [Integer] A unique integer value identifying this OAuth2 Refresh Token.
    # @param [Hash] opts the optional parameters
    # @return [TokenModel]
    def oauth2_refresh_tokens_retrieve(id, opts = {})
      data, _status_code, _headers = oauth2_refresh_tokens_retrieve_with_http_info(id, opts)
      data
    end

    # RefreshToken Viewset
    # @param id [Integer] A unique integer value identifying this OAuth2 Refresh Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TokenModel, Integer, Hash)>] TokenModel data, response status code and response headers
    def oauth2_refresh_tokens_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_refresh_tokens_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Oauth2Api.oauth2_refresh_tokens_retrieve"
      end
      # resource path
      local_var_path = '/oauth2/refresh_tokens/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TokenModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_refresh_tokens_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_refresh_tokens_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this OAuth2 Refresh Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def oauth2_refresh_tokens_used_by_list(id, opts = {})
      data, _status_code, _headers = oauth2_refresh_tokens_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this OAuth2 Refresh Token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def oauth2_refresh_tokens_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Oauth2Api.oauth2_refresh_tokens_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Oauth2Api.oauth2_refresh_tokens_used_by_list"
      end
      # resource path
      local_var_path = '/oauth2/refresh_tokens/{id}/used_by/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"Oauth2Api.oauth2_refresh_tokens_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Oauth2Api#oauth2_refresh_tokens_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
