=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class OutpostsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Outpost Viewset
    # @param outpost_request [OutpostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Outpost]
    def outposts_instances_create(outpost_request, opts = {})
      data, _status_code, _headers = outposts_instances_create_with_http_info(outpost_request, opts)
      data
    end

    # Outpost Viewset
    # @param outpost_request [OutpostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Outpost, Integer, Hash)>] Outpost data, response status code and response headers
    def outposts_instances_create_with_http_info(outpost_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_instances_create ...'
      end
      # verify the required parameter 'outpost_request' is set
      if @api_client.config.client_side_validation && outpost_request.nil?
        fail ArgumentError, "Missing the required parameter 'outpost_request' when calling OutpostsApi.outposts_instances_create"
      end
      # resource path
      local_var_path = '/outposts/instances/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(outpost_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Outpost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_instances_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_instances_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Global default outpost config
    # @param [Hash] opts the optional parameters
    # @return [OutpostDefaultConfig]
    def outposts_instances_default_settings_retrieve(opts = {})
      data, _status_code, _headers = outposts_instances_default_settings_retrieve_with_http_info(opts)
      data
    end

    # Global default outpost config
    # @param [Hash] opts the optional parameters
    # @return [Array<(OutpostDefaultConfig, Integer, Hash)>] OutpostDefaultConfig data, response status code and response headers
    def outposts_instances_default_settings_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_instances_default_settings_retrieve ...'
      end
      # resource path
      local_var_path = '/outposts/instances/default_settings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OutpostDefaultConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_instances_default_settings_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_instances_default_settings_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Outpost Viewset
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def outposts_instances_destroy(uuid, opts = {})
      outposts_instances_destroy_with_http_info(uuid, opts)
      nil
    end

    # Outpost Viewset
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def outposts_instances_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_instances_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_instances_destroy"
      end
      # resource path
      local_var_path = '/outposts/instances/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_instances_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_instances_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get outposts current health
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :managed__icontains 
    # @option opts [String] :managed__iexact 
    # @option opts [String] :name__icontains 
    # @option opts [String] :name__iexact 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Boolean] :providers__isnull 
    # @option opts [Array<Integer>] :providers_by_pk 
    # @option opts [String] :search A search term.
    # @option opts [String] :service_connection__name__icontains 
    # @option opts [String] :service_connection__name__iexact 
    # @return [Array<OutpostHealth>]
    def outposts_instances_health_list(uuid, opts = {})
      data, _status_code, _headers = outposts_instances_health_list_with_http_info(uuid, opts)
      data
    end

    # Get outposts current health
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :managed__icontains 
    # @option opts [String] :managed__iexact 
    # @option opts [String] :name__icontains 
    # @option opts [String] :name__iexact 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Boolean] :providers__isnull 
    # @option opts [Array<Integer>] :providers_by_pk 
    # @option opts [String] :search A search term.
    # @option opts [String] :service_connection__name__icontains 
    # @option opts [String] :service_connection__name__iexact 
    # @return [Array<(Array<OutpostHealth>, Integer, Hash)>] Array<OutpostHealth> data, response status code and response headers
    def outposts_instances_health_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_instances_health_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_instances_health_list"
      end
      # resource path
      local_var_path = '/outposts/instances/{uuid}/health/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'managed__icontains'] = opts[:'managed__icontains'] if !opts[:'managed__icontains'].nil?
      query_params[:'managed__iexact'] = opts[:'managed__iexact'] if !opts[:'managed__iexact'].nil?
      query_params[:'name__icontains'] = opts[:'name__icontains'] if !opts[:'name__icontains'].nil?
      query_params[:'name__iexact'] = opts[:'name__iexact'] if !opts[:'name__iexact'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'providers__isnull'] = opts[:'providers__isnull'] if !opts[:'providers__isnull'].nil?
      query_params[:'providers_by_pk'] = @api_client.build_collection_param(opts[:'providers_by_pk'], :multi) if !opts[:'providers_by_pk'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'service_connection__name__icontains'] = opts[:'service_connection__name__icontains'] if !opts[:'service_connection__name__icontains'].nil?
      query_params[:'service_connection__name__iexact'] = opts[:'service_connection__name__iexact'] if !opts[:'service_connection__name__iexact'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OutpostHealth>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_instances_health_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_instances_health_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Outpost Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :managed__icontains 
    # @option opts [String] :managed__iexact 
    # @option opts [String] :name__icontains 
    # @option opts [String] :name__iexact 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Boolean] :providers__isnull 
    # @option opts [Array<Integer>] :providers_by_pk 
    # @option opts [String] :search A search term.
    # @option opts [String] :service_connection__name__icontains 
    # @option opts [String] :service_connection__name__iexact 
    # @return [PaginatedOutpostList]
    def outposts_instances_list(opts = {})
      data, _status_code, _headers = outposts_instances_list_with_http_info(opts)
      data
    end

    # Outpost Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :managed__icontains 
    # @option opts [String] :managed__iexact 
    # @option opts [String] :name__icontains 
    # @option opts [String] :name__iexact 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Boolean] :providers__isnull 
    # @option opts [Array<Integer>] :providers_by_pk 
    # @option opts [String] :search A search term.
    # @option opts [String] :service_connection__name__icontains 
    # @option opts [String] :service_connection__name__iexact 
    # @return [Array<(PaginatedOutpostList, Integer, Hash)>] PaginatedOutpostList data, response status code and response headers
    def outposts_instances_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_instances_list ...'
      end
      # resource path
      local_var_path = '/outposts/instances/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'managed__icontains'] = opts[:'managed__icontains'] if !opts[:'managed__icontains'].nil?
      query_params[:'managed__iexact'] = opts[:'managed__iexact'] if !opts[:'managed__iexact'].nil?
      query_params[:'name__icontains'] = opts[:'name__icontains'] if !opts[:'name__icontains'].nil?
      query_params[:'name__iexact'] = opts[:'name__iexact'] if !opts[:'name__iexact'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'providers__isnull'] = opts[:'providers__isnull'] if !opts[:'providers__isnull'].nil?
      query_params[:'providers_by_pk'] = @api_client.build_collection_param(opts[:'providers_by_pk'], :multi) if !opts[:'providers_by_pk'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'service_connection__name__icontains'] = opts[:'service_connection__name__icontains'] if !opts[:'service_connection__name__icontains'].nil?
      query_params[:'service_connection__name__iexact'] = opts[:'service_connection__name__iexact'] if !opts[:'service_connection__name__iexact'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedOutpostList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_instances_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_instances_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Outpost Viewset
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedOutpostRequest] :patched_outpost_request 
    # @return [Outpost]
    def outposts_instances_partial_update(uuid, opts = {})
      data, _status_code, _headers = outposts_instances_partial_update_with_http_info(uuid, opts)
      data
    end

    # Outpost Viewset
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedOutpostRequest] :patched_outpost_request 
    # @return [Array<(Outpost, Integer, Hash)>] Outpost data, response status code and response headers
    def outposts_instances_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_instances_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_instances_partial_update"
      end
      # resource path
      local_var_path = '/outposts/instances/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_outpost_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Outpost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_instances_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_instances_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Outpost Viewset
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @return [Outpost]
    def outposts_instances_retrieve(uuid, opts = {})
      data, _status_code, _headers = outposts_instances_retrieve_with_http_info(uuid, opts)
      data
    end

    # Outpost Viewset
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Outpost, Integer, Hash)>] Outpost data, response status code and response headers
    def outposts_instances_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_instances_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_instances_retrieve"
      end
      # resource path
      local_var_path = '/outposts/instances/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Outpost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_instances_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_instances_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Outpost Viewset
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param outpost_request [OutpostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Outpost]
    def outposts_instances_update(uuid, outpost_request, opts = {})
      data, _status_code, _headers = outposts_instances_update_with_http_info(uuid, outpost_request, opts)
      data
    end

    # Outpost Viewset
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param outpost_request [OutpostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Outpost, Integer, Hash)>] Outpost data, response status code and response headers
    def outposts_instances_update_with_http_info(uuid, outpost_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_instances_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_instances_update"
      end
      # verify the required parameter 'outpost_request' is set
      if @api_client.config.client_side_validation && outpost_request.nil?
        fail ArgumentError, "Missing the required parameter 'outpost_request' when calling OutpostsApi.outposts_instances_update"
      end
      # resource path
      local_var_path = '/outposts/instances/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(outpost_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Outpost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_instances_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_instances_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def outposts_instances_used_by_list(uuid, opts = {})
      data, _status_code, _headers = outposts_instances_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Outpost.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def outposts_instances_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_instances_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_instances_used_by_list"
      end
      # resource path
      local_var_path = '/outposts/instances/{uuid}/used_by/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_instances_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_instances_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check access to a single application by slug
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_slug 
    # @return [LDAPCheckAccess]
    def outposts_ldap_access_check(id, opts = {})
      data, _status_code, _headers = outposts_ldap_access_check_with_http_info(id, opts)
      data
    end

    # Check access to a single application by slug
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_slug 
    # @return [Array<(LDAPCheckAccess, Integer, Hash)>] LDAPCheckAccess data, response status code and response headers
    def outposts_ldap_access_check_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_ldap_access_check ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OutpostsApi.outposts_ldap_access_check"
      end
      # resource path
      local_var_path = '/outposts/ldap/{id}/check_access/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'app_slug'] = opts[:'app_slug'] if !opts[:'app_slug'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LDAPCheckAccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_ldap_access_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_ldap_access_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LDAPProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedLDAPOutpostConfigList]
    def outposts_ldap_list(opts = {})
      data, _status_code, _headers = outposts_ldap_list_with_http_info(opts)
      data
    end

    # LDAPProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedLDAPOutpostConfigList, Integer, Hash)>] PaginatedLDAPOutpostConfigList data, response status code and response headers
    def outposts_ldap_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_ldap_list ...'
      end
      # resource path
      local_var_path = '/outposts/ldap/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedLDAPOutpostConfigList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_ldap_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_ldap_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ProxyProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedProxyOutpostConfigList]
    def outposts_proxy_list(opts = {})
      data, _status_code, _headers = outposts_proxy_list_with_http_info(opts)
      data
    end

    # ProxyProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedProxyOutpostConfigList, Integer, Hash)>] PaginatedProxyOutpostConfigList data, response status code and response headers
    def outposts_proxy_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_proxy_list ...'
      end
      # resource path
      local_var_path = '/outposts/proxy/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedProxyOutpostConfigList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_proxy_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_proxy_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check access to a single application by slug
    # @param id [Integer] A unique integer value identifying this Radius Provider.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_slug 
    # @return [RadiusCheckAccess]
    def outposts_radius_access_check(id, opts = {})
      data, _status_code, _headers = outposts_radius_access_check_with_http_info(id, opts)
      data
    end

    # Check access to a single application by slug
    # @param id [Integer] A unique integer value identifying this Radius Provider.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_slug 
    # @return [Array<(RadiusCheckAccess, Integer, Hash)>] RadiusCheckAccess data, response status code and response headers
    def outposts_radius_access_check_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_radius_access_check ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OutpostsApi.outposts_radius_access_check"
      end
      # resource path
      local_var_path = '/outposts/radius/{id}/check_access/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'app_slug'] = opts[:'app_slug'] if !opts[:'app_slug'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RadiusCheckAccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_radius_access_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_radius_access_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RadiusProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedRadiusOutpostConfigList]
    def outposts_radius_list(opts = {})
      data, _status_code, _headers = outposts_radius_list_with_http_info(opts)
      data
    end

    # RadiusProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedRadiusOutpostConfigList, Integer, Hash)>] PaginatedRadiusOutpostConfigList data, response status code and response headers
    def outposts_radius_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_radius_list ...'
      end
      # resource path
      local_var_path = '/outposts/radius/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedRadiusOutpostConfigList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_radius_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_radius_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Outpost Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def outposts_service_connections_all_destroy(uuid, opts = {})
      outposts_service_connections_all_destroy_with_http_info(uuid, opts)
      nil
    end

    # ServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Outpost Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def outposts_service_connections_all_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_all_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_all_destroy"
      end
      # resource path
      local_var_path = '/outposts/service_connections/all/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_all_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_all_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ServiceConnection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedServiceConnectionList]
    def outposts_service_connections_all_list(opts = {})
      data, _status_code, _headers = outposts_service_connections_all_list_with_http_info(opts)
      data
    end

    # ServiceConnection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedServiceConnectionList, Integer, Hash)>] PaginatedServiceConnectionList data, response status code and response headers
    def outposts_service_connections_all_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_all_list ...'
      end
      # resource path
      local_var_path = '/outposts/service_connections/all/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedServiceConnectionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_all_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_all_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Outpost Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [ServiceConnection]
    def outposts_service_connections_all_retrieve(uuid, opts = {})
      data, _status_code, _headers = outposts_service_connections_all_retrieve_with_http_info(uuid, opts)
      data
    end

    # ServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Outpost Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceConnection, Integer, Hash)>] ServiceConnection data, response status code and response headers
    def outposts_service_connections_all_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_all_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_all_retrieve"
      end
      # resource path
      local_var_path = '/outposts/service_connections/all/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_all_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_all_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the service connection's state
    # @param uuid [String] A UUID string identifying this Outpost Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [ServiceConnectionState]
    def outposts_service_connections_all_state_retrieve(uuid, opts = {})
      data, _status_code, _headers = outposts_service_connections_all_state_retrieve_with_http_info(uuid, opts)
      data
    end

    # Get the service connection&#39;s state
    # @param uuid [String] A UUID string identifying this Outpost Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceConnectionState, Integer, Hash)>] ServiceConnectionState data, response status code and response headers
    def outposts_service_connections_all_state_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_all_state_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_all_state_retrieve"
      end
      # resource path
      local_var_path = '/outposts/service_connections/all/{uuid}/state/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceConnectionState'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_all_state_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_all_state_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<TypeCreate>]
    def outposts_service_connections_all_types_list(opts = {})
      data, _status_code, _headers = outposts_service_connections_all_types_list_with_http_info(opts)
      data
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TypeCreate>, Integer, Hash)>] Array<TypeCreate> data, response status code and response headers
    def outposts_service_connections_all_types_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_all_types_list ...'
      end
      # resource path
      local_var_path = '/outposts/service_connections/all/types/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TypeCreate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_all_types_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_all_types_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Outpost Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def outposts_service_connections_all_used_by_list(uuid, opts = {})
      data, _status_code, _headers = outposts_service_connections_all_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Outpost Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def outposts_service_connections_all_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_all_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_all_used_by_list"
      end
      # resource path
      local_var_path = '/outposts/service_connections/all/{uuid}/used_by/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_all_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_all_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DockerServiceConnection Viewset
    # @param docker_service_connection_request [DockerServiceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DockerServiceConnection]
    def outposts_service_connections_docker_create(docker_service_connection_request, opts = {})
      data, _status_code, _headers = outposts_service_connections_docker_create_with_http_info(docker_service_connection_request, opts)
      data
    end

    # DockerServiceConnection Viewset
    # @param docker_service_connection_request [DockerServiceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DockerServiceConnection, Integer, Hash)>] DockerServiceConnection data, response status code and response headers
    def outposts_service_connections_docker_create_with_http_info(docker_service_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_docker_create ...'
      end
      # verify the required parameter 'docker_service_connection_request' is set
      if @api_client.config.client_side_validation && docker_service_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'docker_service_connection_request' when calling OutpostsApi.outposts_service_connections_docker_create"
      end
      # resource path
      local_var_path = '/outposts/service_connections/docker/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(docker_service_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DockerServiceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_docker_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_docker_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DockerServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def outposts_service_connections_docker_destroy(uuid, opts = {})
      outposts_service_connections_docker_destroy_with_http_info(uuid, opts)
      nil
    end

    # DockerServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def outposts_service_connections_docker_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_docker_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_docker_destroy"
      end
      # resource path
      local_var_path = '/outposts/service_connections/docker/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_docker_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_docker_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DockerServiceConnection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :local 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :tls_authentication 
    # @option opts [String] :tls_verification 
    # @option opts [String] :url 
    # @return [PaginatedDockerServiceConnectionList]
    def outposts_service_connections_docker_list(opts = {})
      data, _status_code, _headers = outposts_service_connections_docker_list_with_http_info(opts)
      data
    end

    # DockerServiceConnection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :local 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :tls_authentication 
    # @option opts [String] :tls_verification 
    # @option opts [String] :url 
    # @return [Array<(PaginatedDockerServiceConnectionList, Integer, Hash)>] PaginatedDockerServiceConnectionList data, response status code and response headers
    def outposts_service_connections_docker_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_docker_list ...'
      end
      # resource path
      local_var_path = '/outposts/service_connections/docker/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'local'] = opts[:'local'] if !opts[:'local'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'tls_authentication'] = opts[:'tls_authentication'] if !opts[:'tls_authentication'].nil?
      query_params[:'tls_verification'] = opts[:'tls_verification'] if !opts[:'tls_verification'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDockerServiceConnectionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_docker_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_docker_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DockerServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDockerServiceConnectionRequest] :patched_docker_service_connection_request 
    # @return [DockerServiceConnection]
    def outposts_service_connections_docker_partial_update(uuid, opts = {})
      data, _status_code, _headers = outposts_service_connections_docker_partial_update_with_http_info(uuid, opts)
      data
    end

    # DockerServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDockerServiceConnectionRequest] :patched_docker_service_connection_request 
    # @return [Array<(DockerServiceConnection, Integer, Hash)>] DockerServiceConnection data, response status code and response headers
    def outposts_service_connections_docker_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_docker_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_docker_partial_update"
      end
      # resource path
      local_var_path = '/outposts/service_connections/docker/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_docker_service_connection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DockerServiceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_docker_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_docker_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DockerServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [DockerServiceConnection]
    def outposts_service_connections_docker_retrieve(uuid, opts = {})
      data, _status_code, _headers = outposts_service_connections_docker_retrieve_with_http_info(uuid, opts)
      data
    end

    # DockerServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DockerServiceConnection, Integer, Hash)>] DockerServiceConnection data, response status code and response headers
    def outposts_service_connections_docker_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_docker_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_docker_retrieve"
      end
      # resource path
      local_var_path = '/outposts/service_connections/docker/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DockerServiceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_docker_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_docker_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DockerServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param docker_service_connection_request [DockerServiceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DockerServiceConnection]
    def outposts_service_connections_docker_update(uuid, docker_service_connection_request, opts = {})
      data, _status_code, _headers = outposts_service_connections_docker_update_with_http_info(uuid, docker_service_connection_request, opts)
      data
    end

    # DockerServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param docker_service_connection_request [DockerServiceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DockerServiceConnection, Integer, Hash)>] DockerServiceConnection data, response status code and response headers
    def outposts_service_connections_docker_update_with_http_info(uuid, docker_service_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_docker_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_docker_update"
      end
      # verify the required parameter 'docker_service_connection_request' is set
      if @api_client.config.client_side_validation && docker_service_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'docker_service_connection_request' when calling OutpostsApi.outposts_service_connections_docker_update"
      end
      # resource path
      local_var_path = '/outposts/service_connections/docker/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(docker_service_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DockerServiceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_docker_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_docker_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def outposts_service_connections_docker_used_by_list(uuid, opts = {})
      data, _status_code, _headers = outposts_service_connections_docker_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Docker Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def outposts_service_connections_docker_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_docker_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_docker_used_by_list"
      end
      # resource path
      local_var_path = '/outposts/service_connections/docker/{uuid}/used_by/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_docker_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_docker_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # KubernetesServiceConnection Viewset
    # @param kubernetes_service_connection_request [KubernetesServiceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [KubernetesServiceConnection]
    def outposts_service_connections_kubernetes_create(kubernetes_service_connection_request, opts = {})
      data, _status_code, _headers = outposts_service_connections_kubernetes_create_with_http_info(kubernetes_service_connection_request, opts)
      data
    end

    # KubernetesServiceConnection Viewset
    # @param kubernetes_service_connection_request [KubernetesServiceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(KubernetesServiceConnection, Integer, Hash)>] KubernetesServiceConnection data, response status code and response headers
    def outposts_service_connections_kubernetes_create_with_http_info(kubernetes_service_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_kubernetes_create ...'
      end
      # verify the required parameter 'kubernetes_service_connection_request' is set
      if @api_client.config.client_side_validation && kubernetes_service_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_service_connection_request' when calling OutpostsApi.outposts_service_connections_kubernetes_create"
      end
      # resource path
      local_var_path = '/outposts/service_connections/kubernetes/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(kubernetes_service_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'KubernetesServiceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_kubernetes_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_kubernetes_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # KubernetesServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def outposts_service_connections_kubernetes_destroy(uuid, opts = {})
      outposts_service_connections_kubernetes_destroy_with_http_info(uuid, opts)
      nil
    end

    # KubernetesServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def outposts_service_connections_kubernetes_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_kubernetes_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_kubernetes_destroy"
      end
      # resource path
      local_var_path = '/outposts/service_connections/kubernetes/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_kubernetes_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_kubernetes_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # KubernetesServiceConnection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :local 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedKubernetesServiceConnectionList]
    def outposts_service_connections_kubernetes_list(opts = {})
      data, _status_code, _headers = outposts_service_connections_kubernetes_list_with_http_info(opts)
      data
    end

    # KubernetesServiceConnection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :local 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedKubernetesServiceConnectionList, Integer, Hash)>] PaginatedKubernetesServiceConnectionList data, response status code and response headers
    def outposts_service_connections_kubernetes_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_kubernetes_list ...'
      end
      # resource path
      local_var_path = '/outposts/service_connections/kubernetes/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'local'] = opts[:'local'] if !opts[:'local'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedKubernetesServiceConnectionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_kubernetes_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_kubernetes_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # KubernetesServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedKubernetesServiceConnectionRequest] :patched_kubernetes_service_connection_request 
    # @return [KubernetesServiceConnection]
    def outposts_service_connections_kubernetes_partial_update(uuid, opts = {})
      data, _status_code, _headers = outposts_service_connections_kubernetes_partial_update_with_http_info(uuid, opts)
      data
    end

    # KubernetesServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedKubernetesServiceConnectionRequest] :patched_kubernetes_service_connection_request 
    # @return [Array<(KubernetesServiceConnection, Integer, Hash)>] KubernetesServiceConnection data, response status code and response headers
    def outposts_service_connections_kubernetes_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_kubernetes_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_kubernetes_partial_update"
      end
      # resource path
      local_var_path = '/outposts/service_connections/kubernetes/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_kubernetes_service_connection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'KubernetesServiceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_kubernetes_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_kubernetes_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # KubernetesServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [KubernetesServiceConnection]
    def outposts_service_connections_kubernetes_retrieve(uuid, opts = {})
      data, _status_code, _headers = outposts_service_connections_kubernetes_retrieve_with_http_info(uuid, opts)
      data
    end

    # KubernetesServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KubernetesServiceConnection, Integer, Hash)>] KubernetesServiceConnection data, response status code and response headers
    def outposts_service_connections_kubernetes_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_kubernetes_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_kubernetes_retrieve"
      end
      # resource path
      local_var_path = '/outposts/service_connections/kubernetes/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'KubernetesServiceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_kubernetes_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_kubernetes_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # KubernetesServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param kubernetes_service_connection_request [KubernetesServiceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [KubernetesServiceConnection]
    def outposts_service_connections_kubernetes_update(uuid, kubernetes_service_connection_request, opts = {})
      data, _status_code, _headers = outposts_service_connections_kubernetes_update_with_http_info(uuid, kubernetes_service_connection_request, opts)
      data
    end

    # KubernetesServiceConnection Viewset
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param kubernetes_service_connection_request [KubernetesServiceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(KubernetesServiceConnection, Integer, Hash)>] KubernetesServiceConnection data, response status code and response headers
    def outposts_service_connections_kubernetes_update_with_http_info(uuid, kubernetes_service_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutpostsApi.outposts_service_connections_kubernetes_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OutpostsApi.outposts_service_connections_kubernetes_update"
      end
      # verify the required parameter 'kubernetes_service_connection_request' is set
      if @api_client.config.client_side_validation && kubernetes_service_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_service_connection_request' when calling OutpostsApi.outposts_service_connections_kubernetes_update"
      end
      # resource path
      local_var_path = '/outposts/service_connections/kubernetes/{uuid}/'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(kubernetes_service_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'KubernetesServiceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"OutpostsApi.outposts_service_connections_kubernetes_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutpostsApi#outposts_service_connections_kubernetes_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def outposts_service_connections_kubernetes_used_by_list(uuid, opts = {})
      data, _status_code, _headers = outposts_service_connections_kubernetes_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Kubernetes Service-Connection.
    # @param [Hash] opts the optional parameters
[...]
