=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class PoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clear policy cache
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def policies_all_cache_clear_create(opts = {})
      policies_all_cache_clear_create_with_http_info(opts)
      nil
    end

    # Clear policy cache
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def policies_all_cache_clear_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_all_cache_clear_create ...'
      end
      # resource path
      local_var_path = '/policies/all/cache_clear/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_all_cache_clear_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_all_cache_clear_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Info about cached policies
    # @param [Hash] opts the optional parameters
    # @return [Cache]
    def policies_all_cache_info_retrieve(opts = {})
      data, _status_code, _headers = policies_all_cache_info_retrieve_with_http_info(opts)
      data
    end

    # Info about cached policies
    # @param [Hash] opts the optional parameters
    # @return [Array<(Cache, Integer, Hash)>] Cache data, response status code and response headers
    def policies_all_cache_info_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_all_cache_info_retrieve ...'
      end
      # resource path
      local_var_path = '/policies/all/cache_info/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Cache'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_all_cache_info_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_all_cache_info_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Policy.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def policies_all_destroy(policy_uuid, opts = {})
      policies_all_destroy_with_http_info(policy_uuid, opts)
      nil
    end

    # Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def policies_all_destroy_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_all_destroy ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_all_destroy"
      end
      # resource path
      local_var_path = '/policies/all/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_all_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_all_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Policy Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :bindings__isnull 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Boolean] :promptstage__isnull 
    # @option opts [String] :search A search term.
    # @return [PaginatedPolicyList]
    def policies_all_list(opts = {})
      data, _status_code, _headers = policies_all_list_with_http_info(opts)
      data
    end

    # Policy Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :bindings__isnull 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Boolean] :promptstage__isnull 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedPolicyList, Integer, Hash)>] PaginatedPolicyList data, response status code and response headers
    def policies_all_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_all_list ...'
      end
      # resource path
      local_var_path = '/policies/all/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bindings__isnull'] = opts[:'bindings__isnull'] if !opts[:'bindings__isnull'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'promptstage__isnull'] = opts[:'promptstage__isnull'] if !opts[:'promptstage__isnull'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedPolicyList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_all_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_all_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Policy.
    # @param [Hash] opts the optional parameters
    # @return [Policy]
    def policies_all_retrieve(policy_uuid, opts = {})
      data, _status_code, _headers = policies_all_retrieve_with_http_info(policy_uuid, opts)
      data
    end

    # Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Policy, Integer, Hash)>] Policy data, response status code and response headers
    def policies_all_retrieve_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_all_retrieve ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_all_retrieve"
      end
      # resource path
      local_var_path = '/policies/all/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Policy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_all_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_all_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test policy
    # @param policy_uuid [String] A UUID string identifying this Policy.
    # @param policy_test_request [PolicyTestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyTestResult]
    def policies_all_test_create(policy_uuid, policy_test_request, opts = {})
      data, _status_code, _headers = policies_all_test_create_with_http_info(policy_uuid, policy_test_request, opts)
      data
    end

    # Test policy
    # @param policy_uuid [String] A UUID string identifying this Policy.
    # @param policy_test_request [PolicyTestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyTestResult, Integer, Hash)>] PolicyTestResult data, response status code and response headers
    def policies_all_test_create_with_http_info(policy_uuid, policy_test_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_all_test_create ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_all_test_create"
      end
      # verify the required parameter 'policy_test_request' is set
      if @api_client.config.client_side_validation && policy_test_request.nil?
        fail ArgumentError, "Missing the required parameter 'policy_test_request' when calling PoliciesApi.policies_all_test_create"
      end
      # resource path
      local_var_path = '/policies/all/{policy_uuid}/test/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_test_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyTestResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_all_test_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_all_test_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<TypeCreate>]
    def policies_all_types_list(opts = {})
      data, _status_code, _headers = policies_all_types_list_with_http_info(opts)
      data
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TypeCreate>, Integer, Hash)>] Array<TypeCreate> data, response status code and response headers
    def policies_all_types_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_all_types_list ...'
      end
      # resource path
      local_var_path = '/policies/all/types/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TypeCreate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_all_types_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_all_types_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param policy_uuid [String] A UUID string identifying this Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def policies_all_used_by_list(policy_uuid, opts = {})
      data, _status_code, _headers = policies_all_used_by_list_with_http_info(policy_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param policy_uuid [String] A UUID string identifying this Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def policies_all_used_by_list_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_all_used_by_list ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_all_used_by_list"
      end
      # resource path
      local_var_path = '/policies/all/{policy_uuid}/used_by/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_all_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_all_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PolicyBinding Viewset
    # @param policy_binding_request [PolicyBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyBinding]
    def policies_bindings_create(policy_binding_request, opts = {})
      data, _status_code, _headers = policies_bindings_create_with_http_info(policy_binding_request, opts)
      data
    end

    # PolicyBinding Viewset
    # @param policy_binding_request [PolicyBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyBinding, Integer, Hash)>] PolicyBinding data, response status code and response headers
    def policies_bindings_create_with_http_info(policy_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_bindings_create ...'
      end
      # verify the required parameter 'policy_binding_request' is set
      if @api_client.config.client_side_validation && policy_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'policy_binding_request' when calling PoliciesApi.policies_bindings_create"
      end
      # resource path
      local_var_path = '/policies/bindings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_bindings_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_bindings_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PolicyBinding Viewset
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def policies_bindings_destroy(policy_binding_uuid, opts = {})
      policies_bindings_destroy_with_http_info(policy_binding_uuid, opts)
      nil
    end

    # PolicyBinding Viewset
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def policies_bindings_destroy_with_http_info(policy_binding_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_bindings_destroy ...'
      end
      # verify the required parameter 'policy_binding_uuid' is set
      if @api_client.config.client_side_validation && policy_binding_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_binding_uuid' when calling PoliciesApi.policies_bindings_destroy"
      end
      # resource path
      local_var_path = '/policies/bindings/{policy_binding_uuid}/'.sub('{policy_binding_uuid}', CGI.escape(policy_binding_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_bindings_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_bindings_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PolicyBinding Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :enabled 
    # @option opts [Integer] :order 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :policy 
    # @option opts [Boolean] :policy__isnull 
    # @option opts [String] :search A search term.
    # @option opts [String] :target 
    # @option opts [Array<String>] :target_in 
    # @option opts [Integer] :timeout 
    # @return [PaginatedPolicyBindingList]
    def policies_bindings_list(opts = {})
      data, _status_code, _headers = policies_bindings_list_with_http_info(opts)
      data
    end

    # PolicyBinding Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :enabled 
    # @option opts [Integer] :order 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :policy 
    # @option opts [Boolean] :policy__isnull 
    # @option opts [String] :search A search term.
    # @option opts [String] :target 
    # @option opts [Array<String>] :target_in 
    # @option opts [Integer] :timeout 
    # @return [Array<(PaginatedPolicyBindingList, Integer, Hash)>] PaginatedPolicyBindingList data, response status code and response headers
    def policies_bindings_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_bindings_list ...'
      end
      # resource path
      local_var_path = '/policies/bindings/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'enabled'] = opts[:'enabled'] if !opts[:'enabled'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'policy'] = opts[:'policy'] if !opts[:'policy'].nil?
      query_params[:'policy__isnull'] = opts[:'policy__isnull'] if !opts[:'policy__isnull'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'target'] = opts[:'target'] if !opts[:'target'].nil?
      query_params[:'target_in'] = @api_client.build_collection_param(opts[:'target_in'], :multi) if !opts[:'target_in'].nil?
      query_params[:'timeout'] = opts[:'timeout'] if !opts[:'timeout'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedPolicyBindingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_bindings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_bindings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PolicyBinding Viewset
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedPolicyBindingRequest] :patched_policy_binding_request 
    # @return [PolicyBinding]
    def policies_bindings_partial_update(policy_binding_uuid, opts = {})
      data, _status_code, _headers = policies_bindings_partial_update_with_http_info(policy_binding_uuid, opts)
      data
    end

    # PolicyBinding Viewset
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedPolicyBindingRequest] :patched_policy_binding_request 
    # @return [Array<(PolicyBinding, Integer, Hash)>] PolicyBinding data, response status code and response headers
    def policies_bindings_partial_update_with_http_info(policy_binding_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_bindings_partial_update ...'
      end
      # verify the required parameter 'policy_binding_uuid' is set
      if @api_client.config.client_side_validation && policy_binding_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_binding_uuid' when calling PoliciesApi.policies_bindings_partial_update"
      end
      # resource path
      local_var_path = '/policies/bindings/{policy_binding_uuid}/'.sub('{policy_binding_uuid}', CGI.escape(policy_binding_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_policy_binding_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_bindings_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_bindings_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PolicyBinding Viewset
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param [Hash] opts the optional parameters
    # @return [PolicyBinding]
    def policies_bindings_retrieve(policy_binding_uuid, opts = {})
      data, _status_code, _headers = policies_bindings_retrieve_with_http_info(policy_binding_uuid, opts)
      data
    end

    # PolicyBinding Viewset
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyBinding, Integer, Hash)>] PolicyBinding data, response status code and response headers
    def policies_bindings_retrieve_with_http_info(policy_binding_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_bindings_retrieve ...'
      end
      # verify the required parameter 'policy_binding_uuid' is set
      if @api_client.config.client_side_validation && policy_binding_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_binding_uuid' when calling PoliciesApi.policies_bindings_retrieve"
      end
      # resource path
      local_var_path = '/policies/bindings/{policy_binding_uuid}/'.sub('{policy_binding_uuid}', CGI.escape(policy_binding_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_bindings_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_bindings_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PolicyBinding Viewset
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param policy_binding_request [PolicyBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyBinding]
    def policies_bindings_update(policy_binding_uuid, policy_binding_request, opts = {})
      data, _status_code, _headers = policies_bindings_update_with_http_info(policy_binding_uuid, policy_binding_request, opts)
      data
    end

    # PolicyBinding Viewset
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param policy_binding_request [PolicyBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyBinding, Integer, Hash)>] PolicyBinding data, response status code and response headers
    def policies_bindings_update_with_http_info(policy_binding_uuid, policy_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_bindings_update ...'
      end
      # verify the required parameter 'policy_binding_uuid' is set
      if @api_client.config.client_side_validation && policy_binding_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_binding_uuid' when calling PoliciesApi.policies_bindings_update"
      end
      # verify the required parameter 'policy_binding_request' is set
      if @api_client.config.client_side_validation && policy_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'policy_binding_request' when calling PoliciesApi.policies_bindings_update"
      end
      # resource path
      local_var_path = '/policies/bindings/{policy_binding_uuid}/'.sub('{policy_binding_uuid}', CGI.escape(policy_binding_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_bindings_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_bindings_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def policies_bindings_used_by_list(policy_binding_uuid, opts = {})
      data, _status_code, _headers = policies_bindings_used_by_list_with_http_info(policy_binding_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param policy_binding_uuid [String] A UUID string identifying this Policy Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def policies_bindings_used_by_list_with_http_info(policy_binding_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_bindings_used_by_list ...'
      end
      # verify the required parameter 'policy_binding_uuid' is set
      if @api_client.config.client_side_validation && policy_binding_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_binding_uuid' when calling PoliciesApi.policies_bindings_used_by_list"
      end
      # resource path
      local_var_path = '/policies/bindings/{policy_binding_uuid}/used_by/'.sub('{policy_binding_uuid}', CGI.escape(policy_binding_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_bindings_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_bindings_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dummy Viewset
    # @param dummy_policy_request [DummyPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DummyPolicy]
    def policies_dummy_create(dummy_policy_request, opts = {})
      data, _status_code, _headers = policies_dummy_create_with_http_info(dummy_policy_request, opts)
      data
    end

    # Dummy Viewset
    # @param dummy_policy_request [DummyPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DummyPolicy, Integer, Hash)>] DummyPolicy data, response status code and response headers
    def policies_dummy_create_with_http_info(dummy_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_dummy_create ...'
      end
      # verify the required parameter 'dummy_policy_request' is set
      if @api_client.config.client_side_validation && dummy_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'dummy_policy_request' when calling PoliciesApi.policies_dummy_create"
      end
      # resource path
      local_var_path = '/policies/dummy/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dummy_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DummyPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_dummy_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_dummy_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dummy Viewset
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def policies_dummy_destroy(policy_uuid, opts = {})
      policies_dummy_destroy_with_http_info(policy_uuid, opts)
      nil
    end

    # Dummy Viewset
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def policies_dummy_destroy_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_dummy_destroy ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_dummy_destroy"
      end
      # resource path
      local_var_path = '/policies/dummy/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_dummy_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_dummy_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dummy Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created 
    # @option opts [Boolean] :execution_logging 
    # @option opts [Time] :last_updated 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :policy_uuid 
    # @option opts [Boolean] :result 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :wait_max 
    # @option opts [Integer] :wait_min 
    # @return [PaginatedDummyPolicyList]
    def policies_dummy_list(opts = {})
      data, _status_code, _headers = policies_dummy_list_with_http_info(opts)
      data
    end

    # Dummy Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created 
    # @option opts [Boolean] :execution_logging 
    # @option opts [Time] :last_updated 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :policy_uuid 
    # @option opts [Boolean] :result 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :wait_max 
    # @option opts [Integer] :wait_min 
    # @return [Array<(PaginatedDummyPolicyList, Integer, Hash)>] PaginatedDummyPolicyList data, response status code and response headers
    def policies_dummy_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_dummy_list ...'
      end
      # resource path
      local_var_path = '/policies/dummy/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'created'] = opts[:'created'] if !opts[:'created'].nil?
      query_params[:'execution_logging'] = opts[:'execution_logging'] if !opts[:'execution_logging'].nil?
      query_params[:'last_updated'] = opts[:'last_updated'] if !opts[:'last_updated'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'policy_uuid'] = opts[:'policy_uuid'] if !opts[:'policy_uuid'].nil?
      query_params[:'result'] = opts[:'result'] if !opts[:'result'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'wait_max'] = opts[:'wait_max'] if !opts[:'wait_max'].nil?
      query_params[:'wait_min'] = opts[:'wait_min'] if !opts[:'wait_min'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDummyPolicyList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_dummy_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_dummy_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dummy Viewset
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDummyPolicyRequest] :patched_dummy_policy_request 
    # @return [DummyPolicy]
    def policies_dummy_partial_update(policy_uuid, opts = {})
      data, _status_code, _headers = policies_dummy_partial_update_with_http_info(policy_uuid, opts)
      data
    end

    # Dummy Viewset
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDummyPolicyRequest] :patched_dummy_policy_request 
    # @return [Array<(DummyPolicy, Integer, Hash)>] DummyPolicy data, response status code and response headers
    def policies_dummy_partial_update_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_dummy_partial_update ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_dummy_partial_update"
      end
      # resource path
      local_var_path = '/policies/dummy/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_dummy_policy_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DummyPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_dummy_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_dummy_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dummy Viewset
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param [Hash] opts the optional parameters
    # @return [DummyPolicy]
    def policies_dummy_retrieve(policy_uuid, opts = {})
      data, _status_code, _headers = policies_dummy_retrieve_with_http_info(policy_uuid, opts)
      data
    end

    # Dummy Viewset
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DummyPolicy, Integer, Hash)>] DummyPolicy data, response status code and response headers
    def policies_dummy_retrieve_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_dummy_retrieve ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_dummy_retrieve"
      end
      # resource path
      local_var_path = '/policies/dummy/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DummyPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_dummy_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_dummy_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dummy Viewset
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param dummy_policy_request [DummyPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DummyPolicy]
    def policies_dummy_update(policy_uuid, dummy_policy_request, opts = {})
      data, _status_code, _headers = policies_dummy_update_with_http_info(policy_uuid, dummy_policy_request, opts)
      data
    end

    # Dummy Viewset
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param dummy_policy_request [DummyPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DummyPolicy, Integer, Hash)>] DummyPolicy data, response status code and response headers
    def policies_dummy_update_with_http_info(policy_uuid, dummy_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_dummy_update ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_dummy_update"
      end
      # verify the required parameter 'dummy_policy_request' is set
      if @api_client.config.client_side_validation && dummy_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'dummy_policy_request' when calling PoliciesApi.policies_dummy_update"
      end
      # resource path
      local_var_path = '/policies/dummy/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dummy_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DummyPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_dummy_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_dummy_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def policies_dummy_used_by_list(policy_uuid, opts = {})
      data, _status_code, _headers = policies_dummy_used_by_list_with_http_info(policy_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param policy_uuid [String] A UUID string identifying this Dummy Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def policies_dummy_used_by_list_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_dummy_used_by_list ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_dummy_used_by_list"
      end
      # resource path
      local_var_path = '/policies/dummy/{policy_uuid}/used_by/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_dummy_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_dummy_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Matcher Policy Viewset
    # @param event_matcher_policy_request [EventMatcherPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EventMatcherPolicy]
    def policies_event_matcher_create(event_matcher_policy_request, opts = {})
      data, _status_code, _headers = policies_event_matcher_create_with_http_info(event_matcher_policy_request, opts)
      data
    end

    # Event Matcher Policy Viewset
    # @param event_matcher_policy_request [EventMatcherPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventMatcherPolicy, Integer, Hash)>] EventMatcherPolicy data, response status code and response headers
    def policies_event_matcher_create_with_http_info(event_matcher_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_event_matcher_create ...'
      end
      # verify the required parameter 'event_matcher_policy_request' is set
      if @api_client.config.client_side_validation && event_matcher_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'event_matcher_policy_request' when calling PoliciesApi.policies_event_matcher_create"
      end
      # resource path
      local_var_path = '/policies/event_matcher/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_matcher_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EventMatcherPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_event_matcher_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_event_matcher_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Matcher Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def policies_event_matcher_destroy(policy_uuid, opts = {})
      policies_event_matcher_destroy_with_http_info(policy_uuid, opts)
      nil
    end

    # Event Matcher Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def policies_event_matcher_destroy_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_event_matcher_destroy ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_event_matcher_destroy"
      end
      # resource path
      local_var_path = '/policies/event_matcher/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_event_matcher_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_event_matcher_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Matcher Policy Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [EventActions] :action 
    # @option opts [String] :app 
    # @option opts [String] :client_ip 
    # @option opts [Time] :created 
    # @option opts [Boolean] :execution_logging 
    # @option opts [Time] :last_updated 
    # @option opts [String] :model 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :policy_uuid 
    # @option opts [String] :query 
    # @option opts [String] :search A search term.
    # @return [PaginatedEventMatcherPolicyList]
    def policies_event_matcher_list(opts = {})
      data, _status_code, _headers = policies_event_matcher_list_with_http_info(opts)
      data
    end

    # Event Matcher Policy Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [EventActions] :action 
    # @option opts [String] :app 
    # @option opts [String] :client_ip 
    # @option opts [Time] :created 
    # @option opts [Boolean] :execution_logging 
    # @option opts [Time] :last_updated 
    # @option opts [String] :model 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :policy_uuid 
    # @option opts [String] :query 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedEventMatcherPolicyList, Integer, Hash)>] PaginatedEventMatcherPolicyList data, response status code and response headers
    def policies_event_matcher_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_event_matcher_list ...'
      end
      # resource path
      local_var_path = '/policies/event_matcher/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'app'] = opts[:'app'] if !opts[:'app'].nil?
      query_params[:'client_ip'] = opts[:'client_ip'] if !opts[:'client_ip'].nil?
      query_params[:'created'] = opts[:'created'] if !opts[:'created'].nil?
      query_params[:'execution_logging'] = opts[:'execution_logging'] if !opts[:'execution_logging'].nil?
      query_params[:'last_updated'] = opts[:'last_updated'] if !opts[:'last_updated'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'policy_uuid'] = opts[:'policy_uuid'] if !opts[:'policy_uuid'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedEventMatcherPolicyList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_event_matcher_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_event_matcher_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Matcher Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEventMatcherPolicyRequest] :patched_event_matcher_policy_request 
    # @return [EventMatcherPolicy]
    def policies_event_matcher_partial_update(policy_uuid, opts = {})
      data, _status_code, _headers = policies_event_matcher_partial_update_with_http_info(policy_uuid, opts)
      data
    end

    # Event Matcher Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEventMatcherPolicyRequest] :patched_event_matcher_policy_request 
    # @return [Array<(EventMatcherPolicy, Integer, Hash)>] EventMatcherPolicy data, response status code and response headers
    def policies_event_matcher_partial_update_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_event_matcher_partial_update ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_event_matcher_partial_update"
      end
      # resource path
      local_var_path = '/policies/event_matcher/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_event_matcher_policy_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EventMatcherPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_event_matcher_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_event_matcher_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Matcher Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param [Hash] opts the optional parameters
    # @return [EventMatcherPolicy]
    def policies_event_matcher_retrieve(policy_uuid, opts = {})
      data, _status_code, _headers = policies_event_matcher_retrieve_with_http_info(policy_uuid, opts)
      data
    end

    # Event Matcher Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventMatcherPolicy, Integer, Hash)>] EventMatcherPolicy data, response status code and response headers
    def policies_event_matcher_retrieve_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_event_matcher_retrieve ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_event_matcher_retrieve"
      end
      # resource path
      local_var_path = '/policies/event_matcher/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventMatcherPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_event_matcher_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_event_matcher_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Event Matcher Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param event_matcher_policy_request [EventMatcherPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EventMatcherPolicy]
    def policies_event_matcher_update(policy_uuid, event_matcher_policy_request, opts = {})
      data, _status_code, _headers = policies_event_matcher_update_with_http_info(policy_uuid, event_matcher_policy_request, opts)
      data
    end

    # Event Matcher Policy Viewset
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param event_matcher_policy_request [EventMatcherPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventMatcherPolicy, Integer, Hash)>] EventMatcherPolicy data, response status code and response headers
    def policies_event_matcher_update_with_http_info(policy_uuid, event_matcher_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_event_matcher_update ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_event_matcher_update"
      end
      # verify the required parameter 'event_matcher_policy_request' is set
      if @api_client.config.client_side_validation && event_matcher_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'event_matcher_policy_request' when calling PoliciesApi.policies_event_matcher_update"
      end
      # resource path
      local_var_path = '/policies/event_matcher/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_matcher_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EventMatcherPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_event_matcher_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_event_matcher_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def policies_event_matcher_used_by_list(policy_uuid, opts = {})
      data, _status_code, _headers = policies_event_matcher_used_by_list_with_http_info(policy_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param policy_uuid [String] A UUID string identifying this Event Matcher Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def policies_event_matcher_used_by_list_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_event_matcher_used_by_list ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_event_matcher_used_by_list"
      end
      # resource path
      local_var_path = '/policies/event_matcher/{policy_uuid}/used_by/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_event_matcher_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_event_matcher_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Source Viewset
    # @param expression_policy_request [ExpressionPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExpressionPolicy]
    def policies_expression_create(expression_policy_request, opts = {})
      data, _status_code, _headers = policies_expression_create_with_http_info(expression_policy_request, opts)
      data
    end

    # Source Viewset
    # @param expression_policy_request [ExpressionPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpressionPolicy, Integer, Hash)>] ExpressionPolicy data, response status code and response headers
    def policies_expression_create_with_http_info(expression_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_expression_create ...'
      end
      # verify the required parameter 'expression_policy_request' is set
      if @api_client.config.client_side_validation && expression_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'expression_policy_request' when calling PoliciesApi.policies_expression_create"
      end
      # resource path
      local_var_path = '/policies/expression/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(expression_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExpressionPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_expression_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_expression_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Source Viewset
    # @param policy_uuid [String] A UUID string identifying this Expression Policy.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def policies_expression_destroy(policy_uuid, opts = {})
      policies_expression_destroy_with_http_info(policy_uuid, opts)
      nil
    end

    # Source Viewset
    # @param policy_uuid [String] A UUID string identifying this Expression Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def policies_expression_destroy_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_expression_destroy ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_expression_destroy"
      end
      # resource path
      local_var_path = '/policies/expression/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_expression_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_expression_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Source Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created 
    # @option opts [Boolean] :execution_logging 
    # @option opts [String] :expression 
    # @option opts [Time] :last_updated 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :policy_uuid 
    # @option opts [String] :search A search term.
    # @return [PaginatedExpressionPolicyList]
    def policies_expression_list(opts = {})
      data, _status_code, _headers = policies_expression_list_with_http_info(opts)
      data
    end

    # Source Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created 
    # @option opts [Boolean] :execution_logging 
    # @option opts [String] :expression 
    # @option opts [Time] :last_updated 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :policy_uuid 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedExpressionPolicyList, Integer, Hash)>] PaginatedExpressionPolicyList data, response status code and response headers
    def policies_expression_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_expression_list ...'
      end
      # resource path
      local_var_path = '/policies/expression/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'created'] = opts[:'created'] if !opts[:'created'].nil?
      query_params[:'execution_logging'] = opts[:'execution_logging'] if !opts[:'execution_logging'].nil?
      query_params[:'expression'] = opts[:'expression'] if !opts[:'expression'].nil?
      query_params[:'last_updated'] = opts[:'last_updated'] if !opts[:'last_updated'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'policy_uuid'] = opts[:'policy_uuid'] if !opts[:'policy_uuid'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedExpressionPolicyList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_expression_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_expression_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Source Viewset
    # @param policy_uuid [String] A UUID string identifying this Expression Policy.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedExpressionPolicyRequest] :patched_expression_policy_request 
    # @return [ExpressionPolicy]
    def policies_expression_partial_update(policy_uuid, opts = {})
      data, _status_code, _headers = policies_expression_partial_update_with_http_info(policy_uuid, opts)
      data
    end

    # Source Viewset
    # @param policy_uuid [String] A UUID string identifying this Expression Policy.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedExpressionPolicyRequest] :patched_expression_policy_request 
    # @return [Array<(ExpressionPolicy, Integer, Hash)>] ExpressionPolicy data, response status code and response headers
    def policies_expression_partial_update_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_expression_partial_update ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_expression_partial_update"
      end
      # resource path
      local_var_path = '/policies/expression/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_expression_policy_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ExpressionPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_expression_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_expression_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Source Viewset
    # @param policy_uuid [String] A UUID string identifying this Expression Policy.
    # @param [Hash] opts the optional parameters
    # @return [ExpressionPolicy]
    def policies_expression_retrieve(policy_uuid, opts = {})
      data, _status_code, _headers = policies_expression_retrieve_with_http_info(policy_uuid, opts)
      data
    end

    # Source Viewset
    # @param policy_uuid [String] A UUID string identifying this Expression Policy.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpressionPolicy, Integer, Hash)>] ExpressionPolicy data, response status code and response headers
    def policies_expression_retrieve_with_http_info(policy_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_expression_retrieve ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'policy_uuid' when calling PoliciesApi.policies_expression_retrieve"
      end
      # resource path
      local_var_path = '/policies/expression/{policy_uuid}/'.sub('{policy_uuid}', CGI.escape(policy_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpressionPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PoliciesApi.policies_expression_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesApi#policies_expression_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Source Viewset
    # @param policy_uuid [String] A UUID string identifying this Expression Policy.
    # @param expression_policy_request [ExpressionPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExpressionPolicy]
    def policies_expression_update(policy_uuid, expression_policy_request, opts = {})
      data, _status_code, _headers = policies_expression_update_with_http_info(policy_uuid, expression_policy_request, opts)
      data
    end

    # Source Viewset
    # @param policy_uuid [String] A UUID string identifying this Expression Policy.
    # @param expression_policy_request [ExpressionPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpressionPolicy, Integer, Hash)>] ExpressionPolicy data, response status code and response headers
    def policies_expression_update_with_http_info(policy_uuid, expression_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesApi.policies_expression_update ...'
      end
      # verify the required parameter 'policy_uuid' is set
      if @api_client.config.client_side_validation && policy_uuid.nil?
[...]
