=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class PropertymappingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # PropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def propertymappings_all_destroy(pm_uuid, opts = {})
      propertymappings_all_destroy_with_http_info(pm_uuid, opts)
      nil
    end

    # PropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def propertymappings_all_destroy_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_all_destroy ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_all_destroy"
      end
      # resource path
      local_var_path = '/propertymappings/all/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_all_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_all_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PropertyMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :managed 
    # @option opts [Boolean] :managed__isnull 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedPropertyMappingList]
    def propertymappings_all_list(opts = {})
      data, _status_code, _headers = propertymappings_all_list_with_http_info(opts)
      data
    end

    # PropertyMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :managed 
    # @option opts [Boolean] :managed__isnull 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedPropertyMappingList, Integer, Hash)>] PaginatedPropertyMappingList data, response status code and response headers
    def propertymappings_all_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_all_list ...'
      end
      # resource path
      local_var_path = '/propertymappings/all/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'managed'] = @api_client.build_collection_param(opts[:'managed'], :multi) if !opts[:'managed'].nil?
      query_params[:'managed__isnull'] = opts[:'managed__isnull'] if !opts[:'managed__isnull'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedPropertyMappingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_all_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_all_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [PropertyMapping]
    def propertymappings_all_retrieve(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_all_retrieve_with_http_info(pm_uuid, opts)
      data
    end

    # PropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PropertyMapping, Integer, Hash)>] PropertyMapping data, response status code and response headers
    def propertymappings_all_retrieve_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_all_retrieve ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_all_retrieve"
      end
      # resource path
      local_var_path = '/propertymappings/all/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PropertyMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_all_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_all_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test Property Mapping
    # @param pm_uuid [String] A UUID string identifying this Property Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :format_result 
    # @option opts [PropertyMappingTestRequest] :property_mapping_test_request 
    # @return [PropertyMappingTestResult]
    def propertymappings_all_test_create(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_all_test_create_with_http_info(pm_uuid, opts)
      data
    end

    # Test Property Mapping
    # @param pm_uuid [String] A UUID string identifying this Property Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :format_result 
    # @option opts [PropertyMappingTestRequest] :property_mapping_test_request 
    # @return [Array<(PropertyMappingTestResult, Integer, Hash)>] PropertyMappingTestResult data, response status code and response headers
    def propertymappings_all_test_create_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_all_test_create ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_all_test_create"
      end
      # resource path
      local_var_path = '/propertymappings/all/{pm_uuid}/test/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'format_result'] = opts[:'format_result'] if !opts[:'format_result'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'property_mapping_test_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PropertyMappingTestResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_all_test_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_all_test_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<TypeCreate>]
    def propertymappings_all_types_list(opts = {})
      data, _status_code, _headers = propertymappings_all_types_list_with_http_info(opts)
      data
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TypeCreate>, Integer, Hash)>] Array<TypeCreate> data, response status code and response headers
    def propertymappings_all_types_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_all_types_list ...'
      end
      # resource path
      local_var_path = '/propertymappings/all/types/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TypeCreate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_all_types_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_all_types_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param pm_uuid [String] A UUID string identifying this Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def propertymappings_all_used_by_list(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_all_used_by_list_with_http_info(pm_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param pm_uuid [String] A UUID string identifying this Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def propertymappings_all_used_by_list_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_all_used_by_list ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_all_used_by_list"
      end
      # resource path
      local_var_path = '/propertymappings/all/{pm_uuid}/used_by/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_all_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_all_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationWebhookMapping Viewset
    # @param notification_webhook_mapping_request [NotificationWebhookMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [NotificationWebhookMapping]
    def propertymappings_notification_create(notification_webhook_mapping_request, opts = {})
      data, _status_code, _headers = propertymappings_notification_create_with_http_info(notification_webhook_mapping_request, opts)
      data
    end

    # NotificationWebhookMapping Viewset
    # @param notification_webhook_mapping_request [NotificationWebhookMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationWebhookMapping, Integer, Hash)>] NotificationWebhookMapping data, response status code and response headers
    def propertymappings_notification_create_with_http_info(notification_webhook_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_notification_create ...'
      end
      # verify the required parameter 'notification_webhook_mapping_request' is set
      if @api_client.config.client_side_validation && notification_webhook_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'notification_webhook_mapping_request' when calling PropertymappingsApi.propertymappings_notification_create"
      end
      # resource path
      local_var_path = '/propertymappings/notification/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(notification_webhook_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationWebhookMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_notification_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_notification_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationWebhookMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def propertymappings_notification_destroy(pm_uuid, opts = {})
      propertymappings_notification_destroy_with_http_info(pm_uuid, opts)
      nil
    end

    # NotificationWebhookMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def propertymappings_notification_destroy_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_notification_destroy ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_notification_destroy"
      end
      # resource path
      local_var_path = '/propertymappings/notification/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_notification_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_notification_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationWebhookMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedNotificationWebhookMappingList]
    def propertymappings_notification_list(opts = {})
      data, _status_code, _headers = propertymappings_notification_list_with_http_info(opts)
      data
    end

    # NotificationWebhookMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedNotificationWebhookMappingList, Integer, Hash)>] PaginatedNotificationWebhookMappingList data, response status code and response headers
    def propertymappings_notification_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_notification_list ...'
      end
      # resource path
      local_var_path = '/propertymappings/notification/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedNotificationWebhookMappingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_notification_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_notification_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationWebhookMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedNotificationWebhookMappingRequest] :patched_notification_webhook_mapping_request 
    # @return [NotificationWebhookMapping]
    def propertymappings_notification_partial_update(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_notification_partial_update_with_http_info(pm_uuid, opts)
      data
    end

    # NotificationWebhookMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedNotificationWebhookMappingRequest] :patched_notification_webhook_mapping_request 
    # @return [Array<(NotificationWebhookMapping, Integer, Hash)>] NotificationWebhookMapping data, response status code and response headers
    def propertymappings_notification_partial_update_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_notification_partial_update ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_notification_partial_update"
      end
      # resource path
      local_var_path = '/propertymappings/notification/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_notification_webhook_mapping_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationWebhookMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_notification_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_notification_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationWebhookMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param [Hash] opts the optional parameters
    # @return [NotificationWebhookMapping]
    def propertymappings_notification_retrieve(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_notification_retrieve_with_http_info(pm_uuid, opts)
      data
    end

    # NotificationWebhookMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationWebhookMapping, Integer, Hash)>] NotificationWebhookMapping data, response status code and response headers
    def propertymappings_notification_retrieve_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_notification_retrieve ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_notification_retrieve"
      end
      # resource path
      local_var_path = '/propertymappings/notification/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationWebhookMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_notification_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_notification_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # NotificationWebhookMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param notification_webhook_mapping_request [NotificationWebhookMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [NotificationWebhookMapping]
    def propertymappings_notification_update(pm_uuid, notification_webhook_mapping_request, opts = {})
      data, _status_code, _headers = propertymappings_notification_update_with_http_info(pm_uuid, notification_webhook_mapping_request, opts)
      data
    end

    # NotificationWebhookMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param notification_webhook_mapping_request [NotificationWebhookMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NotificationWebhookMapping, Integer, Hash)>] NotificationWebhookMapping data, response status code and response headers
    def propertymappings_notification_update_with_http_info(pm_uuid, notification_webhook_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_notification_update ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_notification_update"
      end
      # verify the required parameter 'notification_webhook_mapping_request' is set
      if @api_client.config.client_side_validation && notification_webhook_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'notification_webhook_mapping_request' when calling PropertymappingsApi.propertymappings_notification_update"
      end
      # resource path
      local_var_path = '/propertymappings/notification/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(notification_webhook_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NotificationWebhookMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_notification_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_notification_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def propertymappings_notification_used_by_list(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_notification_used_by_list_with_http_info(pm_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param pm_uuid [String] A UUID string identifying this Webhook Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def propertymappings_notification_used_by_list_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_notification_used_by_list ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_notification_used_by_list"
      end
      # resource path
      local_var_path = '/propertymappings/notification/{pm_uuid}/used_by/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_notification_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_notification_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param google_workspace_provider_mapping_request [GoogleWorkspaceProviderMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProviderMapping]
    def propertymappings_provider_google_workspace_create(google_workspace_provider_mapping_request, opts = {})
      data, _status_code, _headers = propertymappings_provider_google_workspace_create_with_http_info(google_workspace_provider_mapping_request, opts)
      data
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param google_workspace_provider_mapping_request [GoogleWorkspaceProviderMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProviderMapping, Integer, Hash)>] GoogleWorkspaceProviderMapping data, response status code and response headers
    def propertymappings_provider_google_workspace_create_with_http_info(google_workspace_provider_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_google_workspace_create ...'
      end
      # verify the required parameter 'google_workspace_provider_mapping_request' is set
      if @api_client.config.client_side_validation && google_workspace_provider_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'google_workspace_provider_mapping_request' when calling PropertymappingsApi.propertymappings_provider_google_workspace_create"
      end
      # resource path
      local_var_path = '/propertymappings/provider/google_workspace/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(google_workspace_provider_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProviderMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_google_workspace_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_google_workspace_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def propertymappings_provider_google_workspace_destroy(pm_uuid, opts = {})
      propertymappings_provider_google_workspace_destroy_with_http_info(pm_uuid, opts)
      nil
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def propertymappings_provider_google_workspace_destroy_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_google_workspace_destroy ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_google_workspace_destroy"
      end
      # resource path
      local_var_path = '/propertymappings/provider/google_workspace/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_google_workspace_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_google_workspace_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expression 
    # @option opts [Array<String>] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pm_uuid 
    # @option opts [String] :search A search term.
    # @return [PaginatedGoogleWorkspaceProviderMappingList]
    def propertymappings_provider_google_workspace_list(opts = {})
      data, _status_code, _headers = propertymappings_provider_google_workspace_list_with_http_info(opts)
      data
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expression 
    # @option opts [Array<String>] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pm_uuid 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedGoogleWorkspaceProviderMappingList, Integer, Hash)>] PaginatedGoogleWorkspaceProviderMappingList data, response status code and response headers
    def propertymappings_provider_google_workspace_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_google_workspace_list ...'
      end
      # resource path
      local_var_path = '/propertymappings/provider/google_workspace/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expression'] = opts[:'expression'] if !opts[:'expression'].nil?
      query_params[:'managed'] = @api_client.build_collection_param(opts[:'managed'], :multi) if !opts[:'managed'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pm_uuid'] = opts[:'pm_uuid'] if !opts[:'pm_uuid'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGoogleWorkspaceProviderMappingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_google_workspace_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_google_workspace_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGoogleWorkspaceProviderMappingRequest] :patched_google_workspace_provider_mapping_request 
    # @return [GoogleWorkspaceProviderMapping]
    def propertymappings_provider_google_workspace_partial_update(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_provider_google_workspace_partial_update_with_http_info(pm_uuid, opts)
      data
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGoogleWorkspaceProviderMappingRequest] :patched_google_workspace_provider_mapping_request 
    # @return [Array<(GoogleWorkspaceProviderMapping, Integer, Hash)>] GoogleWorkspaceProviderMapping data, response status code and response headers
    def propertymappings_provider_google_workspace_partial_update_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_google_workspace_partial_update ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_google_workspace_partial_update"
      end
      # resource path
      local_var_path = '/propertymappings/provider/google_workspace/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_google_workspace_provider_mapping_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProviderMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_google_workspace_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_google_workspace_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProviderMapping]
    def propertymappings_provider_google_workspace_retrieve(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_provider_google_workspace_retrieve_with_http_info(pm_uuid, opts)
      data
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProviderMapping, Integer, Hash)>] GoogleWorkspaceProviderMapping data, response status code and response headers
    def propertymappings_provider_google_workspace_retrieve_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_google_workspace_retrieve ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_google_workspace_retrieve"
      end
      # resource path
      local_var_path = '/propertymappings/provider/google_workspace/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProviderMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_google_workspace_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_google_workspace_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param google_workspace_provider_mapping_request [GoogleWorkspaceProviderMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProviderMapping]
    def propertymappings_provider_google_workspace_update(pm_uuid, google_workspace_provider_mapping_request, opts = {})
      data, _status_code, _headers = propertymappings_provider_google_workspace_update_with_http_info(pm_uuid, google_workspace_provider_mapping_request, opts)
      data
    end

    # GoogleWorkspaceProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param google_workspace_provider_mapping_request [GoogleWorkspaceProviderMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProviderMapping, Integer, Hash)>] GoogleWorkspaceProviderMapping data, response status code and response headers
    def propertymappings_provider_google_workspace_update_with_http_info(pm_uuid, google_workspace_provider_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_google_workspace_update ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_google_workspace_update"
      end
      # verify the required parameter 'google_workspace_provider_mapping_request' is set
      if @api_client.config.client_side_validation && google_workspace_provider_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'google_workspace_provider_mapping_request' when calling PropertymappingsApi.propertymappings_provider_google_workspace_update"
      end
      # resource path
      local_var_path = '/propertymappings/provider/google_workspace/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(google_workspace_provider_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProviderMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_google_workspace_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_google_workspace_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def propertymappings_provider_google_workspace_used_by_list(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_provider_google_workspace_used_by_list_with_http_info(pm_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param pm_uuid [String] A UUID string identifying this Google Workspace Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def propertymappings_provider_google_workspace_used_by_list_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_google_workspace_used_by_list ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_google_workspace_used_by_list"
      end
      # resource path
      local_var_path = '/propertymappings/provider/google_workspace/{pm_uuid}/used_by/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_google_workspace_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_google_workspace_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param microsoft_entra_provider_mapping_request [MicrosoftEntraProviderMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MicrosoftEntraProviderMapping]
    def propertymappings_provider_microsoft_entra_create(microsoft_entra_provider_mapping_request, opts = {})
      data, _status_code, _headers = propertymappings_provider_microsoft_entra_create_with_http_info(microsoft_entra_provider_mapping_request, opts)
      data
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param microsoft_entra_provider_mapping_request [MicrosoftEntraProviderMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MicrosoftEntraProviderMapping, Integer, Hash)>] MicrosoftEntraProviderMapping data, response status code and response headers
    def propertymappings_provider_microsoft_entra_create_with_http_info(microsoft_entra_provider_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_microsoft_entra_create ...'
      end
      # verify the required parameter 'microsoft_entra_provider_mapping_request' is set
      if @api_client.config.client_side_validation && microsoft_entra_provider_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'microsoft_entra_provider_mapping_request' when calling PropertymappingsApi.propertymappings_provider_microsoft_entra_create"
      end
      # resource path
      local_var_path = '/propertymappings/provider/microsoft_entra/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(microsoft_entra_provider_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MicrosoftEntraProviderMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_microsoft_entra_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_microsoft_entra_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def propertymappings_provider_microsoft_entra_destroy(pm_uuid, opts = {})
      propertymappings_provider_microsoft_entra_destroy_with_http_info(pm_uuid, opts)
      nil
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def propertymappings_provider_microsoft_entra_destroy_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_microsoft_entra_destroy ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_microsoft_entra_destroy"
      end
      # resource path
      local_var_path = '/propertymappings/provider/microsoft_entra/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_microsoft_entra_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_microsoft_entra_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expression 
    # @option opts [Array<String>] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pm_uuid 
    # @option opts [String] :search A search term.
    # @return [PaginatedMicrosoftEntraProviderMappingList]
    def propertymappings_provider_microsoft_entra_list(opts = {})
      data, _status_code, _headers = propertymappings_provider_microsoft_entra_list_with_http_info(opts)
      data
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expression 
    # @option opts [Array<String>] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pm_uuid 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedMicrosoftEntraProviderMappingList, Integer, Hash)>] PaginatedMicrosoftEntraProviderMappingList data, response status code and response headers
    def propertymappings_provider_microsoft_entra_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_microsoft_entra_list ...'
      end
      # resource path
      local_var_path = '/propertymappings/provider/microsoft_entra/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expression'] = opts[:'expression'] if !opts[:'expression'].nil?
      query_params[:'managed'] = @api_client.build_collection_param(opts[:'managed'], :multi) if !opts[:'managed'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pm_uuid'] = opts[:'pm_uuid'] if !opts[:'pm_uuid'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedMicrosoftEntraProviderMappingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_microsoft_entra_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_microsoft_entra_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedMicrosoftEntraProviderMappingRequest] :patched_microsoft_entra_provider_mapping_request 
    # @return [MicrosoftEntraProviderMapping]
    def propertymappings_provider_microsoft_entra_partial_update(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_provider_microsoft_entra_partial_update_with_http_info(pm_uuid, opts)
      data
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedMicrosoftEntraProviderMappingRequest] :patched_microsoft_entra_provider_mapping_request 
    # @return [Array<(MicrosoftEntraProviderMapping, Integer, Hash)>] MicrosoftEntraProviderMapping data, response status code and response headers
    def propertymappings_provider_microsoft_entra_partial_update_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_microsoft_entra_partial_update ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_microsoft_entra_partial_update"
      end
      # resource path
      local_var_path = '/propertymappings/provider/microsoft_entra/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_microsoft_entra_provider_mapping_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'MicrosoftEntraProviderMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_microsoft_entra_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_microsoft_entra_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [MicrosoftEntraProviderMapping]
    def propertymappings_provider_microsoft_entra_retrieve(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_provider_microsoft_entra_retrieve_with_http_info(pm_uuid, opts)
      data
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MicrosoftEntraProviderMapping, Integer, Hash)>] MicrosoftEntraProviderMapping data, response status code and response headers
    def propertymappings_provider_microsoft_entra_retrieve_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_microsoft_entra_retrieve ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_microsoft_entra_retrieve"
      end
      # resource path
      local_var_path = '/propertymappings/provider/microsoft_entra/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MicrosoftEntraProviderMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_microsoft_entra_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_microsoft_entra_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param microsoft_entra_provider_mapping_request [MicrosoftEntraProviderMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MicrosoftEntraProviderMapping]
    def propertymappings_provider_microsoft_entra_update(pm_uuid, microsoft_entra_provider_mapping_request, opts = {})
      data, _status_code, _headers = propertymappings_provider_microsoft_entra_update_with_http_info(pm_uuid, microsoft_entra_provider_mapping_request, opts)
      data
    end

    # MicrosoftEntraProviderMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param microsoft_entra_provider_mapping_request [MicrosoftEntraProviderMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MicrosoftEntraProviderMapping, Integer, Hash)>] MicrosoftEntraProviderMapping data, response status code and response headers
    def propertymappings_provider_microsoft_entra_update_with_http_info(pm_uuid, microsoft_entra_provider_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_microsoft_entra_update ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_microsoft_entra_update"
      end
      # verify the required parameter 'microsoft_entra_provider_mapping_request' is set
      if @api_client.config.client_side_validation && microsoft_entra_provider_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'microsoft_entra_provider_mapping_request' when calling PropertymappingsApi.propertymappings_provider_microsoft_entra_update"
      end
      # resource path
      local_var_path = '/propertymappings/provider/microsoft_entra/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(microsoft_entra_provider_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MicrosoftEntraProviderMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_microsoft_entra_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_microsoft_entra_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def propertymappings_provider_microsoft_entra_used_by_list(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_provider_microsoft_entra_used_by_list_with_http_info(pm_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param pm_uuid [String] A UUID string identifying this Microsoft Entra Provider Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def propertymappings_provider_microsoft_entra_used_by_list_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_microsoft_entra_used_by_list ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_microsoft_entra_used_by_list"
      end
      # resource path
      local_var_path = '/propertymappings/provider/microsoft_entra/{pm_uuid}/used_by/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_microsoft_entra_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_microsoft_entra_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RACPropertyMapping Viewset
    # @param rac_property_mapping_request [RACPropertyMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RACPropertyMapping]
    def propertymappings_provider_rac_create(rac_property_mapping_request, opts = {})
      data, _status_code, _headers = propertymappings_provider_rac_create_with_http_info(rac_property_mapping_request, opts)
      data
    end

    # RACPropertyMapping Viewset
    # @param rac_property_mapping_request [RACPropertyMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RACPropertyMapping, Integer, Hash)>] RACPropertyMapping data, response status code and response headers
    def propertymappings_provider_rac_create_with_http_info(rac_property_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_rac_create ...'
      end
      # verify the required parameter 'rac_property_mapping_request' is set
      if @api_client.config.client_side_validation && rac_property_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'rac_property_mapping_request' when calling PropertymappingsApi.propertymappings_provider_rac_create"
      end
      # resource path
      local_var_path = '/propertymappings/provider/rac/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rac_property_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RACPropertyMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_rac_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_rac_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RACPropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this RAC Provider Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def propertymappings_provider_rac_destroy(pm_uuid, opts = {})
      propertymappings_provider_rac_destroy_with_http_info(pm_uuid, opts)
      nil
    end

    # RACPropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this RAC Provider Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def propertymappings_provider_rac_destroy_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_rac_destroy ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_rac_destroy"
      end
      # resource path
      local_var_path = '/propertymappings/provider/rac/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_rac_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_rac_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RACPropertyMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedRACPropertyMappingList]
    def propertymappings_provider_rac_list(opts = {})
      data, _status_code, _headers = propertymappings_provider_rac_list_with_http_info(opts)
      data
    end

    # RACPropertyMapping Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedRACPropertyMappingList, Integer, Hash)>] PaginatedRACPropertyMappingList data, response status code and response headers
    def propertymappings_provider_rac_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_rac_list ...'
      end
      # resource path
      local_var_path = '/propertymappings/provider/rac/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'managed'] = @api_client.build_collection_param(opts[:'managed'], :multi) if !opts[:'managed'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedRACPropertyMappingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_rac_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_rac_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RACPropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this RAC Provider Property Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRACPropertyMappingRequest] :patched_rac_property_mapping_request 
    # @return [RACPropertyMapping]
    def propertymappings_provider_rac_partial_update(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_provider_rac_partial_update_with_http_info(pm_uuid, opts)
      data
    end

    # RACPropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this RAC Provider Property Mapping.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRACPropertyMappingRequest] :patched_rac_property_mapping_request 
    # @return [Array<(RACPropertyMapping, Integer, Hash)>] RACPropertyMapping data, response status code and response headers
    def propertymappings_provider_rac_partial_update_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_rac_partial_update ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_rac_partial_update"
      end
      # resource path
      local_var_path = '/propertymappings/provider/rac/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_rac_property_mapping_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RACPropertyMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_rac_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_rac_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RACPropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this RAC Provider Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [RACPropertyMapping]
    def propertymappings_provider_rac_retrieve(pm_uuid, opts = {})
      data, _status_code, _headers = propertymappings_provider_rac_retrieve_with_http_info(pm_uuid, opts)
      data
    end

    # RACPropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this RAC Provider Property Mapping.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RACPropertyMapping, Integer, Hash)>] RACPropertyMapping data, response status code and response headers
    def propertymappings_provider_rac_retrieve_with_http_info(pm_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertymappingsApi.propertymappings_provider_rac_retrieve ...'
      end
      # verify the required parameter 'pm_uuid' is set
      if @api_client.config.client_side_validation && pm_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'pm_uuid' when calling PropertymappingsApi.propertymappings_provider_rac_retrieve"
      end
      # resource path
      local_var_path = '/propertymappings/provider/rac/{pm_uuid}/'.sub('{' + 'pm_uuid' + '}', CGI.escape(pm_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RACPropertyMapping'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"PropertymappingsApi.propertymappings_provider_rac_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertymappingsApi#propertymappings_provider_rac_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RACPropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this RAC Provider Property Mapping.
    # @param rac_property_mapping_request [RACPropertyMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RACPropertyMapping]
    def propertymappings_provider_rac_update(pm_uuid, rac_property_mapping_request, opts = {})
      data, _status_code, _headers = propertymappings_provider_rac_update_with_http_info(pm_uuid, rac_property_mapping_request, opts)
      data
    end

    # RACPropertyMapping Viewset
    # @param pm_uuid [String] A UUID string identifying this RAC Provider Property Mapping.
    # @param rac_property_mapping_request [RACPropertyMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RACPropertyMapping, Integer, Hash)>] RACPropertyMapping data, response status code and response headers
    def propertymappings_provider_rac_update_with_http_info(pm_uuid, rac_property_mapping_request, opts = {})
      if @api_client.config.debugging
[...]
