=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class ProvidersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Provider Viewset
    # @param id [Integer] A unique integer value identifying this provider.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def providers_all_destroy(id, opts = {})
      providers_all_destroy_with_http_info(id, opts)
      nil
    end

    # Provider Viewset
    # @param id [Integer] A unique integer value identifying this provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def providers_all_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_all_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_all_destroy"
      end
      # resource path
      local_var_path = '/providers/all/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_all_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_all_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Provider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :application__isnull 
    # @option opts [Boolean] :backchannel When not set all providers are returned. When set to true, only backchannel providers are returned. When set to false, backchannel providers are excluded
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedProviderList]
    def providers_all_list(opts = {})
      data, _status_code, _headers = providers_all_list_with_http_info(opts)
      data
    end

    # Provider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :application__isnull 
    # @option opts [Boolean] :backchannel When not set all providers are returned. When set to true, only backchannel providers are returned. When set to false, backchannel providers are excluded
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedProviderList, Integer, Hash)>] PaginatedProviderList data, response status code and response headers
    def providers_all_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_all_list ...'
      end
      # resource path
      local_var_path = '/providers/all/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'application__isnull'] = opts[:'application__isnull'] if !opts[:'application__isnull'].nil?
      query_params[:'backchannel'] = opts[:'backchannel'] if !opts[:'backchannel'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedProviderList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_all_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_all_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Provider Viewset
    # @param id [Integer] A unique integer value identifying this provider.
    # @param [Hash] opts the optional parameters
    # @return [Provider]
    def providers_all_retrieve(id, opts = {})
      data, _status_code, _headers = providers_all_retrieve_with_http_info(id, opts)
      data
    end

    # Provider Viewset
    # @param id [Integer] A unique integer value identifying this provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Provider, Integer, Hash)>] Provider data, response status code and response headers
    def providers_all_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_all_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_all_retrieve"
      end
      # resource path
      local_var_path = '/providers/all/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Provider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_all_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_all_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<TypeCreate>]
    def providers_all_types_list(opts = {})
      data, _status_code, _headers = providers_all_types_list_with_http_info(opts)
      data
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TypeCreate>, Integer, Hash)>] Array<TypeCreate> data, response status code and response headers
    def providers_all_types_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_all_types_list ...'
      end
      # resource path
      local_var_path = '/providers/all/types/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TypeCreate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_all_types_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_all_types_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def providers_all_used_by_list(id, opts = {})
      data, _status_code, _headers = providers_all_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def providers_all_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_all_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_all_used_by_list"
      end
      # resource path
      local_var_path = '/providers/all/{id}/used_by/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_all_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_all_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProvider Viewset
    # @param google_workspace_provider_request [GoogleWorkspaceProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProvider]
    def providers_google_workspace_create(google_workspace_provider_request, opts = {})
      data, _status_code, _headers = providers_google_workspace_create_with_http_info(google_workspace_provider_request, opts)
      data
    end

    # GoogleWorkspaceProvider Viewset
    # @param google_workspace_provider_request [GoogleWorkspaceProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProvider, Integer, Hash)>] GoogleWorkspaceProvider data, response status code and response headers
    def providers_google_workspace_create_with_http_info(google_workspace_provider_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_create ...'
      end
      # verify the required parameter 'google_workspace_provider_request' is set
      if @api_client.config.client_side_validation && google_workspace_provider_request.nil?
        fail ArgumentError, "Missing the required parameter 'google_workspace_provider_request' when calling ProvidersApi.providers_google_workspace_create"
      end
      # resource path
      local_var_path = '/providers/google_workspace/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(google_workspace_provider_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProvider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProvider Viewset
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def providers_google_workspace_destroy(id, opts = {})
      providers_google_workspace_destroy_with_http_info(id, opts)
      nil
    end

    # GoogleWorkspaceProvider Viewset
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def providers_google_workspace_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_destroy"
      end
      # resource path
      local_var_path = '/providers/google_workspace/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderGroup Viewset
    # @param google_workspace_provider_group_request [GoogleWorkspaceProviderGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProviderGroup]
    def providers_google_workspace_groups_create(google_workspace_provider_group_request, opts = {})
      data, _status_code, _headers = providers_google_workspace_groups_create_with_http_info(google_workspace_provider_group_request, opts)
      data
    end

    # GoogleWorkspaceProviderGroup Viewset
    # @param google_workspace_provider_group_request [GoogleWorkspaceProviderGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProviderGroup, Integer, Hash)>] GoogleWorkspaceProviderGroup data, response status code and response headers
    def providers_google_workspace_groups_create_with_http_info(google_workspace_provider_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_groups_create ...'
      end
      # verify the required parameter 'google_workspace_provider_group_request' is set
      if @api_client.config.client_side_validation && google_workspace_provider_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'google_workspace_provider_group_request' when calling ProvidersApi.providers_google_workspace_groups_create"
      end
      # resource path
      local_var_path = '/providers/google_workspace_groups/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(google_workspace_provider_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProviderGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_groups_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_groups_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderGroup Viewset
    # @param id [String] A UUID string identifying this Google Workspace Provider Group.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def providers_google_workspace_groups_destroy(id, opts = {})
      providers_google_workspace_groups_destroy_with_http_info(id, opts)
      nil
    end

    # GoogleWorkspaceProviderGroup Viewset
    # @param id [String] A UUID string identifying this Google Workspace Provider Group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def providers_google_workspace_groups_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_groups_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_groups_destroy"
      end
      # resource path
      local_var_path = '/providers/google_workspace_groups/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_groups_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_groups_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderGroup Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group__group_uuid 
    # @option opts [String] :group__name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider__id 
    # @option opts [String] :search A search term.
    # @return [PaginatedGoogleWorkspaceProviderGroupList]
    def providers_google_workspace_groups_list(opts = {})
      data, _status_code, _headers = providers_google_workspace_groups_list_with_http_info(opts)
      data
    end

    # GoogleWorkspaceProviderGroup Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group__group_uuid 
    # @option opts [String] :group__name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider__id 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedGoogleWorkspaceProviderGroupList, Integer, Hash)>] PaginatedGoogleWorkspaceProviderGroupList data, response status code and response headers
    def providers_google_workspace_groups_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_groups_list ...'
      end
      # resource path
      local_var_path = '/providers/google_workspace_groups/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group__group_uuid'] = opts[:'group__group_uuid'] if !opts[:'group__group_uuid'].nil?
      query_params[:'group__name'] = opts[:'group__name'] if !opts[:'group__name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'provider__id'] = opts[:'provider__id'] if !opts[:'provider__id'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGoogleWorkspaceProviderGroupList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_groups_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_groups_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderGroup Viewset
    # @param id [String] A UUID string identifying this Google Workspace Provider Group.
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProviderGroup]
    def providers_google_workspace_groups_retrieve(id, opts = {})
      data, _status_code, _headers = providers_google_workspace_groups_retrieve_with_http_info(id, opts)
      data
    end

    # GoogleWorkspaceProviderGroup Viewset
    # @param id [String] A UUID string identifying this Google Workspace Provider Group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProviderGroup, Integer, Hash)>] GoogleWorkspaceProviderGroup data, response status code and response headers
    def providers_google_workspace_groups_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_groups_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_groups_retrieve"
      end
      # resource path
      local_var_path = '/providers/google_workspace_groups/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProviderGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_groups_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_groups_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [String] A UUID string identifying this Google Workspace Provider Group.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def providers_google_workspace_groups_used_by_list(id, opts = {})
      data, _status_code, _headers = providers_google_workspace_groups_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [String] A UUID string identifying this Google Workspace Provider Group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def providers_google_workspace_groups_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_groups_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_groups_used_by_list"
      end
      # resource path
      local_var_path = '/providers/google_workspace_groups/{id}/used_by/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_groups_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_groups_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :delegated_subject 
    # @option opts [Boolean] :exclude_users_service_account 
    # @option opts [String] :filter_group 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedGoogleWorkspaceProviderList]
    def providers_google_workspace_list(opts = {})
      data, _status_code, _headers = providers_google_workspace_list_with_http_info(opts)
      data
    end

    # GoogleWorkspaceProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :delegated_subject 
    # @option opts [Boolean] :exclude_users_service_account 
    # @option opts [String] :filter_group 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedGoogleWorkspaceProviderList, Integer, Hash)>] PaginatedGoogleWorkspaceProviderList data, response status code and response headers
    def providers_google_workspace_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_list ...'
      end
      # resource path
      local_var_path = '/providers/google_workspace/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'delegated_subject'] = opts[:'delegated_subject'] if !opts[:'delegated_subject'].nil?
      query_params[:'exclude_users_service_account'] = opts[:'exclude_users_service_account'] if !opts[:'exclude_users_service_account'].nil?
      query_params[:'filter_group'] = opts[:'filter_group'] if !opts[:'filter_group'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGoogleWorkspaceProviderList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProvider Viewset
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGoogleWorkspaceProviderRequest] :patched_google_workspace_provider_request 
    # @return [GoogleWorkspaceProvider]
    def providers_google_workspace_partial_update(id, opts = {})
      data, _status_code, _headers = providers_google_workspace_partial_update_with_http_info(id, opts)
      data
    end

    # GoogleWorkspaceProvider Viewset
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGoogleWorkspaceProviderRequest] :patched_google_workspace_provider_request 
    # @return [Array<(GoogleWorkspaceProvider, Integer, Hash)>] GoogleWorkspaceProvider data, response status code and response headers
    def providers_google_workspace_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_partial_update"
      end
      # resource path
      local_var_path = '/providers/google_workspace/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_google_workspace_provider_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProvider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProvider Viewset
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProvider]
    def providers_google_workspace_retrieve(id, opts = {})
      data, _status_code, _headers = providers_google_workspace_retrieve_with_http_info(id, opts)
      data
    end

    # GoogleWorkspaceProvider Viewset
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProvider, Integer, Hash)>] GoogleWorkspaceProvider data, response status code and response headers
    def providers_google_workspace_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_retrieve"
      end
      # resource path
      local_var_path = '/providers/google_workspace/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProvider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync/Re-sync a single user/group object
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param sync_object_request [SyncObjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SyncObjectResult]
    def providers_google_workspace_sync_object_create(id, sync_object_request, opts = {})
      data, _status_code, _headers = providers_google_workspace_sync_object_create_with_http_info(id, sync_object_request, opts)
      data
    end

    # Sync/Re-sync a single user/group object
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param sync_object_request [SyncObjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyncObjectResult, Integer, Hash)>] SyncObjectResult data, response status code and response headers
    def providers_google_workspace_sync_object_create_with_http_info(id, sync_object_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_sync_object_create ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_sync_object_create"
      end
      # verify the required parameter 'sync_object_request' is set
      if @api_client.config.client_side_validation && sync_object_request.nil?
        fail ArgumentError, "Missing the required parameter 'sync_object_request' when calling ProvidersApi.providers_google_workspace_sync_object_create"
      end
      # resource path
      local_var_path = '/providers/google_workspace/{id}/sync/object/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sync_object_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SyncObjectResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_sync_object_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_sync_object_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get provider's sync status
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @return [SyncStatus]
    def providers_google_workspace_sync_status_retrieve(id, opts = {})
      data, _status_code, _headers = providers_google_workspace_sync_status_retrieve_with_http_info(id, opts)
      data
    end

    # Get provider&#39;s sync status
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyncStatus, Integer, Hash)>] SyncStatus data, response status code and response headers
    def providers_google_workspace_sync_status_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_sync_status_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_sync_status_retrieve"
      end
      # resource path
      local_var_path = '/providers/google_workspace/{id}/sync/status/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyncStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_sync_status_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_sync_status_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProvider Viewset
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param google_workspace_provider_request [GoogleWorkspaceProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProvider]
    def providers_google_workspace_update(id, google_workspace_provider_request, opts = {})
      data, _status_code, _headers = providers_google_workspace_update_with_http_info(id, google_workspace_provider_request, opts)
      data
    end

    # GoogleWorkspaceProvider Viewset
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param google_workspace_provider_request [GoogleWorkspaceProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProvider, Integer, Hash)>] GoogleWorkspaceProvider data, response status code and response headers
    def providers_google_workspace_update_with_http_info(id, google_workspace_provider_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_update"
      end
      # verify the required parameter 'google_workspace_provider_request' is set
      if @api_client.config.client_side_validation && google_workspace_provider_request.nil?
        fail ArgumentError, "Missing the required parameter 'google_workspace_provider_request' when calling ProvidersApi.providers_google_workspace_update"
      end
      # resource path
      local_var_path = '/providers/google_workspace/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(google_workspace_provider_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProvider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def providers_google_workspace_used_by_list(id, opts = {})
      data, _status_code, _headers = providers_google_workspace_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Google Workspace Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def providers_google_workspace_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_used_by_list"
      end
      # resource path
      local_var_path = '/providers/google_workspace/{id}/used_by/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderUser Viewset
    # @param google_workspace_provider_user_request [GoogleWorkspaceProviderUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProviderUser]
    def providers_google_workspace_users_create(google_workspace_provider_user_request, opts = {})
      data, _status_code, _headers = providers_google_workspace_users_create_with_http_info(google_workspace_provider_user_request, opts)
      data
    end

    # GoogleWorkspaceProviderUser Viewset
    # @param google_workspace_provider_user_request [GoogleWorkspaceProviderUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProviderUser, Integer, Hash)>] GoogleWorkspaceProviderUser data, response status code and response headers
    def providers_google_workspace_users_create_with_http_info(google_workspace_provider_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_users_create ...'
      end
      # verify the required parameter 'google_workspace_provider_user_request' is set
      if @api_client.config.client_side_validation && google_workspace_provider_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'google_workspace_provider_user_request' when calling ProvidersApi.providers_google_workspace_users_create"
      end
      # resource path
      local_var_path = '/providers/google_workspace_users/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(google_workspace_provider_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProviderUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_users_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_users_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderUser Viewset
    # @param id [String] A UUID string identifying this Google Workspace Provider User.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def providers_google_workspace_users_destroy(id, opts = {})
      providers_google_workspace_users_destroy_with_http_info(id, opts)
      nil
    end

    # GoogleWorkspaceProviderUser Viewset
    # @param id [String] A UUID string identifying this Google Workspace Provider User.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def providers_google_workspace_users_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_users_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_users_destroy"
      end
      # resource path
      local_var_path = '/providers/google_workspace_users/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_users_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_users_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderUser Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider__id 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :user__id 
    # @option opts [String] :user__username 
    # @return [PaginatedGoogleWorkspaceProviderUserList]
    def providers_google_workspace_users_list(opts = {})
      data, _status_code, _headers = providers_google_workspace_users_list_with_http_info(opts)
      data
    end

    # GoogleWorkspaceProviderUser Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider__id 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :user__id 
    # @option opts [String] :user__username 
    # @return [Array<(PaginatedGoogleWorkspaceProviderUserList, Integer, Hash)>] PaginatedGoogleWorkspaceProviderUserList data, response status code and response headers
    def providers_google_workspace_users_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_users_list ...'
      end
      # resource path
      local_var_path = '/providers/google_workspace_users/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'provider__id'] = opts[:'provider__id'] if !opts[:'provider__id'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'user__id'] = opts[:'user__id'] if !opts[:'user__id'].nil?
      query_params[:'user__username'] = opts[:'user__username'] if !opts[:'user__username'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGoogleWorkspaceProviderUserList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_users_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_users_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GoogleWorkspaceProviderUser Viewset
    # @param id [String] A UUID string identifying this Google Workspace Provider User.
    # @param [Hash] opts the optional parameters
    # @return [GoogleWorkspaceProviderUser]
    def providers_google_workspace_users_retrieve(id, opts = {})
      data, _status_code, _headers = providers_google_workspace_users_retrieve_with_http_info(id, opts)
      data
    end

    # GoogleWorkspaceProviderUser Viewset
    # @param id [String] A UUID string identifying this Google Workspace Provider User.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleWorkspaceProviderUser, Integer, Hash)>] GoogleWorkspaceProviderUser data, response status code and response headers
    def providers_google_workspace_users_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_users_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_users_retrieve"
      end
      # resource path
      local_var_path = '/providers/google_workspace_users/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleWorkspaceProviderUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_users_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_users_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [String] A UUID string identifying this Google Workspace Provider User.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def providers_google_workspace_users_used_by_list(id, opts = {})
      data, _status_code, _headers = providers_google_workspace_users_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [String] A UUID string identifying this Google Workspace Provider User.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def providers_google_workspace_users_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_google_workspace_users_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_google_workspace_users_used_by_list"
      end
      # resource path
      local_var_path = '/providers/google_workspace_users/{id}/used_by/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_google_workspace_users_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_google_workspace_users_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LDAPProvider Viewset
    # @param ldap_provider_request [LDAPProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LDAPProvider]
    def providers_ldap_create(ldap_provider_request, opts = {})
      data, _status_code, _headers = providers_ldap_create_with_http_info(ldap_provider_request, opts)
      data
    end

    # LDAPProvider Viewset
    # @param ldap_provider_request [LDAPProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LDAPProvider, Integer, Hash)>] LDAPProvider data, response status code and response headers
    def providers_ldap_create_with_http_info(ldap_provider_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_ldap_create ...'
      end
      # verify the required parameter 'ldap_provider_request' is set
      if @api_client.config.client_side_validation && ldap_provider_request.nil?
        fail ArgumentError, "Missing the required parameter 'ldap_provider_request' when calling ProvidersApi.providers_ldap_create"
      end
      # resource path
      local_var_path = '/providers/ldap/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ldap_provider_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LDAPProvider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_ldap_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_ldap_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LDAPProvider Viewset
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def providers_ldap_destroy(id, opts = {})
      providers_ldap_destroy_with_http_info(id, opts)
      nil
    end

    # LDAPProvider Viewset
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def providers_ldap_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_ldap_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_ldap_destroy"
      end
      # resource path
      local_var_path = '/providers/ldap/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_ldap_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_ldap_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LDAPProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :application__isnull 
    # @option opts [String] :authorization_flow__slug__iexact 
    # @option opts [String] :base_dn__iexact 
    # @option opts [String] :certificate__kp_uuid__iexact 
    # @option opts [String] :certificate__name__iexact 
    # @option opts [Integer] :gid_start_number__iexact 
    # @option opts [String] :name__iexact 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :tls_server_name__iexact 
    # @option opts [Integer] :uid_start_number__iexact 
    # @return [PaginatedLDAPProviderList]
    def providers_ldap_list(opts = {})
      data, _status_code, _headers = providers_ldap_list_with_http_info(opts)
      data
    end

    # LDAPProvider Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :application__isnull 
    # @option opts [String] :authorization_flow__slug__iexact 
    # @option opts [String] :base_dn__iexact 
    # @option opts [String] :certificate__kp_uuid__iexact 
    # @option opts [String] :certificate__name__iexact 
    # @option opts [Integer] :gid_start_number__iexact 
    # @option opts [String] :name__iexact 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :tls_server_name__iexact 
    # @option opts [Integer] :uid_start_number__iexact 
    # @return [Array<(PaginatedLDAPProviderList, Integer, Hash)>] PaginatedLDAPProviderList data, response status code and response headers
    def providers_ldap_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_ldap_list ...'
      end
      # resource path
      local_var_path = '/providers/ldap/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'application__isnull'] = opts[:'application__isnull'] if !opts[:'application__isnull'].nil?
      query_params[:'authorization_flow__slug__iexact'] = opts[:'authorization_flow__slug__iexact'] if !opts[:'authorization_flow__slug__iexact'].nil?
      query_params[:'base_dn__iexact'] = opts[:'base_dn__iexact'] if !opts[:'base_dn__iexact'].nil?
      query_params[:'certificate__kp_uuid__iexact'] = opts[:'certificate__kp_uuid__iexact'] if !opts[:'certificate__kp_uuid__iexact'].nil?
      query_params[:'certificate__name__iexact'] = opts[:'certificate__name__iexact'] if !opts[:'certificate__name__iexact'].nil?
      query_params[:'gid_start_number__iexact'] = opts[:'gid_start_number__iexact'] if !opts[:'gid_start_number__iexact'].nil?
      query_params[:'name__iexact'] = opts[:'name__iexact'] if !opts[:'name__iexact'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'tls_server_name__iexact'] = opts[:'tls_server_name__iexact'] if !opts[:'tls_server_name__iexact'].nil?
      query_params[:'uid_start_number__iexact'] = opts[:'uid_start_number__iexact'] if !opts[:'uid_start_number__iexact'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedLDAPProviderList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_ldap_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_ldap_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LDAPProvider Viewset
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedLDAPProviderRequest] :patched_ldap_provider_request 
    # @return [LDAPProvider]
    def providers_ldap_partial_update(id, opts = {})
      data, _status_code, _headers = providers_ldap_partial_update_with_http_info(id, opts)
      data
    end

    # LDAPProvider Viewset
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedLDAPProviderRequest] :patched_ldap_provider_request 
    # @return [Array<(LDAPProvider, Integer, Hash)>] LDAPProvider data, response status code and response headers
    def providers_ldap_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_ldap_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_ldap_partial_update"
      end
      # resource path
      local_var_path = '/providers/ldap/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_ldap_provider_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'LDAPProvider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_ldap_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_ldap_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LDAPProvider Viewset
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @return [LDAPProvider]
    def providers_ldap_retrieve(id, opts = {})
      data, _status_code, _headers = providers_ldap_retrieve_with_http_info(id, opts)
      data
    end

    # LDAPProvider Viewset
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LDAPProvider, Integer, Hash)>] LDAPProvider data, response status code and response headers
    def providers_ldap_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_ldap_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_ldap_retrieve"
      end
      # resource path
      local_var_path = '/providers/ldap/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LDAPProvider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_ldap_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_ldap_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # LDAPProvider Viewset
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param ldap_provider_request [LDAPProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LDAPProvider]
    def providers_ldap_update(id, ldap_provider_request, opts = {})
      data, _status_code, _headers = providers_ldap_update_with_http_info(id, ldap_provider_request, opts)
      data
    end

    # LDAPProvider Viewset
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param ldap_provider_request [LDAPProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LDAPProvider, Integer, Hash)>] LDAPProvider data, response status code and response headers
    def providers_ldap_update_with_http_info(id, ldap_provider_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_ldap_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_ldap_update"
      end
      # verify the required parameter 'ldap_provider_request' is set
      if @api_client.config.client_side_validation && ldap_provider_request.nil?
        fail ArgumentError, "Missing the required parameter 'ldap_provider_request' when calling ProvidersApi.providers_ldap_update"
      end
      # resource path
      local_var_path = '/providers/ldap/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ldap_provider_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LDAPProvider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_ldap_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_ldap_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def providers_ldap_used_by_list(id, opts = {})
      data, _status_code, _headers = providers_ldap_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this LDAP Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def providers_ldap_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_ldap_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_ldap_used_by_list"
      end
      # resource path
      local_var_path = '/providers/ldap/{id}/used_by/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_ldap_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_ldap_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProvider Viewset
    # @param microsoft_entra_provider_request [MicrosoftEntraProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MicrosoftEntraProvider]
    def providers_microsoft_entra_create(microsoft_entra_provider_request, opts = {})
      data, _status_code, _headers = providers_microsoft_entra_create_with_http_info(microsoft_entra_provider_request, opts)
      data
    end

    # MicrosoftEntraProvider Viewset
    # @param microsoft_entra_provider_request [MicrosoftEntraProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MicrosoftEntraProvider, Integer, Hash)>] MicrosoftEntraProvider data, response status code and response headers
    def providers_microsoft_entra_create_with_http_info(microsoft_entra_provider_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_microsoft_entra_create ...'
      end
      # verify the required parameter 'microsoft_entra_provider_request' is set
      if @api_client.config.client_side_validation && microsoft_entra_provider_request.nil?
        fail ArgumentError, "Missing the required parameter 'microsoft_entra_provider_request' when calling ProvidersApi.providers_microsoft_entra_create"
      end
      # resource path
      local_var_path = '/providers/microsoft_entra/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(microsoft_entra_provider_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MicrosoftEntraProvider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_microsoft_entra_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_microsoft_entra_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProvider Viewset
    # @param id [Integer] A unique integer value identifying this Microsoft Entra Provider.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def providers_microsoft_entra_destroy(id, opts = {})
      providers_microsoft_entra_destroy_with_http_info(id, opts)
      nil
    end

    # MicrosoftEntraProvider Viewset
    # @param id [Integer] A unique integer value identifying this Microsoft Entra Provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def providers_microsoft_entra_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_microsoft_entra_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvidersApi.providers_microsoft_entra_destroy"
      end
      # resource path
      local_var_path = '/providers/microsoft_entra/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_microsoft_entra_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_microsoft_entra_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProviderGroup Viewset
    # @param microsoft_entra_provider_group_request [MicrosoftEntraProviderGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MicrosoftEntraProviderGroup]
    def providers_microsoft_entra_groups_create(microsoft_entra_provider_group_request, opts = {})
      data, _status_code, _headers = providers_microsoft_entra_groups_create_with_http_info(microsoft_entra_provider_group_request, opts)
      data
    end

    # MicrosoftEntraProviderGroup Viewset
    # @param microsoft_entra_provider_group_request [MicrosoftEntraProviderGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MicrosoftEntraProviderGroup, Integer, Hash)>] MicrosoftEntraProviderGroup data, response status code and response headers
    def providers_microsoft_entra_groups_create_with_http_info(microsoft_entra_provider_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_microsoft_entra_groups_create ...'
      end
      # verify the required parameter 'microsoft_entra_provider_group_request' is set
      if @api_client.config.client_side_validation && microsoft_entra_provider_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'microsoft_entra_provider_group_request' when calling ProvidersApi.providers_microsoft_entra_groups_create"
      end
      # resource path
      local_var_path = '/providers/microsoft_entra_groups/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(microsoft_entra_provider_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MicrosoftEntraProviderGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_microsoft_entra_groups_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_microsoft_entra_groups_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MicrosoftEntraProviderGroup Viewset
[...]
