=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class RacApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ConnectionToken Viewset
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def rac_connection_tokens_destroy(connection_token_uuid, opts = {})
      rac_connection_tokens_destroy_with_http_info(connection_token_uuid, opts)
      nil
    end

    # ConnectionToken Viewset
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rac_connection_tokens_destroy_with_http_info(connection_token_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RacApi.rac_connection_tokens_destroy ...'
      end
      # verify the required parameter 'connection_token_uuid' is set
      if @api_client.config.client_side_validation && connection_token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connection_token_uuid' when calling RacApi.rac_connection_tokens_destroy"
      end
      # resource path
      local_var_path = '/rac/connection_tokens/{connection_token_uuid}/'.sub('{connection_token_uuid}', CGI.escape(connection_token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RacApi.rac_connection_tokens_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RacApi#rac_connection_tokens_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ConnectionToken Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :session__user 
    # @return [PaginatedConnectionTokenList]
    def rac_connection_tokens_list(opts = {})
      data, _status_code, _headers = rac_connection_tokens_list_with_http_info(opts)
      data
    end

    # ConnectionToken Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Integer] :provider 
    # @option opts [String] :search A search term.
    # @option opts [Integer] :session__user 
    # @return [Array<(PaginatedConnectionTokenList, Integer, Hash)>] PaginatedConnectionTokenList data, response status code and response headers
    def rac_connection_tokens_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RacApi.rac_connection_tokens_list ...'
      end
      # resource path
      local_var_path = '/rac/connection_tokens/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'device'] = opts[:'device'] if !opts[:'device'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'session__user'] = opts[:'session__user'] if !opts[:'session__user'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedConnectionTokenList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RacApi.rac_connection_tokens_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RacApi#rac_connection_tokens_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ConnectionToken Viewset
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedConnectionTokenRequest] :patched_connection_token_request 
    # @return [ConnectionToken]
    def rac_connection_tokens_partial_update(connection_token_uuid, opts = {})
      data, _status_code, _headers = rac_connection_tokens_partial_update_with_http_info(connection_token_uuid, opts)
      data
    end

    # ConnectionToken Viewset
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedConnectionTokenRequest] :patched_connection_token_request 
    # @return [Array<(ConnectionToken, Integer, Hash)>] ConnectionToken data, response status code and response headers
    def rac_connection_tokens_partial_update_with_http_info(connection_token_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RacApi.rac_connection_tokens_partial_update ...'
      end
      # verify the required parameter 'connection_token_uuid' is set
      if @api_client.config.client_side_validation && connection_token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connection_token_uuid' when calling RacApi.rac_connection_tokens_partial_update"
      end
      # resource path
      local_var_path = '/rac/connection_tokens/{connection_token_uuid}/'.sub('{connection_token_uuid}', CGI.escape(connection_token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_connection_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RacApi.rac_connection_tokens_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RacApi#rac_connection_tokens_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ConnectionToken Viewset
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param [Hash] opts the optional parameters
    # @return [ConnectionToken]
    def rac_connection_tokens_retrieve(connection_token_uuid, opts = {})
      data, _status_code, _headers = rac_connection_tokens_retrieve_with_http_info(connection_token_uuid, opts)
      data
    end

    # ConnectionToken Viewset
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectionToken, Integer, Hash)>] ConnectionToken data, response status code and response headers
    def rac_connection_tokens_retrieve_with_http_info(connection_token_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RacApi.rac_connection_tokens_retrieve ...'
      end
      # verify the required parameter 'connection_token_uuid' is set
      if @api_client.config.client_side_validation && connection_token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connection_token_uuid' when calling RacApi.rac_connection_tokens_retrieve"
      end
      # resource path
      local_var_path = '/rac/connection_tokens/{connection_token_uuid}/'.sub('{connection_token_uuid}', CGI.escape(connection_token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RacApi.rac_connection_tokens_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RacApi#rac_connection_tokens_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ConnectionToken Viewset
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param connection_token_request [ConnectionTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectionToken]
    def rac_connection_tokens_update(connection_token_uuid, connection_token_request, opts = {})
      data, _status_code, _headers = rac_connection_tokens_update_with_http_info(connection_token_uuid, connection_token_request, opts)
      data
    end

    # ConnectionToken Viewset
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param connection_token_request [ConnectionTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectionToken, Integer, Hash)>] ConnectionToken data, response status code and response headers
    def rac_connection_tokens_update_with_http_info(connection_token_uuid, connection_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RacApi.rac_connection_tokens_update ...'
      end
      # verify the required parameter 'connection_token_uuid' is set
      if @api_client.config.client_side_validation && connection_token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connection_token_uuid' when calling RacApi.rac_connection_tokens_update"
      end
      # verify the required parameter 'connection_token_request' is set
      if @api_client.config.client_side_validation && connection_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'connection_token_request' when calling RacApi.rac_connection_tokens_update"
      end
      # resource path
      local_var_path = '/rac/connection_tokens/{connection_token_uuid}/'.sub('{connection_token_uuid}', CGI.escape(connection_token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connection_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RacApi.rac_connection_tokens_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RacApi#rac_connection_tokens_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def rac_connection_tokens_used_by_list(connection_token_uuid, opts = {})
      data, _status_code, _headers = rac_connection_tokens_used_by_list_with_http_info(connection_token_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param connection_token_uuid [String] A UUID string identifying this RAC Connection token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def rac_connection_tokens_used_by_list_with_http_info(connection_token_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RacApi.rac_connection_tokens_used_by_list ...'
      end
      # verify the required parameter 'connection_token_uuid' is set
      if @api_client.config.client_side_validation && connection_token_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'connection_token_uuid' when calling RacApi.rac_connection_tokens_used_by_list"
      end
      # resource path
      local_var_path = '/rac/connection_tokens/{connection_token_uuid}/used_by/'.sub('{connection_token_uuid}', CGI.escape(connection_token_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RacApi.rac_connection_tokens_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RacApi#rac_connection_tokens_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List devices accessible through a RAC provider
    # @param provider [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Boolean] :superuser_full_list 
    # @return [PaginatedRACDeviceList]
    def rac_devices_list(provider, opts = {})
      data, _status_code, _headers = rac_devices_list_with_http_info(provider, opts)
      data
    end

    # List devices accessible through a RAC provider
    # @param provider [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Boolean] :superuser_full_list 
    # @return [Array<(PaginatedRACDeviceList, Integer, Hash)>] PaginatedRACDeviceList data, response status code and response headers
    def rac_devices_list_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RacApi.rac_devices_list ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling RacApi.rac_devices_list"
      end
      # resource path
      local_var_path = '/rac/devices/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'provider'] = provider
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'superuser_full_list'] = opts[:'superuser_full_list'] if !opts[:'superuser_full_list'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedRACDeviceList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RacApi.rac_devices_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RacApi#rac_devices_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
