=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class RbacApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # InitialPermissions viewset
    # @param initial_permissions_request [InitialPermissionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InitialPermissions]
    def rbac_initial_permissions_create(initial_permissions_request, opts = {})
      data, _status_code, _headers = rbac_initial_permissions_create_with_http_info(initial_permissions_request, opts)
      data
    end

    # InitialPermissions viewset
    # @param initial_permissions_request [InitialPermissionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitialPermissions, Integer, Hash)>] InitialPermissions data, response status code and response headers
    def rbac_initial_permissions_create_with_http_info(initial_permissions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_initial_permissions_create ...'
      end
      # verify the required parameter 'initial_permissions_request' is set
      if @api_client.config.client_side_validation && initial_permissions_request.nil?
        fail ArgumentError, "Missing the required parameter 'initial_permissions_request' when calling RbacApi.rbac_initial_permissions_create"
      end
      # resource path
      local_var_path = '/rbac/initial_permissions/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initial_permissions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InitialPermissions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_initial_permissions_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_initial_permissions_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # InitialPermissions viewset
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def rbac_initial_permissions_destroy(id, opts = {})
      rbac_initial_permissions_destroy_with_http_info(id, opts)
      nil
    end

    # InitialPermissions viewset
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rbac_initial_permissions_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_initial_permissions_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RbacApi.rbac_initial_permissions_destroy"
      end
      # resource path
      local_var_path = '/rbac/initial_permissions/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_initial_permissions_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_initial_permissions_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # InitialPermissions viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedInitialPermissionsList]
    def rbac_initial_permissions_list(opts = {})
      data, _status_code, _headers = rbac_initial_permissions_list_with_http_info(opts)
      data
    end

    # InitialPermissions viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedInitialPermissionsList, Integer, Hash)>] PaginatedInitialPermissionsList data, response status code and response headers
    def rbac_initial_permissions_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_initial_permissions_list ...'
      end
      # resource path
      local_var_path = '/rbac/initial_permissions/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedInitialPermissionsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_initial_permissions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_initial_permissions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # InitialPermissions viewset
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedInitialPermissionsRequest] :patched_initial_permissions_request 
    # @return [InitialPermissions]
    def rbac_initial_permissions_partial_update(id, opts = {})
      data, _status_code, _headers = rbac_initial_permissions_partial_update_with_http_info(id, opts)
      data
    end

    # InitialPermissions viewset
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedInitialPermissionsRequest] :patched_initial_permissions_request 
    # @return [Array<(InitialPermissions, Integer, Hash)>] InitialPermissions data, response status code and response headers
    def rbac_initial_permissions_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_initial_permissions_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RbacApi.rbac_initial_permissions_partial_update"
      end
      # resource path
      local_var_path = '/rbac/initial_permissions/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_initial_permissions_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'InitialPermissions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_initial_permissions_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_initial_permissions_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # InitialPermissions viewset
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param [Hash] opts the optional parameters
    # @return [InitialPermissions]
    def rbac_initial_permissions_retrieve(id, opts = {})
      data, _status_code, _headers = rbac_initial_permissions_retrieve_with_http_info(id, opts)
      data
    end

    # InitialPermissions viewset
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitialPermissions, Integer, Hash)>] InitialPermissions data, response status code and response headers
    def rbac_initial_permissions_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_initial_permissions_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RbacApi.rbac_initial_permissions_retrieve"
      end
      # resource path
      local_var_path = '/rbac/initial_permissions/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InitialPermissions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_initial_permissions_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_initial_permissions_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # InitialPermissions viewset
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param initial_permissions_request [InitialPermissionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InitialPermissions]
    def rbac_initial_permissions_update(id, initial_permissions_request, opts = {})
      data, _status_code, _headers = rbac_initial_permissions_update_with_http_info(id, initial_permissions_request, opts)
      data
    end

    # InitialPermissions viewset
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param initial_permissions_request [InitialPermissionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitialPermissions, Integer, Hash)>] InitialPermissions data, response status code and response headers
    def rbac_initial_permissions_update_with_http_info(id, initial_permissions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_initial_permissions_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RbacApi.rbac_initial_permissions_update"
      end
      # verify the required parameter 'initial_permissions_request' is set
      if @api_client.config.client_side_validation && initial_permissions_request.nil?
        fail ArgumentError, "Missing the required parameter 'initial_permissions_request' when calling RbacApi.rbac_initial_permissions_update"
      end
      # resource path
      local_var_path = '/rbac/initial_permissions/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initial_permissions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InitialPermissions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_initial_permissions_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_initial_permissions_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def rbac_initial_permissions_used_by_list(id, opts = {})
      data, _status_code, _headers = rbac_initial_permissions_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Initial Permissions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def rbac_initial_permissions_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_initial_permissions_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RbacApi.rbac_initial_permissions_used_by_list"
      end
      # resource path
      local_var_path = '/rbac/initial_permissions/{id}/used_by/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_initial_permissions_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_initial_permissions_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign permission(s) to role. When `object_pk` is set, the permissions are only assigned to the specific object, otherwise they are assigned globally.
    # @param uuid [String] A UUID string identifying this Role.
    # @param permission_assign_request [PermissionAssignRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<PermissionAssignResult>]
    def rbac_permissions_assigned_by_roles_assign(uuid, permission_assign_request, opts = {})
      data, _status_code, _headers = rbac_permissions_assigned_by_roles_assign_with_http_info(uuid, permission_assign_request, opts)
      data
    end

    # Assign permission(s) to role. When &#x60;object_pk&#x60; is set, the permissions are only assigned to the specific object, otherwise they are assigned globally.
    # @param uuid [String] A UUID string identifying this Role.
    # @param permission_assign_request [PermissionAssignRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PermissionAssignResult>, Integer, Hash)>] Array<PermissionAssignResult> data, response status code and response headers
    def rbac_permissions_assigned_by_roles_assign_with_http_info(uuid, permission_assign_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_permissions_assigned_by_roles_assign ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RbacApi.rbac_permissions_assigned_by_roles_assign"
      end
      # verify the required parameter 'permission_assign_request' is set
      if @api_client.config.client_side_validation && permission_assign_request.nil?
        fail ArgumentError, "Missing the required parameter 'permission_assign_request' when calling RbacApi.rbac_permissions_assigned_by_roles_assign"
      end
      # resource path
      local_var_path = '/rbac/permissions/assigned_by_roles/{uuid}/assign/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(permission_assign_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PermissionAssignResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_permissions_assigned_by_roles_assign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_permissions_assigned_by_roles_assign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get assigned object permissions for a single object
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :object_pk 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedRoleAssignedObjectPermissionList]
    def rbac_permissions_assigned_by_roles_list(model, opts = {})
      data, _status_code, _headers = rbac_permissions_assigned_by_roles_list_with_http_info(model, opts)
      data
    end

    # Get assigned object permissions for a single object
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :object_pk 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedRoleAssignedObjectPermissionList, Integer, Hash)>] PaginatedRoleAssignedObjectPermissionList data, response status code and response headers
    def rbac_permissions_assigned_by_roles_list_with_http_info(model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_permissions_assigned_by_roles_list ...'
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling RbacApi.rbac_permissions_assigned_by_roles_list"
      end
      # resource path
      local_var_path = '/rbac/permissions/assigned_by_roles/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'model'] = model
      query_params[:'object_pk'] = opts[:'object_pk'] if !opts[:'object_pk'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedRoleAssignedObjectPermissionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_permissions_assigned_by_roles_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_permissions_assigned_by_roles_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unassign permission(s) to role. When `object_pk` is set, the permissions are only assigned to the specific object, otherwise they are assigned globally.
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedPermissionAssignRequest] :patched_permission_assign_request 
    # @return [nil]
    def rbac_permissions_assigned_by_roles_unassign_partial_update(uuid, opts = {})
      rbac_permissions_assigned_by_roles_unassign_partial_update_with_http_info(uuid, opts)
      nil
    end

    # Unassign permission(s) to role. When &#x60;object_pk&#x60; is set, the permissions are only assigned to the specific object, otherwise they are assigned globally.
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedPermissionAssignRequest] :patched_permission_assign_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rbac_permissions_assigned_by_roles_unassign_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_permissions_assigned_by_roles_unassign_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RbacApi.rbac_permissions_assigned_by_roles_unassign_partial_update"
      end
      # resource path
      local_var_path = '/rbac/permissions/assigned_by_roles/{uuid}/unassign/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_permission_assign_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_permissions_assigned_by_roles_unassign_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_permissions_assigned_by_roles_unassign_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read-only list of all permissions, filterable by model and app
    # @param [Hash] opts the optional parameters
    # @option opts [String] :codename 
    # @option opts [String] :content_type__app_label 
    # @option opts [String] :content_type__model 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :role 
    # @option opts [String] :search A search term.
    # @return [PaginatedPermissionList]
    def rbac_permissions_list(opts = {})
      data, _status_code, _headers = rbac_permissions_list_with_http_info(opts)
      data
    end

    # Read-only list of all permissions, filterable by model and app
    # @param [Hash] opts the optional parameters
    # @option opts [String] :codename 
    # @option opts [String] :content_type__app_label 
    # @option opts [String] :content_type__model 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :role 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedPermissionList, Integer, Hash)>] PaginatedPermissionList data, response status code and response headers
    def rbac_permissions_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_permissions_list ...'
      end
      # resource path
      local_var_path = '/rbac/permissions/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'codename'] = opts[:'codename'] if !opts[:'codename'].nil?
      query_params[:'content_type__app_label'] = opts[:'content_type__app_label'] if !opts[:'content_type__app_label'].nil?
      query_params[:'content_type__model'] = opts[:'content_type__model'] if !opts[:'content_type__model'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedPermissionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_permissions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_permissions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read-only list of all permissions, filterable by model and app
    # @param id [Integer] A unique integer value identifying this permission.
    # @param [Hash] opts the optional parameters
    # @return [Permission]
    def rbac_permissions_retrieve(id, opts = {})
      data, _status_code, _headers = rbac_permissions_retrieve_with_http_info(id, opts)
      data
    end

    # Read-only list of all permissions, filterable by model and app
    # @param id [Integer] A unique integer value identifying this permission.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Permission, Integer, Hash)>] Permission data, response status code and response headers
    def rbac_permissions_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_permissions_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RbacApi.rbac_permissions_retrieve"
      end
      # resource path
      local_var_path = '/rbac/permissions/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Permission'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_permissions_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_permissions_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a role's assigned object permissions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :uuid 
    # @return [PaginatedExtraRoleObjectPermissionList]
    def rbac_permissions_roles_list(opts = {})
      data, _status_code, _headers = rbac_permissions_roles_list_with_http_info(opts)
      data
    end

    # Get a role&#39;s assigned object permissions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :uuid 
    # @return [Array<(PaginatedExtraRoleObjectPermissionList, Integer, Hash)>] PaginatedExtraRoleObjectPermissionList data, response status code and response headers
    def rbac_permissions_roles_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_permissions_roles_list ...'
      end
      # resource path
      local_var_path = '/rbac/permissions/roles/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'uuid'] = opts[:'uuid'] if !opts[:'uuid'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedExtraRoleObjectPermissionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_permissions_roles_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_permissions_roles_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add user to role
    # @param uuid [String] A UUID string identifying this Role.
    # @param user_account_serializer_for_role_request [UserAccountSerializerForRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def rbac_roles_add_user_create(uuid, user_account_serializer_for_role_request, opts = {})
      rbac_roles_add_user_create_with_http_info(uuid, user_account_serializer_for_role_request, opts)
      nil
    end

    # Add user to role
    # @param uuid [String] A UUID string identifying this Role.
    # @param user_account_serializer_for_role_request [UserAccountSerializerForRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rbac_roles_add_user_create_with_http_info(uuid, user_account_serializer_for_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_roles_add_user_create ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RbacApi.rbac_roles_add_user_create"
      end
      # verify the required parameter 'user_account_serializer_for_role_request' is set
      if @api_client.config.client_side_validation && user_account_serializer_for_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'user_account_serializer_for_role_request' when calling RbacApi.rbac_roles_add_user_create"
      end
      # resource path
      local_var_path = '/rbac/roles/{uuid}/add_user/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_account_serializer_for_role_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_roles_add_user_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_roles_add_user_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Role viewset
    # @param role_request [RoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Role]
    def rbac_roles_create(role_request, opts = {})
      data, _status_code, _headers = rbac_roles_create_with_http_info(role_request, opts)
      data
    end

    # Role viewset
    # @param role_request [RoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Role, Integer, Hash)>] Role data, response status code and response headers
    def rbac_roles_create_with_http_info(role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_roles_create ...'
      end
      # verify the required parameter 'role_request' is set
      if @api_client.config.client_side_validation && role_request.nil?
        fail ArgumentError, "Missing the required parameter 'role_request' when calling RbacApi.rbac_roles_create"
      end
      # resource path
      local_var_path = '/rbac/roles/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Role'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_roles_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_roles_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Role viewset
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def rbac_roles_destroy(uuid, opts = {})
      rbac_roles_destroy_with_http_info(uuid, opts)
      nil
    end

    # Role viewset
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rbac_roles_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_roles_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RbacApi.rbac_roles_destroy"
      end
      # resource path
      local_var_path = '/rbac/roles/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_roles_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_roles_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Role viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :groups 
    # @option opts [Boolean] :inherited Include inherited roles (requires users or groups filter)
    # @option opts [Array<String>] :managed 
    # @option opts [Boolean] :managed__isnull 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Integer] :users 
    # @return [PaginatedRoleList]
    def rbac_roles_list(opts = {})
      data, _status_code, _headers = rbac_roles_list_with_http_info(opts)
      data
    end

    # Role viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :groups 
    # @option opts [Boolean] :inherited Include inherited roles (requires users or groups filter)
    # @option opts [Array<String>] :managed 
    # @option opts [Boolean] :managed__isnull 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [Integer] :users 
    # @return [Array<(PaginatedRoleList, Integer, Hash)>] PaginatedRoleList data, response status code and response headers
    def rbac_roles_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_roles_list ...'
      end
      # resource path
      local_var_path = '/rbac/roles/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'groups'] = opts[:'groups'] if !opts[:'groups'].nil?
      query_params[:'inherited'] = opts[:'inherited'] if !opts[:'inherited'].nil?
      query_params[:'managed'] = @api_client.build_collection_param(opts[:'managed'], :multi) if !opts[:'managed'].nil?
      query_params[:'managed__isnull'] = opts[:'managed__isnull'] if !opts[:'managed__isnull'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'users'] = opts[:'users'] if !opts[:'users'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedRoleList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_roles_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_roles_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Role viewset
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRoleRequest] :patched_role_request 
    # @return [Role]
    def rbac_roles_partial_update(uuid, opts = {})
      data, _status_code, _headers = rbac_roles_partial_update_with_http_info(uuid, opts)
      data
    end

    # Role viewset
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRoleRequest] :patched_role_request 
    # @return [Array<(Role, Integer, Hash)>] Role data, response status code and response headers
    def rbac_roles_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_roles_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RbacApi.rbac_roles_partial_update"
      end
      # resource path
      local_var_path = '/rbac/roles/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_role_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Role'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_roles_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_roles_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove user from role
    # @param uuid [String] A UUID string identifying this Role.
    # @param user_account_serializer_for_role_request [UserAccountSerializerForRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def rbac_roles_remove_user_create(uuid, user_account_serializer_for_role_request, opts = {})
      rbac_roles_remove_user_create_with_http_info(uuid, user_account_serializer_for_role_request, opts)
      nil
    end

    # Remove user from role
    # @param uuid [String] A UUID string identifying this Role.
    # @param user_account_serializer_for_role_request [UserAccountSerializerForRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rbac_roles_remove_user_create_with_http_info(uuid, user_account_serializer_for_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_roles_remove_user_create ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RbacApi.rbac_roles_remove_user_create"
      end
      # verify the required parameter 'user_account_serializer_for_role_request' is set
      if @api_client.config.client_side_validation && user_account_serializer_for_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'user_account_serializer_for_role_request' when calling RbacApi.rbac_roles_remove_user_create"
      end
      # resource path
      local_var_path = '/rbac/roles/{uuid}/remove_user/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_account_serializer_for_role_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_roles_remove_user_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_roles_remove_user_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Role viewset
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @return [Role]
    def rbac_roles_retrieve(uuid, opts = {})
      data, _status_code, _headers = rbac_roles_retrieve_with_http_info(uuid, opts)
      data
    end

    # Role viewset
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Role, Integer, Hash)>] Role data, response status code and response headers
    def rbac_roles_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_roles_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RbacApi.rbac_roles_retrieve"
      end
      # resource path
      local_var_path = '/rbac/roles/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Role'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_roles_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_roles_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Role viewset
    # @param uuid [String] A UUID string identifying this Role.
    # @param role_request [RoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Role]
    def rbac_roles_update(uuid, role_request, opts = {})
      data, _status_code, _headers = rbac_roles_update_with_http_info(uuid, role_request, opts)
      data
    end

    # Role viewset
    # @param uuid [String] A UUID string identifying this Role.
    # @param role_request [RoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Role, Integer, Hash)>] Role data, response status code and response headers
    def rbac_roles_update_with_http_info(uuid, role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_roles_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RbacApi.rbac_roles_update"
      end
      # verify the required parameter 'role_request' is set
      if @api_client.config.client_side_validation && role_request.nil?
        fail ArgumentError, "Missing the required parameter 'role_request' when calling RbacApi.rbac_roles_update"
      end
      # resource path
      local_var_path = '/rbac/roles/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Role'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_roles_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_roles_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def rbac_roles_used_by_list(uuid, opts = {})
      data, _status_code, _headers = rbac_roles_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Role.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def rbac_roles_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RbacApi.rbac_roles_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RbacApi.rbac_roles_used_by_list"
      end
      # resource path
      local_var_path = '/rbac/roles/{uuid}/used_by/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RbacApi.rbac_roles_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RbacApi#rbac_roles_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
