=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class RequestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delegate access an agent's owner already holds to the agent, time-boxed. Unlike `create` this persists the request directly instead of returning a flow link -- an agent authenticates with an API token and has no browser to run a flow in, so no justification is ever collected. That is why the agent may only ask for what its owner already has: the owner's approval is then the whole decision, and no reviewer is asked to judge a request with nothing in it. The returned `fulfill_url` is what the agent hands to its owner so they can act on it.
    # @param agent_grant_request_create_request [AgentGrantRequestCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentGrantRequestCreated]
    def requests_grant_requests_agent_create(agent_grant_request_create_request, opts = {})
      data, _status_code, _headers = requests_grant_requests_agent_create_with_http_info(agent_grant_request_create_request, opts)
      data
    end

    # Delegate access an agent&#39;s owner already holds to the agent, time-boxed. Unlike &#x60;create&#x60; this persists the request directly instead of returning a flow link -- an agent authenticates with an API token and has no browser to run a flow in, so no justification is ever collected. That is why the agent may only ask for what its owner already has: the owner&#39;s approval is then the whole decision, and no reviewer is asked to judge a request with nothing in it. The returned &#x60;fulfill_url&#x60; is what the agent hands to its owner so they can act on it.
    # @param agent_grant_request_create_request [AgentGrantRequestCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentGrantRequestCreated, Integer, Hash)>] AgentGrantRequestCreated data, response status code and response headers
    def requests_grant_requests_agent_create_with_http_info(agent_grant_request_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_grant_requests_agent_create ...'
      end
      # verify the required parameter 'agent_grant_request_create_request' is set
      if @api_client.config.client_side_validation && agent_grant_request_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'agent_grant_request_create_request' when calling RequestsApi.requests_grant_requests_agent_create"
      end
      # resource path
      local_var_path = '/requests/grant-requests/agent/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(agent_grant_request_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentGrantRequestCreated'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_grant_requests_agent_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_grant_requests_agent_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param grant_request_create_request [GrantRequestCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Link]
    def requests_grant_requests_create(grant_request_create_request, opts = {})
      data, _status_code, _headers = requests_grant_requests_create_with_http_info(grant_request_create_request, opts)
      data
    end

    # @param grant_request_create_request [GrantRequestCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Link, Integer, Hash)>] Link data, response status code and response headers
    def requests_grant_requests_create_with_http_info(grant_request_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_grant_requests_create ...'
      end
      # verify the required parameter 'grant_request_create_request' is set
      if @api_client.config.client_side_validation && grant_request_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'grant_request_create_request' when calling RequestsApi.requests_grant_requests_create"
      end
      # resource path
      local_var_path = '/requests/grant-requests/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(grant_request_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Link'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_grant_requests_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_grant_requests_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param uuid [String] A UUID string identifying this Grant Request.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def requests_grant_requests_destroy(uuid, opts = {})
      requests_grant_requests_destroy_with_http_info(uuid, opts)
      nil
    end

    # @param uuid [String] A UUID string identifying this Grant Request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def requests_grant_requests_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_grant_requests_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_grant_requests_destroy"
      end
      # resource path
      local_var_path = '/requests/grant-requests/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_grant_requests_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_grant_requests_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param uuid [String] A UUID string identifying this Grant Request.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGrantRequestFulfillRequest] :patched_grant_request_fulfill_request 
    # @return [nil]
    def requests_grant_requests_fulfill_partial_update(uuid, opts = {})
      requests_grant_requests_fulfill_partial_update_with_http_info(uuid, opts)
      nil
    end

    # @param uuid [String] A UUID string identifying this Grant Request.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGrantRequestFulfillRequest] :patched_grant_request_fulfill_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def requests_grant_requests_fulfill_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_grant_requests_fulfill_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_grant_requests_fulfill_partial_update"
      end
      # resource path
      local_var_path = '/requests/grant-requests/{uuid}/fulfill/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_grant_request_fulfill_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_grant_requests_fulfill_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_grant_requests_fulfill_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :agent_owner 
    # @option opts [Integer] :created_by 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [RequestStatus] :status 
    # @return [PaginatedGrantRequestList]
    def requests_grant_requests_list(opts = {})
      data, _status_code, _headers = requests_grant_requests_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :agent_owner 
    # @option opts [Integer] :created_by 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [RequestStatus] :status 
    # @return [Array<(PaginatedGrantRequestList, Integer, Hash)>] PaginatedGrantRequestList data, response status code and response headers
    def requests_grant_requests_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_grant_requests_list ...'
      end
      # resource path
      local_var_path = '/requests/grant-requests/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'agent_owner'] = opts[:'agent_owner'] if !opts[:'agent_owner'].nil?
      query_params[:'created_by'] = opts[:'created_by'] if !opts[:'created_by'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGrantRequestList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_grant_requests_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_grant_requests_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pending grant requests the current user is eligible to review.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :agent_owner 
    # @option opts [Integer] :created_by 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [RequestStatus] :status 
    # @return [PaginatedGrantRequestList]
    def requests_grant_requests_pending_review_list(opts = {})
      data, _status_code, _headers = requests_grant_requests_pending_review_list_with_http_info(opts)
      data
    end

    # List pending grant requests the current user is eligible to review.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :agent_owner 
    # @option opts [Integer] :created_by 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [RequestStatus] :status 
    # @return [Array<(PaginatedGrantRequestList, Integer, Hash)>] PaginatedGrantRequestList data, response status code and response headers
    def requests_grant_requests_pending_review_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_grant_requests_pending_review_list ...'
      end
      # resource path
      local_var_path = '/requests/grant-requests/pending_review/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'agent_owner'] = opts[:'agent_owner'] if !opts[:'agent_owner'].nil?
      query_params[:'created_by'] = opts[:'created_by'] if !opts[:'created_by'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGrantRequestList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_grant_requests_pending_review_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_grant_requests_pending_review_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param uuid [String] A UUID string identifying this Grant Request.
    # @param [Hash] opts the optional parameters
    # @return [GrantRequest]
    def requests_grant_requests_retrieve(uuid, opts = {})
      data, _status_code, _headers = requests_grant_requests_retrieve_with_http_info(uuid, opts)
      data
    end

    # @param uuid [String] A UUID string identifying this Grant Request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrantRequest, Integer, Hash)>] GrantRequest data, response status code and response headers
    def requests_grant_requests_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_grant_requests_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_grant_requests_retrieve"
      end
      # resource path
      local_var_path = '/requests/grant-requests/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrantRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_grant_requests_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_grant_requests_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Immediately end an active grant. Available to the same reviewers who could approve it in the first place.
    # @param uuid [String] A UUID string identifying this Grant Request.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def requests_grant_requests_revoke_destroy(uuid, opts = {})
      requests_grant_requests_revoke_destroy_with_http_info(uuid, opts)
      nil
    end

    # Immediately end an active grant. Available to the same reviewers who could approve it in the first place.
    # @param uuid [String] A UUID string identifying this Grant Request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def requests_grant_requests_revoke_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_grant_requests_revoke_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_grant_requests_revoke_destroy"
      end
      # resource path
      local_var_path = '/requests/grant-requests/{uuid}/revoke/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_grant_requests_revoke_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_grant_requests_revoke_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param request_rule_binding_request [RequestRuleBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RequestRuleBinding]
    def requests_rule_bindings_create(request_rule_binding_request, opts = {})
      data, _status_code, _headers = requests_rule_bindings_create_with_http_info(request_rule_binding_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param request_rule_binding_request [RequestRuleBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRuleBinding, Integer, Hash)>] RequestRuleBinding data, response status code and response headers
    def requests_rule_bindings_create_with_http_info(request_rule_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_bindings_create ...'
      end
      # verify the required parameter 'request_rule_binding_request' is set
      if @api_client.config.client_side_validation && request_rule_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_rule_binding_request' when calling RequestsApi.requests_rule_bindings_create"
      end
      # resource path
      local_var_path = '/requests/rule-bindings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_rule_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRuleBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_bindings_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_bindings_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def requests_rule_bindings_destroy(uuid, opts = {})
      requests_rule_bindings_destroy_with_http_info(uuid, opts)
      nil
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def requests_rule_bindings_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_bindings_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_bindings_destroy"
      end
      # resource path
      local_var_path = '/requests/rule-bindings/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_bindings_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_bindings_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :rule 
    # @option opts [String] :search A search term.
    # @option opts [String] :target 
    # @return [PaginatedRequestRuleBindingList]
    def requests_rule_bindings_list(opts = {})
      data, _status_code, _headers = requests_rule_bindings_list_with_http_info(opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :rule 
    # @option opts [String] :search A search term.
    # @option opts [String] :target 
    # @return [Array<(PaginatedRequestRuleBindingList, Integer, Hash)>] PaginatedRequestRuleBindingList data, response status code and response headers
    def requests_rule_bindings_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_bindings_list ...'
      end
      # resource path
      local_var_path = '/requests/rule-bindings/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'rule'] = opts[:'rule'] if !opts[:'rule'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'target'] = opts[:'target'] if !opts[:'target'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedRequestRuleBindingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_bindings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_bindings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRequestRuleBindingRequest] :patched_request_rule_binding_request 
    # @return [RequestRuleBinding]
    def requests_rule_bindings_partial_update(uuid, opts = {})
      data, _status_code, _headers = requests_rule_bindings_partial_update_with_http_info(uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRequestRuleBindingRequest] :patched_request_rule_binding_request 
    # @return [Array<(RequestRuleBinding, Integer, Hash)>] RequestRuleBinding data, response status code and response headers
    def requests_rule_bindings_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_bindings_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_bindings_partial_update"
      end
      # resource path
      local_var_path = '/requests/rule-bindings/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_request_rule_binding_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRuleBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_bindings_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_bindings_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param [Hash] opts the optional parameters
    # @return [RequestRuleBinding]
    def requests_rule_bindings_retrieve(uuid, opts = {})
      data, _status_code, _headers = requests_rule_bindings_retrieve_with_http_info(uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRuleBinding, Integer, Hash)>] RequestRuleBinding data, response status code and response headers
    def requests_rule_bindings_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_bindings_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_bindings_retrieve"
      end
      # resource path
      local_var_path = '/requests/rule-bindings/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRuleBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_bindings_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_bindings_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param request_rule_binding_request [RequestRuleBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RequestRuleBinding]
    def requests_rule_bindings_update(uuid, request_rule_binding_request, opts = {})
      data, _status_code, _headers = requests_rule_bindings_update_with_http_info(uuid, request_rule_binding_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param request_rule_binding_request [RequestRuleBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRuleBinding, Integer, Hash)>] RequestRuleBinding data, response status code and response headers
    def requests_rule_bindings_update_with_http_info(uuid, request_rule_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_bindings_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_bindings_update"
      end
      # verify the required parameter 'request_rule_binding_request' is set
      if @api_client.config.client_side_validation && request_rule_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_rule_binding_request' when calling RequestsApi.requests_rule_bindings_update"
      end
      # resource path
      local_var_path = '/requests/rule-bindings/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_rule_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRuleBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_bindings_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_bindings_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def requests_rule_bindings_used_by_list(uuid, opts = {})
      data, _status_code, _headers = requests_rule_bindings_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Request Rule Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def requests_rule_bindings_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_bindings_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_bindings_used_by_list"
      end
      # resource path
      local_var_path = '/requests/rule-bindings/{uuid}/used_by/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_bindings_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_bindings_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param request_rule_child_binding_request [RequestRuleChildBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RequestRuleChildBinding]
    def requests_rule_child_bindings_create(request_rule_child_binding_request, opts = {})
      data, _status_code, _headers = requests_rule_child_bindings_create_with_http_info(request_rule_child_binding_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param request_rule_child_binding_request [RequestRuleChildBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRuleChildBinding, Integer, Hash)>] RequestRuleChildBinding data, response status code and response headers
    def requests_rule_child_bindings_create_with_http_info(request_rule_child_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_child_bindings_create ...'
      end
      # verify the required parameter 'request_rule_child_binding_request' is set
      if @api_client.config.client_side_validation && request_rule_child_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_rule_child_binding_request' when calling RequestsApi.requests_rule_child_bindings_create"
      end
      # resource path
      local_var_path = '/requests/rule-child-bindings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_rule_child_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRuleChildBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_child_bindings_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_child_bindings_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def requests_rule_child_bindings_destroy(uuid, opts = {})
      requests_rule_child_bindings_destroy_with_http_info(uuid, opts)
      nil
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def requests_rule_child_bindings_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_child_bindings_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_child_bindings_destroy"
      end
      # resource path
      local_var_path = '/requests/rule-child-bindings/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_child_bindings_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_child_bindings_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :binding 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :target 
    # @return [PaginatedRequestRuleChildBindingList]
    def requests_rule_child_bindings_list(opts = {})
      data, _status_code, _headers = requests_rule_child_bindings_list_with_http_info(opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :binding 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :target 
    # @return [Array<(PaginatedRequestRuleChildBindingList, Integer, Hash)>] PaginatedRequestRuleChildBindingList data, response status code and response headers
    def requests_rule_child_bindings_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_child_bindings_list ...'
      end
      # resource path
      local_var_path = '/requests/rule-child-bindings/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'binding'] = opts[:'binding'] if !opts[:'binding'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'target'] = opts[:'target'] if !opts[:'target'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedRequestRuleChildBindingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_child_bindings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_child_bindings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRequestRuleChildBindingRequest] :patched_request_rule_child_binding_request 
    # @return [RequestRuleChildBinding]
    def requests_rule_child_bindings_partial_update(uuid, opts = {})
      data, _status_code, _headers = requests_rule_child_bindings_partial_update_with_http_info(uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRequestRuleChildBindingRequest] :patched_request_rule_child_binding_request 
    # @return [Array<(RequestRuleChildBinding, Integer, Hash)>] RequestRuleChildBinding data, response status code and response headers
    def requests_rule_child_bindings_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_child_bindings_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_child_bindings_partial_update"
      end
      # resource path
      local_var_path = '/requests/rule-child-bindings/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_request_rule_child_binding_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRuleChildBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_child_bindings_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_child_bindings_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param [Hash] opts the optional parameters
    # @return [RequestRuleChildBinding]
    def requests_rule_child_bindings_retrieve(uuid, opts = {})
      data, _status_code, _headers = requests_rule_child_bindings_retrieve_with_http_info(uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRuleChildBinding, Integer, Hash)>] RequestRuleChildBinding data, response status code and response headers
    def requests_rule_child_bindings_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_child_bindings_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_child_bindings_retrieve"
      end
      # resource path
      local_var_path = '/requests/rule-child-bindings/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRuleChildBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_child_bindings_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_child_bindings_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param request_rule_child_binding_request [RequestRuleChildBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RequestRuleChildBinding]
    def requests_rule_child_bindings_update(uuid, request_rule_child_binding_request, opts = {})
      data, _status_code, _headers = requests_rule_child_bindings_update_with_http_info(uuid, request_rule_child_binding_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param request_rule_child_binding_request [RequestRuleChildBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRuleChildBinding, Integer, Hash)>] RequestRuleChildBinding data, response status code and response headers
    def requests_rule_child_bindings_update_with_http_info(uuid, request_rule_child_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_child_bindings_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_child_bindings_update"
      end
      # verify the required parameter 'request_rule_child_binding_request' is set
      if @api_client.config.client_side_validation && request_rule_child_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_rule_child_binding_request' when calling RequestsApi.requests_rule_child_bindings_update"
      end
      # resource path
      local_var_path = '/requests/rule-child-bindings/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_rule_child_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRuleChildBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_child_bindings_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_child_bindings_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def requests_rule_child_bindings_used_by_list(uuid, opts = {})
      data, _status_code, _headers = requests_rule_child_bindings_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Request Rule Child Binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def requests_rule_child_bindings_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rule_child_bindings_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rule_child_bindings_used_by_list"
      end
      # resource path
      local_var_path = '/requests/rule-child-bindings/{uuid}/used_by/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rule_child_bindings_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rule_child_bindings_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param request_rule_request [RequestRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RequestRule]
    def requests_rules_create(request_rule_request, opts = {})
      data, _status_code, _headers = requests_rules_create_with_http_info(request_rule_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param request_rule_request [RequestRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRule, Integer, Hash)>] RequestRule data, response status code and response headers
    def requests_rules_create_with_http_info(request_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rules_create ...'
      end
      # verify the required parameter 'request_rule_request' is set
      if @api_client.config.client_side_validation && request_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_rule_request' when calling RequestsApi.requests_rules_create"
      end
      # resource path
      local_var_path = '/requests/rules/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rules_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rules_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def requests_rules_destroy(uuid, opts = {})
      requests_rules_destroy_with_http_info(uuid, opts)
      nil
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def requests_rules_destroy_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rules_destroy ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rules_destroy"
      end
      # resource path
      local_var_path = '/requests/rules/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rules_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rules_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [String] :request_flow__slug 
    # @option opts [String] :search A search term.
    # @return [PaginatedRequestRuleList]
    def requests_rules_list(opts = {})
      data, _status_code, _headers = requests_rules_list_with_http_info(opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [String] :request_flow__slug 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedRequestRuleList, Integer, Hash)>] PaginatedRequestRuleList data, response status code and response headers
    def requests_rules_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rules_list ...'
      end
      # resource path
      local_var_path = '/requests/rules/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pbm_uuid'] = opts[:'pbm_uuid'] if !opts[:'pbm_uuid'].nil?
      query_params[:'request_flow__slug'] = opts[:'request_flow__slug'] if !opts[:'request_flow__slug'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedRequestRuleList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rules_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rules_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRequestRuleRequest] :patched_request_rule_request 
    # @return [RequestRule]
    def requests_rules_partial_update(uuid, opts = {})
      data, _status_code, _headers = requests_rules_partial_update_with_http_info(uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedRequestRuleRequest] :patched_request_rule_request 
    # @return [Array<(RequestRule, Integer, Hash)>] RequestRule data, response status code and response headers
    def requests_rules_partial_update_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rules_partial_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rules_partial_update"
      end
      # resource path
      local_var_path = '/requests/rules/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_request_rule_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rules_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rules_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param [Hash] opts the optional parameters
    # @return [RequestRule]
    def requests_rules_retrieve(uuid, opts = {})
      data, _status_code, _headers = requests_rules_retrieve_with_http_info(uuid, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRule, Integer, Hash)>] RequestRule data, response status code and response headers
    def requests_rules_retrieve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rules_retrieve ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rules_retrieve"
      end
      # resource path
      local_var_path = '/requests/rules/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rules_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rules_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param request_rule_request [RequestRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RequestRule]
    def requests_rules_update(uuid, request_rule_request, opts = {})
      data, _status_code, _headers = requests_rules_update_with_http_info(uuid, request_rule_request, opts)
      data
    end

    # Mixin to add a used_by endpoint to return a list of all objects using this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param request_rule_request [RequestRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRule, Integer, Hash)>] RequestRule data, response status code and response headers
    def requests_rules_update_with_http_info(uuid, request_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rules_update ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rules_update"
      end
      # verify the required parameter 'request_rule_request' is set
      if @api_client.config.client_side_validation && request_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_rule_request' when calling RequestsApi.requests_rules_update"
      end
      # resource path
      local_var_path = '/requests/rules/{uuid}/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rules_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rules_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def requests_rules_used_by_list(uuid, opts = {})
      data, _status_code, _headers = requests_rules_used_by_list_with_http_info(uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param uuid [String] A UUID string identifying this Request Rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def requests_rules_used_by_list_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequestsApi.requests_rules_used_by_list ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling RequestsApi.requests_rules_used_by_list"
      end
      # resource path
      local_var_path = '/requests/rules/{uuid}/used_by/'.sub('{uuid}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"RequestsApi.requests_rules_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequestsApi#requests_rules_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
