=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class SourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Prevent deletion of built-in sources
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def sources_all_destroy(slug, opts = {})
      sources_all_destroy_with_http_info(slug, opts)
      nil
    end

    # Prevent deletion of built-in sources
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def sources_all_destroy_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_all_destroy ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling SourcesApi.sources_all_destroy"
      end
      # resource path
      local_var_path = '/sources/all/{slug}/'.sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_all_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_all_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Source Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [String] :search A search term.
    # @option opts [String] :slug 
    # @return [PaginatedSourceList]
    def sources_all_list(opts = {})
      data, _status_code, _headers = sources_all_list_with_http_info(opts)
      data
    end

    # Source Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :managed 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :pbm_uuid 
    # @option opts [String] :search A search term.
    # @option opts [String] :slug 
    # @return [Array<(PaginatedSourceList, Integer, Hash)>] PaginatedSourceList data, response status code and response headers
    def sources_all_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_all_list ...'
      end
      # resource path
      local_var_path = '/sources/all/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'managed'] = opts[:'managed'] if !opts[:'managed'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pbm_uuid'] = opts[:'pbm_uuid'] if !opts[:'pbm_uuid'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'slug'] = opts[:'slug'] if !opts[:'slug'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedSourceList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_all_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_all_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Source Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Source]
    def sources_all_retrieve(slug, opts = {})
      data, _status_code, _headers = sources_all_retrieve_with_http_info(slug, opts)
      data
    end

    # Source Viewset
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Source, Integer, Hash)>] Source data, response status code and response headers
    def sources_all_retrieve_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_all_retrieve ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling SourcesApi.sources_all_retrieve"
      end
      # resource path
      local_var_path = '/sources/all/{slug}/'.sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Source'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_all_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_all_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<TypeCreate>]
    def sources_all_types_list(opts = {})
      data, _status_code, _headers = sources_all_types_list_with_http_info(opts)
      data
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TypeCreate>, Integer, Hash)>] Array<TypeCreate> data, response status code and response headers
    def sources_all_types_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_all_types_list ...'
      end
      # resource path
      local_var_path = '/sources/all/types/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TypeCreate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_all_types_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_all_types_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def sources_all_used_by_list(slug, opts = {})
      data, _status_code, _headers = sources_all_used_by_list_with_http_info(slug, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def sources_all_used_by_list_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_all_used_by_list ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling SourcesApi.sources_all_used_by_list"
      end
      # resource path
      local_var_path = '/sources/all/{slug}/used_by/'.sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_all_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_all_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all sources the user can configure
    # @param [Hash] opts the optional parameters
    # @return [Array<UserSetting>]
    def sources_all_user_settings_list(opts = {})
      data, _status_code, _headers = sources_all_user_settings_list_with_http_info(opts)
      data
    end

    # Get all sources the user can configure
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UserSetting>, Integer, Hash)>] Array<UserSetting> data, response status code and response headers
    def sources_all_user_settings_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_all_user_settings_list ...'
      end
      # resource path
      local_var_path = '/sources/all/user_settings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UserSetting>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_all_user_settings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_all_user_settings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def sources_group_connections_all_destroy(id, opts = {})
      sources_group_connections_all_destroy_with_http_info(id, opts)
      nil
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def sources_group_connections_all_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_all_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_all_destroy"
      end
      # resource path
      local_var_path = '/sources/group_connections/all/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_all_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_all_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :source__slug 
    # @return [PaginatedGroupSourceConnectionList]
    def sources_group_connections_all_list(opts = {})
      data, _status_code, _headers = sources_group_connections_all_list_with_http_info(opts)
      data
    end

    # Group-source connection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :source__slug 
    # @return [Array<(PaginatedGroupSourceConnectionList, Integer, Hash)>] PaginatedGroupSourceConnectionList data, response status code and response headers
    def sources_group_connections_all_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_all_list ...'
      end
      # resource path
      local_var_path = '/sources/group_connections/all/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'source__slug'] = opts[:'source__slug'] if !opts[:'source__slug'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGroupSourceConnectionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_all_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_all_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupSourceConnectionRequest] :patched_group_source_connection_request 
    # @return [GroupSourceConnection]
    def sources_group_connections_all_partial_update(id, opts = {})
      data, _status_code, _headers = sources_group_connections_all_partial_update_with_http_info(id, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupSourceConnectionRequest] :patched_group_source_connection_request 
    # @return [Array<(GroupSourceConnection, Integer, Hash)>] GroupSourceConnection data, response status code and response headers
    def sources_group_connections_all_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_all_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_all_partial_update"
      end
      # resource path
      local_var_path = '/sources/group_connections/all/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_group_source_connection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GroupSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_all_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_all_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param [Hash] opts the optional parameters
    # @return [GroupSourceConnection]
    def sources_group_connections_all_retrieve(id, opts = {})
      data, _status_code, _headers = sources_group_connections_all_retrieve_with_http_info(id, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupSourceConnection, Integer, Hash)>] GroupSourceConnection data, response status code and response headers
    def sources_group_connections_all_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_all_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_all_retrieve"
      end
      # resource path
      local_var_path = '/sources/group_connections/all/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_all_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_all_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param group_source_connection_request [GroupSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupSourceConnection]
    def sources_group_connections_all_update(id, group_source_connection_request, opts = {})
      data, _status_code, _headers = sources_group_connections_all_update_with_http_info(id, group_source_connection_request, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param group_source_connection_request [GroupSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupSourceConnection, Integer, Hash)>] GroupSourceConnection data, response status code and response headers
    def sources_group_connections_all_update_with_http_info(id, group_source_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_all_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_all_update"
      end
      # verify the required parameter 'group_source_connection_request' is set
      if @api_client.config.client_side_validation && group_source_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_source_connection_request' when calling SourcesApi.sources_group_connections_all_update"
      end
      # resource path
      local_var_path = '/sources/group_connections/all/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_source_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_all_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_all_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def sources_group_connections_all_used_by_list(id, opts = {})
      data, _status_code, _headers = sources_group_connections_all_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this group source connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def sources_group_connections_all_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_all_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_all_used_by_list"
      end
      # resource path
      local_var_path = '/sources/group_connections/all/{id}/used_by/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_all_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_all_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param group_kerberos_source_connection_request [GroupKerberosSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupKerberosSourceConnection]
    def sources_group_connections_kerberos_create(group_kerberos_source_connection_request, opts = {})
      data, _status_code, _headers = sources_group_connections_kerberos_create_with_http_info(group_kerberos_source_connection_request, opts)
      data
    end

    # Group-source connection Viewset
    # @param group_kerberos_source_connection_request [GroupKerberosSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupKerberosSourceConnection, Integer, Hash)>] GroupKerberosSourceConnection data, response status code and response headers
    def sources_group_connections_kerberos_create_with_http_info(group_kerberos_source_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_kerberos_create ...'
      end
      # verify the required parameter 'group_kerberos_source_connection_request' is set
      if @api_client.config.client_side_validation && group_kerberos_source_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_kerberos_source_connection_request' when calling SourcesApi.sources_group_connections_kerberos_create"
      end
      # resource path
      local_var_path = '/sources/group_connections/kerberos/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_kerberos_source_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupKerberosSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_kerberos_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_kerberos_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def sources_group_connections_kerberos_destroy(id, opts = {})
      sources_group_connections_kerberos_destroy_with_http_info(id, opts)
      nil
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def sources_group_connections_kerberos_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_kerberos_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_kerberos_destroy"
      end
      # resource path
      local_var_path = '/sources/group_connections/kerberos/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_kerberos_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_kerberos_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :source__slug 
    # @return [PaginatedGroupKerberosSourceConnectionList]
    def sources_group_connections_kerberos_list(opts = {})
      data, _status_code, _headers = sources_group_connections_kerberos_list_with_http_info(opts)
      data
    end

    # Group-source connection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :source__slug 
    # @return [Array<(PaginatedGroupKerberosSourceConnectionList, Integer, Hash)>] PaginatedGroupKerberosSourceConnectionList data, response status code and response headers
    def sources_group_connections_kerberos_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_kerberos_list ...'
      end
      # resource path
      local_var_path = '/sources/group_connections/kerberos/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'source__slug'] = opts[:'source__slug'] if !opts[:'source__slug'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGroupKerberosSourceConnectionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_kerberos_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_kerberos_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupKerberosSourceConnectionRequest] :patched_group_kerberos_source_connection_request 
    # @return [GroupKerberosSourceConnection]
    def sources_group_connections_kerberos_partial_update(id, opts = {})
      data, _status_code, _headers = sources_group_connections_kerberos_partial_update_with_http_info(id, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupKerberosSourceConnectionRequest] :patched_group_kerberos_source_connection_request 
    # @return [Array<(GroupKerberosSourceConnection, Integer, Hash)>] GroupKerberosSourceConnection data, response status code and response headers
    def sources_group_connections_kerberos_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_kerberos_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_kerberos_partial_update"
      end
      # resource path
      local_var_path = '/sources/group_connections/kerberos/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_group_kerberos_source_connection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GroupKerberosSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_kerberos_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_kerberos_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [GroupKerberosSourceConnection]
    def sources_group_connections_kerberos_retrieve(id, opts = {})
      data, _status_code, _headers = sources_group_connections_kerberos_retrieve_with_http_info(id, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupKerberosSourceConnection, Integer, Hash)>] GroupKerberosSourceConnection data, response status code and response headers
    def sources_group_connections_kerberos_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_kerberos_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_kerberos_retrieve"
      end
      # resource path
      local_var_path = '/sources/group_connections/kerberos/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupKerberosSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_kerberos_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_kerberos_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param group_kerberos_source_connection_request [GroupKerberosSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupKerberosSourceConnection]
    def sources_group_connections_kerberos_update(id, group_kerberos_source_connection_request, opts = {})
      data, _status_code, _headers = sources_group_connections_kerberos_update_with_http_info(id, group_kerberos_source_connection_request, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param group_kerberos_source_connection_request [GroupKerberosSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupKerberosSourceConnection, Integer, Hash)>] GroupKerberosSourceConnection data, response status code and response headers
    def sources_group_connections_kerberos_update_with_http_info(id, group_kerberos_source_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_kerberos_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_kerberos_update"
      end
      # verify the required parameter 'group_kerberos_source_connection_request' is set
      if @api_client.config.client_side_validation && group_kerberos_source_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_kerberos_source_connection_request' when calling SourcesApi.sources_group_connections_kerberos_update"
      end
      # resource path
      local_var_path = '/sources/group_connections/kerberos/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_kerberos_source_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupKerberosSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_kerberos_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_kerberos_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def sources_group_connections_kerberos_used_by_list(id, opts = {})
      data, _status_code, _headers = sources_group_connections_kerberos_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Group Kerberos Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def sources_group_connections_kerberos_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_kerberos_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_kerberos_used_by_list"
      end
      # resource path
      local_var_path = '/sources/group_connections/kerberos/{id}/used_by/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_kerberos_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_kerberos_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param group_ldap_source_connection_request [GroupLDAPSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupLDAPSourceConnection]
    def sources_group_connections_ldap_create(group_ldap_source_connection_request, opts = {})
      data, _status_code, _headers = sources_group_connections_ldap_create_with_http_info(group_ldap_source_connection_request, opts)
      data
    end

    # Group-source connection Viewset
    # @param group_ldap_source_connection_request [GroupLDAPSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupLDAPSourceConnection, Integer, Hash)>] GroupLDAPSourceConnection data, response status code and response headers
    def sources_group_connections_ldap_create_with_http_info(group_ldap_source_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_ldap_create ...'
      end
      # verify the required parameter 'group_ldap_source_connection_request' is set
      if @api_client.config.client_side_validation && group_ldap_source_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_ldap_source_connection_request' when calling SourcesApi.sources_group_connections_ldap_create"
      end
      # resource path
      local_var_path = '/sources/group_connections/ldap/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_ldap_source_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupLDAPSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_ldap_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_ldap_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def sources_group_connections_ldap_destroy(id, opts = {})
      sources_group_connections_ldap_destroy_with_http_info(id, opts)
      nil
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def sources_group_connections_ldap_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_ldap_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_ldap_destroy"
      end
      # resource path
      local_var_path = '/sources/group_connections/ldap/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_ldap_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_ldap_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :source__slug 
    # @return [PaginatedGroupLDAPSourceConnectionList]
    def sources_group_connections_ldap_list(opts = {})
      data, _status_code, _headers = sources_group_connections_ldap_list_with_http_info(opts)
      data
    end

    # Group-source connection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :source__slug 
    # @return [Array<(PaginatedGroupLDAPSourceConnectionList, Integer, Hash)>] PaginatedGroupLDAPSourceConnectionList data, response status code and response headers
    def sources_group_connections_ldap_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_ldap_list ...'
      end
      # resource path
      local_var_path = '/sources/group_connections/ldap/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'source__slug'] = opts[:'source__slug'] if !opts[:'source__slug'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGroupLDAPSourceConnectionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_ldap_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_ldap_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupLDAPSourceConnectionRequest] :patched_group_ldap_source_connection_request 
    # @return [GroupLDAPSourceConnection]
    def sources_group_connections_ldap_partial_update(id, opts = {})
      data, _status_code, _headers = sources_group_connections_ldap_partial_update_with_http_info(id, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupLDAPSourceConnectionRequest] :patched_group_ldap_source_connection_request 
    # @return [Array<(GroupLDAPSourceConnection, Integer, Hash)>] GroupLDAPSourceConnection data, response status code and response headers
    def sources_group_connections_ldap_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_ldap_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_ldap_partial_update"
      end
      # resource path
      local_var_path = '/sources/group_connections/ldap/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_group_ldap_source_connection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GroupLDAPSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_ldap_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_ldap_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [GroupLDAPSourceConnection]
    def sources_group_connections_ldap_retrieve(id, opts = {})
      data, _status_code, _headers = sources_group_connections_ldap_retrieve_with_http_info(id, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupLDAPSourceConnection, Integer, Hash)>] GroupLDAPSourceConnection data, response status code and response headers
    def sources_group_connections_ldap_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_ldap_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_ldap_retrieve"
      end
      # resource path
      local_var_path = '/sources/group_connections/ldap/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupLDAPSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_ldap_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_ldap_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param group_ldap_source_connection_request [GroupLDAPSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupLDAPSourceConnection]
    def sources_group_connections_ldap_update(id, group_ldap_source_connection_request, opts = {})
      data, _status_code, _headers = sources_group_connections_ldap_update_with_http_info(id, group_ldap_source_connection_request, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param group_ldap_source_connection_request [GroupLDAPSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupLDAPSourceConnection, Integer, Hash)>] GroupLDAPSourceConnection data, response status code and response headers
    def sources_group_connections_ldap_update_with_http_info(id, group_ldap_source_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_ldap_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_ldap_update"
      end
      # verify the required parameter 'group_ldap_source_connection_request' is set
      if @api_client.config.client_side_validation && group_ldap_source_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_ldap_source_connection_request' when calling SourcesApi.sources_group_connections_ldap_update"
      end
      # resource path
      local_var_path = '/sources/group_connections/ldap/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_ldap_source_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupLDAPSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_ldap_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_ldap_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def sources_group_connections_ldap_used_by_list(id, opts = {})
      data, _status_code, _headers = sources_group_connections_ldap_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Group LDAP Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def sources_group_connections_ldap_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_ldap_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_ldap_used_by_list"
      end
      # resource path
      local_var_path = '/sources/group_connections/ldap/{id}/used_by/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_ldap_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_ldap_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param group_o_auth_source_connection_request [GroupOAuthSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupOAuthSourceConnection]
    def sources_group_connections_oauth_create(group_o_auth_source_connection_request, opts = {})
      data, _status_code, _headers = sources_group_connections_oauth_create_with_http_info(group_o_auth_source_connection_request, opts)
      data
    end

    # Group-source connection Viewset
    # @param group_o_auth_source_connection_request [GroupOAuthSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupOAuthSourceConnection, Integer, Hash)>] GroupOAuthSourceConnection data, response status code and response headers
    def sources_group_connections_oauth_create_with_http_info(group_o_auth_source_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_oauth_create ...'
      end
      # verify the required parameter 'group_o_auth_source_connection_request' is set
      if @api_client.config.client_side_validation && group_o_auth_source_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_o_auth_source_connection_request' when calling SourcesApi.sources_group_connections_oauth_create"
      end
      # resource path
      local_var_path = '/sources/group_connections/oauth/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_o_auth_source_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupOAuthSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_oauth_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_oauth_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def sources_group_connections_oauth_destroy(id, opts = {})
      sources_group_connections_oauth_destroy_with_http_info(id, opts)
      nil
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def sources_group_connections_oauth_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_oauth_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_oauth_destroy"
      end
      # resource path
      local_var_path = '/sources/group_connections/oauth/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_oauth_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_oauth_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :source__slug 
    # @return [PaginatedGroupOAuthSourceConnectionList]
    def sources_group_connections_oauth_list(opts = {})
      data, _status_code, _headers = sources_group_connections_oauth_list_with_http_info(opts)
      data
    end

    # Group-source connection Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @option opts [String] :source__slug 
    # @return [Array<(PaginatedGroupOAuthSourceConnectionList, Integer, Hash)>] PaginatedGroupOAuthSourceConnectionList data, response status code and response headers
    def sources_group_connections_oauth_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_oauth_list ...'
      end
      # resource path
      local_var_path = '/sources/group_connections/oauth/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'source__slug'] = opts[:'source__slug'] if !opts[:'source__slug'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedGroupOAuthSourceConnectionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_oauth_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_oauth_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupOAuthSourceConnectionRequest] :patched_group_o_auth_source_connection_request 
    # @return [GroupOAuthSourceConnection]
    def sources_group_connections_oauth_partial_update(id, opts = {})
      data, _status_code, _headers = sources_group_connections_oauth_partial_update_with_http_info(id, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedGroupOAuthSourceConnectionRequest] :patched_group_o_auth_source_connection_request 
    # @return [Array<(GroupOAuthSourceConnection, Integer, Hash)>] GroupOAuthSourceConnection data, response status code and response headers
    def sources_group_connections_oauth_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_oauth_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_oauth_partial_update"
      end
      # resource path
      local_var_path = '/sources/group_connections/oauth/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_group_o_auth_source_connection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GroupOAuthSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_oauth_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_oauth_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [GroupOAuthSourceConnection]
    def sources_group_connections_oauth_retrieve(id, opts = {})
      data, _status_code, _headers = sources_group_connections_oauth_retrieve_with_http_info(id, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupOAuthSourceConnection, Integer, Hash)>] GroupOAuthSourceConnection data, response status code and response headers
    def sources_group_connections_oauth_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_oauth_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_oauth_retrieve"
      end
      # resource path
      local_var_path = '/sources/group_connections/oauth/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupOAuthSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_oauth_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_oauth_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param group_o_auth_source_connection_request [GroupOAuthSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupOAuthSourceConnection]
    def sources_group_connections_oauth_update(id, group_o_auth_source_connection_request, opts = {})
      data, _status_code, _headers = sources_group_connections_oauth_update_with_http_info(id, group_o_auth_source_connection_request, opts)
      data
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param group_o_auth_source_connection_request [GroupOAuthSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupOAuthSourceConnection, Integer, Hash)>] GroupOAuthSourceConnection data, response status code and response headers
    def sources_group_connections_oauth_update_with_http_info(id, group_o_auth_source_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_oauth_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_oauth_update"
      end
      # verify the required parameter 'group_o_auth_source_connection_request' is set
      if @api_client.config.client_side_validation && group_o_auth_source_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_o_auth_source_connection_request' when calling SourcesApi.sources_group_connections_oauth_update"
      end
      # resource path
      local_var_path = '/sources/group_connections/oauth/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_o_auth_source_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupOAuthSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_oauth_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_oauth_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def sources_group_connections_oauth_used_by_list(id, opts = {})
      data, _status_code, _headers = sources_group_connections_oauth_used_by_list_with_http_info(id, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param id [Integer] A unique integer value identifying this Group OAuth Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def sources_group_connections_oauth_used_by_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_oauth_used_by_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SourcesApi.sources_group_connections_oauth_used_by_list"
      end
      # resource path
      local_var_path = '/sources/group_connections/oauth/{id}/used_by/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_oauth_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_oauth_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param group_plex_source_connection_request [GroupPlexSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupPlexSourceConnection]
    def sources_group_connections_plex_create(group_plex_source_connection_request, opts = {})
      data, _status_code, _headers = sources_group_connections_plex_create_with_http_info(group_plex_source_connection_request, opts)
      data
    end

    # Group-source connection Viewset
    # @param group_plex_source_connection_request [GroupPlexSourceConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupPlexSourceConnection, Integer, Hash)>] GroupPlexSourceConnection data, response status code and response headers
    def sources_group_connections_plex_create_with_http_info(group_plex_source_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.sources_group_connections_plex_create ...'
      end
      # verify the required parameter 'group_plex_source_connection_request' is set
      if @api_client.config.client_side_validation && group_plex_source_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_plex_source_connection_request' when calling SourcesApi.sources_group_connections_plex_create"
      end
      # resource path
      local_var_path = '/sources/group_connections/plex/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_plex_source_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupPlexSourceConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"SourcesApi.sources_group_connections_plex_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#sources_group_connections_plex_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Group-source connection Viewset
    # @param id [Integer] A unique integer value identifying this Group Plex Source Connection.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def sources_group_connections_plex_destroy(id, opts = {})
      sources_group_connections_plex_destroy_with_http_info(id, opts)
      nil
    end

    # Group-source connection Viewset
[...]
