=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class StagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Stage Viewset
    # @param stage_uuid [String] A UUID string identifying this stage.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def stages_all_destroy(stage_uuid, opts = {})
      stages_all_destroy_with_http_info(stage_uuid, opts)
      nil
    end

    # Stage Viewset
    # @param stage_uuid [String] A UUID string identifying this stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def stages_all_destroy_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_all_destroy ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_all_destroy"
      end
      # resource path
      local_var_path = '/stages/all/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_all_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_all_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedStageList]
    def stages_all_list(opts = {})
      data, _status_code, _headers = stages_all_list_with_http_info(opts)
      data
    end

    # Stage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedStageList, Integer, Hash)>] PaginatedStageList data, response status code and response headers
    def stages_all_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_all_list ...'
      end
      # resource path
      local_var_path = '/stages/all/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedStageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_all_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_all_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stage Viewset
    # @param stage_uuid [String] A UUID string identifying this stage.
    # @param [Hash] opts the optional parameters
    # @return [Stage]
    def stages_all_retrieve(stage_uuid, opts = {})
      data, _status_code, _headers = stages_all_retrieve_with_http_info(stage_uuid, opts)
      data
    end

    # Stage Viewset
    # @param stage_uuid [String] A UUID string identifying this stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Stage, Integer, Hash)>] Stage data, response status code and response headers
    def stages_all_retrieve_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_all_retrieve ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_all_retrieve"
      end
      # resource path
      local_var_path = '/stages/all/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Stage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_all_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_all_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<TypeCreate>]
    def stages_all_types_list(opts = {})
      data, _status_code, _headers = stages_all_types_list_with_http_info(opts)
      data
    end

    # Get all creatable types
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TypeCreate>, Integer, Hash)>] Array<TypeCreate> data, response status code and response headers
    def stages_all_types_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_all_types_list ...'
      end
      # resource path
      local_var_path = '/stages/all/types/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TypeCreate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_all_types_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_all_types_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param stage_uuid [String] A UUID string identifying this stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def stages_all_used_by_list(stage_uuid, opts = {})
      data, _status_code, _headers = stages_all_used_by_list_with_http_info(stage_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param stage_uuid [String] A UUID string identifying this stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def stages_all_used_by_list_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_all_used_by_list ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_all_used_by_list"
      end
      # resource path
      local_var_path = '/stages/all/{stage_uuid}/used_by/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_all_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_all_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all stages the user can configure
    # @param [Hash] opts the optional parameters
    # @return [Array<UserSetting>]
    def stages_all_user_settings_list(opts = {})
      data, _status_code, _headers = stages_all_user_settings_list_with_http_info(opts)
      data
    end

    # Get all stages the user can configure
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UserSetting>, Integer, Hash)>] Array<UserSetting> data, response status code and response headers
    def stages_all_user_settings_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_all_user_settings_list ...'
      end
      # resource path
      local_var_path = '/stages/all/user_settings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UserSetting>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_all_user_settings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_all_user_settings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorDuoStage Viewset
    # @param authenticator_duo_stage_request [AuthenticatorDuoStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorDuoStage]
    def stages_authenticator_duo_create(authenticator_duo_stage_request, opts = {})
      data, _status_code, _headers = stages_authenticator_duo_create_with_http_info(authenticator_duo_stage_request, opts)
      data
    end

    # AuthenticatorDuoStage Viewset
    # @param authenticator_duo_stage_request [AuthenticatorDuoStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorDuoStage, Integer, Hash)>] AuthenticatorDuoStage data, response status code and response headers
    def stages_authenticator_duo_create_with_http_info(authenticator_duo_stage_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_create ...'
      end
      # verify the required parameter 'authenticator_duo_stage_request' is set
      if @api_client.config.client_side_validation && authenticator_duo_stage_request.nil?
        fail ArgumentError, "Missing the required parameter 'authenticator_duo_stage_request' when calling StagesApi.stages_authenticator_duo_create"
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authenticator_duo_stage_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorDuoStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorDuoStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def stages_authenticator_duo_destroy(stage_uuid, opts = {})
      stages_authenticator_duo_destroy_with_http_info(stage_uuid, opts)
      nil
    end

    # AuthenticatorDuoStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def stages_authenticator_duo_destroy_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_destroy ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_duo_destroy"
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check enrollment status of user details in current session
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [DuoDeviceEnrollmentStatus]
    def stages_authenticator_duo_enrollment_status_create(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_duo_enrollment_status_create_with_http_info(stage_uuid, opts)
      data
    end

    # Check enrollment status of user details in current session
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuoDeviceEnrollmentStatus, Integer, Hash)>] DuoDeviceEnrollmentStatus data, response status code and response headers
    def stages_authenticator_duo_enrollment_status_create_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_enrollment_status_create ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_duo_enrollment_status_create"
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/{stage_uuid}/enrollment_status/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DuoDeviceEnrollmentStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_enrollment_status_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_enrollment_status_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Import duo devices into authentik
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param authenticator_duo_stage_manual_device_import_request [AuthenticatorDuoStageManualDeviceImportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def stages_authenticator_duo_import_device_manual_create(stage_uuid, authenticator_duo_stage_manual_device_import_request, opts = {})
      stages_authenticator_duo_import_device_manual_create_with_http_info(stage_uuid, authenticator_duo_stage_manual_device_import_request, opts)
      nil
    end

    # Import duo devices into authentik
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param authenticator_duo_stage_manual_device_import_request [AuthenticatorDuoStageManualDeviceImportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def stages_authenticator_duo_import_device_manual_create_with_http_info(stage_uuid, authenticator_duo_stage_manual_device_import_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_import_device_manual_create ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_duo_import_device_manual_create"
      end
      # verify the required parameter 'authenticator_duo_stage_manual_device_import_request' is set
      if @api_client.config.client_side_validation && authenticator_duo_stage_manual_device_import_request.nil?
        fail ArgumentError, "Missing the required parameter 'authenticator_duo_stage_manual_device_import_request' when calling StagesApi.stages_authenticator_duo_import_device_manual_create"
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/{stage_uuid}/import_device_manual/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authenticator_duo_stage_manual_device_import_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_import_device_manual_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_import_device_manual_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Import duo devices into authentik
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorDuoStageDeviceImportResponse]
    def stages_authenticator_duo_import_devices_automatic_create(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_duo_import_devices_automatic_create_with_http_info(stage_uuid, opts)
      data
    end

    # Import duo devices into authentik
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorDuoStageDeviceImportResponse, Integer, Hash)>] AuthenticatorDuoStageDeviceImportResponse data, response status code and response headers
    def stages_authenticator_duo_import_devices_automatic_create_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_import_devices_automatic_create ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_duo_import_devices_automatic_create"
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/{stage_uuid}/import_devices_automatic/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorDuoStageDeviceImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_import_devices_automatic_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_import_devices_automatic_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorDuoStage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_hostname 
    # @option opts [String] :client_id 
    # @option opts [String] :configure_flow 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedAuthenticatorDuoStageList]
    def stages_authenticator_duo_list(opts = {})
      data, _status_code, _headers = stages_authenticator_duo_list_with_http_info(opts)
      data
    end

    # AuthenticatorDuoStage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_hostname 
    # @option opts [String] :client_id 
    # @option opts [String] :configure_flow 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedAuthenticatorDuoStageList, Integer, Hash)>] PaginatedAuthenticatorDuoStageList data, response status code and response headers
    def stages_authenticator_duo_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_list ...'
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api_hostname'] = opts[:'api_hostname'] if !opts[:'api_hostname'].nil?
      query_params[:'client_id'] = opts[:'client_id'] if !opts[:'client_id'].nil?
      query_params[:'configure_flow'] = opts[:'configure_flow'] if !opts[:'configure_flow'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedAuthenticatorDuoStageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorDuoStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedAuthenticatorDuoStageRequest] :patched_authenticator_duo_stage_request 
    # @return [AuthenticatorDuoStage]
    def stages_authenticator_duo_partial_update(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_duo_partial_update_with_http_info(stage_uuid, opts)
      data
    end

    # AuthenticatorDuoStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedAuthenticatorDuoStageRequest] :patched_authenticator_duo_stage_request 
    # @return [Array<(AuthenticatorDuoStage, Integer, Hash)>] AuthenticatorDuoStage data, response status code and response headers
    def stages_authenticator_duo_partial_update_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_partial_update ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_duo_partial_update"
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_authenticator_duo_stage_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorDuoStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorDuoStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorDuoStage]
    def stages_authenticator_duo_retrieve(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_duo_retrieve_with_http_info(stage_uuid, opts)
      data
    end

    # AuthenticatorDuoStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorDuoStage, Integer, Hash)>] AuthenticatorDuoStage data, response status code and response headers
    def stages_authenticator_duo_retrieve_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_retrieve ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_duo_retrieve"
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorDuoStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorDuoStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param authenticator_duo_stage_request [AuthenticatorDuoStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorDuoStage]
    def stages_authenticator_duo_update(stage_uuid, authenticator_duo_stage_request, opts = {})
      data, _status_code, _headers = stages_authenticator_duo_update_with_http_info(stage_uuid, authenticator_duo_stage_request, opts)
      data
    end

    # AuthenticatorDuoStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param authenticator_duo_stage_request [AuthenticatorDuoStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorDuoStage, Integer, Hash)>] AuthenticatorDuoStage data, response status code and response headers
    def stages_authenticator_duo_update_with_http_info(stage_uuid, authenticator_duo_stage_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_update ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_duo_update"
      end
      # verify the required parameter 'authenticator_duo_stage_request' is set
      if @api_client.config.client_side_validation && authenticator_duo_stage_request.nil?
        fail ArgumentError, "Missing the required parameter 'authenticator_duo_stage_request' when calling StagesApi.stages_authenticator_duo_update"
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authenticator_duo_stage_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorDuoStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def stages_authenticator_duo_used_by_list(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_duo_used_by_list_with_http_info(stage_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param stage_uuid [String] A UUID string identifying this Duo Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def stages_authenticator_duo_used_by_list_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_duo_used_by_list ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_duo_used_by_list"
      end
      # resource path
      local_var_path = '/stages/authenticator/duo/{stage_uuid}/used_by/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_duo_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_duo_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEmailStage Viewset
    # @param authenticator_email_stage_request [AuthenticatorEmailStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorEmailStage]
    def stages_authenticator_email_create(authenticator_email_stage_request, opts = {})
      data, _status_code, _headers = stages_authenticator_email_create_with_http_info(authenticator_email_stage_request, opts)
      data
    end

    # AuthenticatorEmailStage Viewset
    # @param authenticator_email_stage_request [AuthenticatorEmailStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorEmailStage, Integer, Hash)>] AuthenticatorEmailStage data, response status code and response headers
    def stages_authenticator_email_create_with_http_info(authenticator_email_stage_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_email_create ...'
      end
      # verify the required parameter 'authenticator_email_stage_request' is set
      if @api_client.config.client_side_validation && authenticator_email_stage_request.nil?
        fail ArgumentError, "Missing the required parameter 'authenticator_email_stage_request' when calling StagesApi.stages_authenticator_email_create"
      end
      # resource path
      local_var_path = '/stages/authenticator/email/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authenticator_email_stage_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorEmailStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_email_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_email_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEmailStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def stages_authenticator_email_destroy(stage_uuid, opts = {})
      stages_authenticator_email_destroy_with_http_info(stage_uuid, opts)
      nil
    end

    # AuthenticatorEmailStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def stages_authenticator_email_destroy_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_email_destroy ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_email_destroy"
      end
      # resource path
      local_var_path = '/stages/authenticator/email/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_email_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_email_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEmailStage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :configure_flow 
    # @option opts [String] :friendly_name 
    # @option opts [String] :from_address 
    # @option opts [String] :host 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :password 
    # @option opts [Integer] :port 
    # @option opts [String] :search A search term.
    # @option opts [String] :stage_uuid 
    # @option opts [String] :subject 
    # @option opts [String] :template 
    # @option opts [Integer] :timeout 
    # @option opts [String] :token_expiry 
    # @option opts [Boolean] :use_global_settings 
    # @option opts [Boolean] :use_ssl 
    # @option opts [Boolean] :use_tls 
    # @option opts [String] :username 
    # @return [PaginatedAuthenticatorEmailStageList]
    def stages_authenticator_email_list(opts = {})
      data, _status_code, _headers = stages_authenticator_email_list_with_http_info(opts)
      data
    end

    # AuthenticatorEmailStage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :configure_flow 
    # @option opts [String] :friendly_name 
    # @option opts [String] :from_address 
    # @option opts [String] :host 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :password 
    # @option opts [Integer] :port 
    # @option opts [String] :search A search term.
    # @option opts [String] :stage_uuid 
    # @option opts [String] :subject 
    # @option opts [String] :template 
    # @option opts [Integer] :timeout 
    # @option opts [String] :token_expiry 
    # @option opts [Boolean] :use_global_settings 
    # @option opts [Boolean] :use_ssl 
    # @option opts [Boolean] :use_tls 
    # @option opts [String] :username 
    # @return [Array<(PaginatedAuthenticatorEmailStageList, Integer, Hash)>] PaginatedAuthenticatorEmailStageList data, response status code and response headers
    def stages_authenticator_email_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_email_list ...'
      end
      # resource path
      local_var_path = '/stages/authenticator/email/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'configure_flow'] = opts[:'configure_flow'] if !opts[:'configure_flow'].nil?
      query_params[:'friendly_name'] = opts[:'friendly_name'] if !opts[:'friendly_name'].nil?
      query_params[:'from_address'] = opts[:'from_address'] if !opts[:'from_address'].nil?
      query_params[:'host'] = opts[:'host'] if !opts[:'host'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?
      query_params[:'port'] = opts[:'port'] if !opts[:'port'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'stage_uuid'] = opts[:'stage_uuid'] if !opts[:'stage_uuid'].nil?
      query_params[:'subject'] = opts[:'subject'] if !opts[:'subject'].nil?
      query_params[:'template'] = opts[:'template'] if !opts[:'template'].nil?
      query_params[:'timeout'] = opts[:'timeout'] if !opts[:'timeout'].nil?
      query_params[:'token_expiry'] = opts[:'token_expiry'] if !opts[:'token_expiry'].nil?
      query_params[:'use_global_settings'] = opts[:'use_global_settings'] if !opts[:'use_global_settings'].nil?
      query_params[:'use_ssl'] = opts[:'use_ssl'] if !opts[:'use_ssl'].nil?
      query_params[:'use_tls'] = opts[:'use_tls'] if !opts[:'use_tls'].nil?
      query_params[:'username'] = opts[:'username'] if !opts[:'username'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedAuthenticatorEmailStageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_email_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_email_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEmailStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedAuthenticatorEmailStageRequest] :patched_authenticator_email_stage_request 
    # @return [AuthenticatorEmailStage]
    def stages_authenticator_email_partial_update(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_email_partial_update_with_http_info(stage_uuid, opts)
      data
    end

    # AuthenticatorEmailStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedAuthenticatorEmailStageRequest] :patched_authenticator_email_stage_request 
    # @return [Array<(AuthenticatorEmailStage, Integer, Hash)>] AuthenticatorEmailStage data, response status code and response headers
    def stages_authenticator_email_partial_update_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_email_partial_update ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_email_partial_update"
      end
      # resource path
      local_var_path = '/stages/authenticator/email/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_authenticator_email_stage_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorEmailStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_email_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_email_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEmailStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorEmailStage]
    def stages_authenticator_email_retrieve(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_email_retrieve_with_http_info(stage_uuid, opts)
      data
    end

    # AuthenticatorEmailStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorEmailStage, Integer, Hash)>] AuthenticatorEmailStage data, response status code and response headers
    def stages_authenticator_email_retrieve_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_email_retrieve ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_email_retrieve"
      end
      # resource path
      local_var_path = '/stages/authenticator/email/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorEmailStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_email_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_email_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEmailStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param authenticator_email_stage_request [AuthenticatorEmailStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorEmailStage]
    def stages_authenticator_email_update(stage_uuid, authenticator_email_stage_request, opts = {})
      data, _status_code, _headers = stages_authenticator_email_update_with_http_info(stage_uuid, authenticator_email_stage_request, opts)
      data
    end

    # AuthenticatorEmailStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param authenticator_email_stage_request [AuthenticatorEmailStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorEmailStage, Integer, Hash)>] AuthenticatorEmailStage data, response status code and response headers
    def stages_authenticator_email_update_with_http_info(stage_uuid, authenticator_email_stage_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_email_update ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_email_update"
      end
      # verify the required parameter 'authenticator_email_stage_request' is set
      if @api_client.config.client_side_validation && authenticator_email_stage_request.nil?
        fail ArgumentError, "Missing the required parameter 'authenticator_email_stage_request' when calling StagesApi.stages_authenticator_email_update"
      end
      # resource path
      local_var_path = '/stages/authenticator/email/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authenticator_email_stage_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorEmailStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_email_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_email_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def stages_authenticator_email_used_by_list(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_email_used_by_list_with_http_info(stage_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param stage_uuid [String] A UUID string identifying this Email Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def stages_authenticator_email_used_by_list_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_email_used_by_list ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_email_used_by_list"
      end
      # resource path
      local_var_path = '/stages/authenticator/email/{stage_uuid}/used_by/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_email_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_email_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param authenticator_endpoint_gdtc_stage_request [AuthenticatorEndpointGDTCStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorEndpointGDTCStage]
    def stages_authenticator_endpoint_gdtc_create(authenticator_endpoint_gdtc_stage_request, opts = {})
      data, _status_code, _headers = stages_authenticator_endpoint_gdtc_create_with_http_info(authenticator_endpoint_gdtc_stage_request, opts)
      data
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param authenticator_endpoint_gdtc_stage_request [AuthenticatorEndpointGDTCStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorEndpointGDTCStage, Integer, Hash)>] AuthenticatorEndpointGDTCStage data, response status code and response headers
    def stages_authenticator_endpoint_gdtc_create_with_http_info(authenticator_endpoint_gdtc_stage_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_endpoint_gdtc_create ...'
      end
      # verify the required parameter 'authenticator_endpoint_gdtc_stage_request' is set
      if @api_client.config.client_side_validation && authenticator_endpoint_gdtc_stage_request.nil?
        fail ArgumentError, "Missing the required parameter 'authenticator_endpoint_gdtc_stage_request' when calling StagesApi.stages_authenticator_endpoint_gdtc_create"
      end
      # resource path
      local_var_path = '/stages/authenticator/endpoint_gdtc/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authenticator_endpoint_gdtc_stage_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorEndpointGDTCStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_endpoint_gdtc_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_endpoint_gdtc_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def stages_authenticator_endpoint_gdtc_destroy(stage_uuid, opts = {})
      stages_authenticator_endpoint_gdtc_destroy_with_http_info(stage_uuid, opts)
      nil
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def stages_authenticator_endpoint_gdtc_destroy_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_endpoint_gdtc_destroy ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_endpoint_gdtc_destroy"
      end
      # resource path
      local_var_path = '/stages/authenticator/endpoint_gdtc/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_endpoint_gdtc_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_endpoint_gdtc_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :configure_flow 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedAuthenticatorEndpointGDTCStageList]
    def stages_authenticator_endpoint_gdtc_list(opts = {})
      data, _status_code, _headers = stages_authenticator_endpoint_gdtc_list_with_http_info(opts)
      data
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :configure_flow 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedAuthenticatorEndpointGDTCStageList, Integer, Hash)>] PaginatedAuthenticatorEndpointGDTCStageList data, response status code and response headers
    def stages_authenticator_endpoint_gdtc_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_endpoint_gdtc_list ...'
      end
      # resource path
      local_var_path = '/stages/authenticator/endpoint_gdtc/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'configure_flow'] = opts[:'configure_flow'] if !opts[:'configure_flow'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedAuthenticatorEndpointGDTCStageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_endpoint_gdtc_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_endpoint_gdtc_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedAuthenticatorEndpointGDTCStageRequest] :patched_authenticator_endpoint_gdtc_stage_request 
    # @return [AuthenticatorEndpointGDTCStage]
    def stages_authenticator_endpoint_gdtc_partial_update(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_endpoint_gdtc_partial_update_with_http_info(stage_uuid, opts)
      data
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedAuthenticatorEndpointGDTCStageRequest] :patched_authenticator_endpoint_gdtc_stage_request 
    # @return [Array<(AuthenticatorEndpointGDTCStage, Integer, Hash)>] AuthenticatorEndpointGDTCStage data, response status code and response headers
    def stages_authenticator_endpoint_gdtc_partial_update_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_endpoint_gdtc_partial_update ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_endpoint_gdtc_partial_update"
      end
      # resource path
      local_var_path = '/stages/authenticator/endpoint_gdtc/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_authenticator_endpoint_gdtc_stage_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorEndpointGDTCStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_endpoint_gdtc_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_endpoint_gdtc_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorEndpointGDTCStage]
    def stages_authenticator_endpoint_gdtc_retrieve(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_endpoint_gdtc_retrieve_with_http_info(stage_uuid, opts)
      data
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorEndpointGDTCStage, Integer, Hash)>] AuthenticatorEndpointGDTCStage data, response status code and response headers
    def stages_authenticator_endpoint_gdtc_retrieve_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_endpoint_gdtc_retrieve ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_endpoint_gdtc_retrieve"
      end
      # resource path
      local_var_path = '/stages/authenticator/endpoint_gdtc/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorEndpointGDTCStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_endpoint_gdtc_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_endpoint_gdtc_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param authenticator_endpoint_gdtc_stage_request [AuthenticatorEndpointGDTCStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorEndpointGDTCStage]
    def stages_authenticator_endpoint_gdtc_update(stage_uuid, authenticator_endpoint_gdtc_stage_request, opts = {})
      data, _status_code, _headers = stages_authenticator_endpoint_gdtc_update_with_http_info(stage_uuid, authenticator_endpoint_gdtc_stage_request, opts)
      data
    end

    # AuthenticatorEndpointGDTCStage Viewset
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param authenticator_endpoint_gdtc_stage_request [AuthenticatorEndpointGDTCStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorEndpointGDTCStage, Integer, Hash)>] AuthenticatorEndpointGDTCStage data, response status code and response headers
    def stages_authenticator_endpoint_gdtc_update_with_http_info(stage_uuid, authenticator_endpoint_gdtc_stage_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_endpoint_gdtc_update ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_endpoint_gdtc_update"
      end
      # verify the required parameter 'authenticator_endpoint_gdtc_stage_request' is set
      if @api_client.config.client_side_validation && authenticator_endpoint_gdtc_stage_request.nil?
        fail ArgumentError, "Missing the required parameter 'authenticator_endpoint_gdtc_stage_request' when calling StagesApi.stages_authenticator_endpoint_gdtc_update"
      end
      # resource path
      local_var_path = '/stages/authenticator/endpoint_gdtc/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authenticator_endpoint_gdtc_stage_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorEndpointGDTCStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_endpoint_gdtc_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_endpoint_gdtc_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all objects that use this object
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<UsedBy>]
    def stages_authenticator_endpoint_gdtc_used_by_list(stage_uuid, opts = {})
      data, _status_code, _headers = stages_authenticator_endpoint_gdtc_used_by_list_with_http_info(stage_uuid, opts)
      data
    end

    # Get a list of all objects that use this object
    # @param stage_uuid [String] A UUID string identifying this Endpoint Authenticator Google Device Trust Connector Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UsedBy>, Integer, Hash)>] Array<UsedBy> data, response status code and response headers
    def stages_authenticator_endpoint_gdtc_used_by_list_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_endpoint_gdtc_used_by_list ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_endpoint_gdtc_used_by_list"
      end
      # resource path
      local_var_path = '/stages/authenticator/endpoint_gdtc/{stage_uuid}/used_by/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsedBy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_endpoint_gdtc_used_by_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_endpoint_gdtc_used_by_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorSMSStage Viewset
    # @param authenticator_sms_stage_request [AuthenticatorSMSStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthenticatorSMSStage]
    def stages_authenticator_sms_create(authenticator_sms_stage_request, opts = {})
      data, _status_code, _headers = stages_authenticator_sms_create_with_http_info(authenticator_sms_stage_request, opts)
      data
    end

    # AuthenticatorSMSStage Viewset
    # @param authenticator_sms_stage_request [AuthenticatorSMSStageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthenticatorSMSStage, Integer, Hash)>] AuthenticatorSMSStage data, response status code and response headers
    def stages_authenticator_sms_create_with_http_info(authenticator_sms_stage_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_sms_create ...'
      end
      # verify the required parameter 'authenticator_sms_stage_request' is set
      if @api_client.config.client_side_validation && authenticator_sms_stage_request.nil?
        fail ArgumentError, "Missing the required parameter 'authenticator_sms_stage_request' when calling StagesApi.stages_authenticator_sms_create"
      end
      # resource path
      local_var_path = '/stages/authenticator/sms/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authenticator_sms_stage_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticatorSMSStage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_sms_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_sms_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorSMSStage Viewset
    # @param stage_uuid [String] A UUID string identifying this SMS Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def stages_authenticator_sms_destroy(stage_uuid, opts = {})
      stages_authenticator_sms_destroy_with_http_info(stage_uuid, opts)
      nil
    end

    # AuthenticatorSMSStage Viewset
    # @param stage_uuid [String] A UUID string identifying this SMS Authenticator Setup Stage.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def stages_authenticator_sms_destroy_with_http_info(stage_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_sms_destroy ...'
      end
      # verify the required parameter 'stage_uuid' is set
      if @api_client.config.client_side_validation && stage_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stage_uuid' when calling StagesApi.stages_authenticator_sms_destroy"
      end
      # resource path
      local_var_path = '/stages/authenticator/sms/{stage_uuid}/'.sub('{' + 'stage_uuid' + '}', CGI.escape(stage_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"StagesApi.stages_authenticator_sms_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StagesApi#stages_authenticator_sms_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AuthenticatorSMSStage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_sid 
    # @option opts [String] :auth 
    # @option opts [String] :auth_password 
    # @option opts [AuthTypeEnum] :auth_type 
    # @option opts [String] :configure_flow 
    # @option opts [String] :friendly_name 
    # @option opts [String] :from_number 
    # @option opts [String] :mapping 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [ProviderEnum] :provider 
    # @option opts [String] :search A search term.
    # @option opts [String] :stage_uuid 
    # @option opts [Boolean] :verify_only 
    # @return [PaginatedAuthenticatorSMSStageList]
    def stages_authenticator_sms_list(opts = {})
      data, _status_code, _headers = stages_authenticator_sms_list_with_http_info(opts)
      data
    end

    # AuthenticatorSMSStage Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_sid 
    # @option opts [String] :auth 
    # @option opts [String] :auth_password 
    # @option opts [AuthTypeEnum] :auth_type 
    # @option opts [String] :configure_flow 
    # @option opts [String] :friendly_name 
    # @option opts [String] :from_number 
    # @option opts [String] :mapping 
    # @option opts [String] :name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [ProviderEnum] :provider 
    # @option opts [String] :search A search term.
    # @option opts [String] :stage_uuid 
    # @option opts [Boolean] :verify_only 
    # @return [Array<(PaginatedAuthenticatorSMSStageList, Integer, Hash)>] PaginatedAuthenticatorSMSStageList data, response status code and response headers
    def stages_authenticator_sms_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StagesApi.stages_authenticator_sms_list ...'
      end
      # resource path
      local_var_path = '/stages/authenticator/sms/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_sid'] = opts[:'account_sid'] if !opts[:'account_sid'].nil?
      query_params[:'auth'] = opts[:'auth'] if !opts[:'auth'].nil?
      query_params[:'auth_password'] = opts[:'auth_password'] if !opts[:'auth_password'].nil?
      query_params[:'auth_type'] = opts[:'auth_type'] if !opts[:'auth_type'].nil?
      query_params[:'configure_flow'] = opts[:'configure_flow'] if !opts[:'configure_flow'].nil?
      query_params[:'friendly_name'] = opts[:'friendly_name'] if !opts[:'friendly_name'].nil?
      query_params[:'from_number'] = opts[:'from_number'] if !opts[:'from_number'].nil?
      query_params[:'mapping'] = opts[:'mapping'] if !opts[:'mapping'].nil?
[...]
