=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class TasksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :actor_name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Boolean] :paused 
    # @option opts [String] :rel_obj_content_type__app_label 
    # @option opts [String] :rel_obj_content_type__model 
    # @option opts [String] :rel_obj_id 
    # @option opts [Boolean] :rel_obj_id__isnull 
    # @option opts [String] :search A search term.
    # @return [PaginatedScheduleList]
    def tasks_schedules_list(opts = {})
      data, _status_code, _headers = tasks_schedules_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :actor_name 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [Boolean] :paused 
    # @option opts [String] :rel_obj_content_type__app_label 
    # @option opts [String] :rel_obj_content_type__model 
    # @option opts [String] :rel_obj_id 
    # @option opts [Boolean] :rel_obj_id__isnull 
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedScheduleList, Integer, Hash)>] PaginatedScheduleList data, response status code and response headers
    def tasks_schedules_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_schedules_list ...'
      end
      # resource path
      local_var_path = '/tasks/schedules/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'actor_name'] = opts[:'actor_name'] if !opts[:'actor_name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'paused'] = opts[:'paused'] if !opts[:'paused'].nil?
      query_params[:'rel_obj_content_type__app_label'] = opts[:'rel_obj_content_type__app_label'] if !opts[:'rel_obj_content_type__app_label'].nil?
      query_params[:'rel_obj_content_type__model'] = opts[:'rel_obj_content_type__model'] if !opts[:'rel_obj_content_type__model'].nil?
      query_params[:'rel_obj_id'] = opts[:'rel_obj_id'] if !opts[:'rel_obj_id'].nil?
      query_params[:'rel_obj_id__isnull'] = opts[:'rel_obj_id__isnull'] if !opts[:'rel_obj_id__isnull'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedScheduleList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_schedules_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_schedules_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this Schedule.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedScheduleRequest] :patched_schedule_request 
    # @return [Schedule]
    def tasks_schedules_partial_update(id, opts = {})
      data, _status_code, _headers = tasks_schedules_partial_update_with_http_info(id, opts)
      data
    end

    # @param id [String] A UUID string identifying this Schedule.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedScheduleRequest] :patched_schedule_request 
    # @return [Array<(Schedule, Integer, Hash)>] Schedule data, response status code and response headers
    def tasks_schedules_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_schedules_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TasksApi.tasks_schedules_partial_update"
      end
      # resource path
      local_var_path = '/tasks/schedules/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_schedule_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Schedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_schedules_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_schedules_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this Schedule.
    # @param [Hash] opts the optional parameters
    # @return [Schedule]
    def tasks_schedules_retrieve(id, opts = {})
      data, _status_code, _headers = tasks_schedules_retrieve_with_http_info(id, opts)
      data
    end

    # @param id [String] A UUID string identifying this Schedule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Schedule, Integer, Hash)>] Schedule data, response status code and response headers
    def tasks_schedules_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_schedules_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TasksApi.tasks_schedules_retrieve"
      end
      # resource path
      local_var_path = '/tasks/schedules/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Schedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_schedules_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_schedules_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger this schedule now
    # @param id [String] A UUID string identifying this Schedule.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tasks_schedules_send_create(id, opts = {})
      tasks_schedules_send_create_with_http_info(id, opts)
      nil
    end

    # Trigger this schedule now
    # @param id [String] A UUID string identifying this Schedule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tasks_schedules_send_create_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_schedules_send_create ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TasksApi.tasks_schedules_send_create"
      end
      # resource path
      local_var_path = '/tasks/schedules/{id}/send/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_schedules_send_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_schedules_send_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this Schedule.
    # @param schedule_request [ScheduleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Schedule]
    def tasks_schedules_update(id, schedule_request, opts = {})
      data, _status_code, _headers = tasks_schedules_update_with_http_info(id, schedule_request, opts)
      data
    end

    # @param id [String] A UUID string identifying this Schedule.
    # @param schedule_request [ScheduleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Schedule, Integer, Hash)>] Schedule data, response status code and response headers
    def tasks_schedules_update_with_http_info(id, schedule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_schedules_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TasksApi.tasks_schedules_update"
      end
      # verify the required parameter 'schedule_request' is set
      if @api_client.config.client_side_validation && schedule_request.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_request' when calling TasksApi.tasks_schedules_update"
      end
      # resource path
      local_var_path = '/tasks/schedules/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Schedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_schedules_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_schedules_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :actor_name 
    # @option opts [Array<TaskAggregatedStatusEnum>] :aggregated_status 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :queue_name 
    # @option opts [String] :rel_obj_content_type__app_label 
    # @option opts [String] :rel_obj_content_type__model 
    # @option opts [String] :rel_obj_id 
    # @option opts [Boolean] :rel_obj_id__isnull 
    # @option opts [String] :search A search term.
    # @option opts [TaskStatusEnum] :state 
    # @return [PaginatedTaskList]
    def tasks_tasks_list(opts = {})
      data, _status_code, _headers = tasks_tasks_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :actor_name 
    # @option opts [Array<TaskAggregatedStatusEnum>] :aggregated_status 
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :queue_name 
    # @option opts [String] :rel_obj_content_type__app_label 
    # @option opts [String] :rel_obj_content_type__model 
    # @option opts [String] :rel_obj_id 
    # @option opts [Boolean] :rel_obj_id__isnull 
    # @option opts [String] :search A search term.
    # @option opts [TaskStatusEnum] :state 
    # @return [Array<(PaginatedTaskList, Integer, Hash)>] PaginatedTaskList data, response status code and response headers
    def tasks_tasks_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_tasks_list ...'
      end
      # resource path
      local_var_path = '/tasks/tasks/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'actor_name'] = opts[:'actor_name'] if !opts[:'actor_name'].nil?
      query_params[:'aggregated_status'] = @api_client.build_collection_param(opts[:'aggregated_status'], :multi) if !opts[:'aggregated_status'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'queue_name'] = opts[:'queue_name'] if !opts[:'queue_name'].nil?
      query_params[:'rel_obj_content_type__app_label'] = opts[:'rel_obj_content_type__app_label'] if !opts[:'rel_obj_content_type__app_label'].nil?
      query_params[:'rel_obj_content_type__model'] = opts[:'rel_obj_content_type__model'] if !opts[:'rel_obj_content_type__model'].nil?
      query_params[:'rel_obj_id'] = opts[:'rel_obj_id'] if !opts[:'rel_obj_id'].nil?
      query_params[:'rel_obj_id__isnull'] = opts[:'rel_obj_id__isnull'] if !opts[:'rel_obj_id__isnull'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedTaskList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_tasks_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_tasks_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param message_id [String] A UUID string identifying this Task.
    # @param [Hash] opts the optional parameters
    # @return [Task]
    def tasks_tasks_retrieve(message_id, opts = {})
      data, _status_code, _headers = tasks_tasks_retrieve_with_http_info(message_id, opts)
      data
    end

    # @param message_id [String] A UUID string identifying this Task.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Task, Integer, Hash)>] Task data, response status code and response headers
    def tasks_tasks_retrieve_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_tasks_retrieve ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling TasksApi.tasks_tasks_retrieve"
      end
      # resource path
      local_var_path = '/tasks/tasks/{message_id}/'.sub('{' + 'message_id' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Task'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_tasks_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_tasks_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry task
    # @param message_id [String] A UUID string identifying this Task.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tasks_tasks_retry_create(message_id, opts = {})
      tasks_tasks_retry_create_with_http_info(message_id, opts)
      nil
    end

    # Retry task
    # @param message_id [String] A UUID string identifying this Task.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tasks_tasks_retry_create_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_tasks_retry_create ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling TasksApi.tasks_tasks_retry_create"
      end
      # resource path
      local_var_path = '/tasks/tasks/{message_id}/retry/'.sub('{' + 'message_id' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_tasks_retry_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_tasks_retry_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Global status summary for all tasks
    # @param [Hash] opts the optional parameters
    # @return [GlobalTaskStatus]
    def tasks_tasks_status_retrieve(opts = {})
      data, _status_code, _headers = tasks_tasks_status_retrieve_with_http_info(opts)
      data
    end

    # Global status summary for all tasks
    # @param [Hash] opts the optional parameters
    # @return [Array<(GlobalTaskStatus, Integer, Hash)>] GlobalTaskStatus data, response status code and response headers
    def tasks_tasks_status_retrieve_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_tasks_status_retrieve ...'
      end
      # resource path
      local_var_path = '/tasks/tasks/status/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GlobalTaskStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_tasks_status_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_tasks_status_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get currently connected worker count.
    # @param [Hash] opts the optional parameters
    # @return [Array<Worker>]
    def tasks_workers_list(opts = {})
      data, _status_code, _headers = tasks_workers_list_with_http_info(opts)
      data
    end

    # Get currently connected worker count.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Worker>, Integer, Hash)>] Array<Worker> data, response status code and response headers
    def tasks_workers_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.tasks_workers_list ...'
      end
      # resource path
      local_var_path = '/tasks/workers/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Worker>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['authentik']

      new_options = opts.merge(
        :operation => :"TasksApi.tasks_workers_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#tasks_workers_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
