=begin
This file is automatically generated by: https://openapi-generator.tech.
Any manual changes will be lost when the OpenAPI scheme changes.

=end

require 'cgi'

module Authentik::Api
  class TenantsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Domain ViewSet
    # @param domain_request [DomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Domain]
    def tenants_domains_create(domain_request, opts = {})
      data, _status_code, _headers = tenants_domains_create_with_http_info(domain_request, opts)
      data
    end

    # Domain ViewSet
    # @param domain_request [DomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Domain, Integer, Hash)>] Domain data, response status code and response headers
    def tenants_domains_create_with_http_info(domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_domains_create ...'
      end
      # verify the required parameter 'domain_request' is set
      if @api_client.config.client_side_validation && domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'domain_request' when calling TenantsApi.tenants_domains_create"
      end
      # resource path
      local_var_path = '/tenants/domains/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Domain'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_domains_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_domains_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Domain ViewSet
    # @param id [Integer] A unique integer value identifying this Domain.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tenants_domains_destroy(id, opts = {})
      tenants_domains_destroy_with_http_info(id, opts)
      nil
    end

    # Domain ViewSet
    # @param id [Integer] A unique integer value identifying this Domain.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tenants_domains_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_domains_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TenantsApi.tenants_domains_destroy"
      end
      # resource path
      local_var_path = '/tenants/domains/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_domains_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_domains_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Domain ViewSet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedDomainList]
    def tenants_domains_list(opts = {})
      data, _status_code, _headers = tenants_domains_list_with_http_info(opts)
      data
    end

    # Domain ViewSet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedDomainList, Integer, Hash)>] PaginatedDomainList data, response status code and response headers
    def tenants_domains_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_domains_list ...'
      end
      # resource path
      local_var_path = '/tenants/domains/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDomainList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_domains_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_domains_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Domain ViewSet
    # @param id [Integer] A unique integer value identifying this Domain.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDomainRequest] :patched_domain_request 
    # @return [Domain]
    def tenants_domains_partial_update(id, opts = {})
      data, _status_code, _headers = tenants_domains_partial_update_with_http_info(id, opts)
      data
    end

    # Domain ViewSet
    # @param id [Integer] A unique integer value identifying this Domain.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDomainRequest] :patched_domain_request 
    # @return [Array<(Domain, Integer, Hash)>] Domain data, response status code and response headers
    def tenants_domains_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_domains_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TenantsApi.tenants_domains_partial_update"
      end
      # resource path
      local_var_path = '/tenants/domains/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_domain_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Domain'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_domains_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_domains_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Domain ViewSet
    # @param id [Integer] A unique integer value identifying this Domain.
    # @param [Hash] opts the optional parameters
    # @return [Domain]
    def tenants_domains_retrieve(id, opts = {})
      data, _status_code, _headers = tenants_domains_retrieve_with_http_info(id, opts)
      data
    end

    # Domain ViewSet
    # @param id [Integer] A unique integer value identifying this Domain.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Domain, Integer, Hash)>] Domain data, response status code and response headers
    def tenants_domains_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_domains_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TenantsApi.tenants_domains_retrieve"
      end
      # resource path
      local_var_path = '/tenants/domains/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Domain'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_domains_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_domains_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Domain ViewSet
    # @param id [Integer] A unique integer value identifying this Domain.
    # @param domain_request [DomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Domain]
    def tenants_domains_update(id, domain_request, opts = {})
      data, _status_code, _headers = tenants_domains_update_with_http_info(id, domain_request, opts)
      data
    end

    # Domain ViewSet
    # @param id [Integer] A unique integer value identifying this Domain.
    # @param domain_request [DomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Domain, Integer, Hash)>] Domain data, response status code and response headers
    def tenants_domains_update_with_http_info(id, domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_domains_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TenantsApi.tenants_domains_update"
      end
      # verify the required parameter 'domain_request' is set
      if @api_client.config.client_side_validation && domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'domain_request' when calling TenantsApi.tenants_domains_update"
      end
      # resource path
      local_var_path = '/tenants/domains/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Domain'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_domains_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_domains_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tenant Viewset
    # @param tenant_request [TenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Tenant]
    def tenants_tenants_create(tenant_request, opts = {})
      data, _status_code, _headers = tenants_tenants_create_with_http_info(tenant_request, opts)
      data
    end

    # Tenant Viewset
    # @param tenant_request [TenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tenant, Integer, Hash)>] Tenant data, response status code and response headers
    def tenants_tenants_create_with_http_info(tenant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_tenants_create ...'
      end
      # verify the required parameter 'tenant_request' is set
      if @api_client.config.client_side_validation && tenant_request.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_request' when calling TenantsApi.tenants_tenants_create"
      end
      # resource path
      local_var_path = '/tenants/tenants/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tenant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Tenant'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_tenants_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_tenants_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create admin group and add user to it.
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param tenant_admin_group_request_request [TenantAdminGroupRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tenants_tenants_create_admin_group_create(tenant_uuid, tenant_admin_group_request_request, opts = {})
      tenants_tenants_create_admin_group_create_with_http_info(tenant_uuid, tenant_admin_group_request_request, opts)
      nil
    end

    # Create admin group and add user to it.
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param tenant_admin_group_request_request [TenantAdminGroupRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tenants_tenants_create_admin_group_create_with_http_info(tenant_uuid, tenant_admin_group_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_tenants_create_admin_group_create ...'
      end
      # verify the required parameter 'tenant_uuid' is set
      if @api_client.config.client_side_validation && tenant_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_uuid' when calling TenantsApi.tenants_tenants_create_admin_group_create"
      end
      # verify the required parameter 'tenant_admin_group_request_request' is set
      if @api_client.config.client_side_validation && tenant_admin_group_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_admin_group_request_request' when calling TenantsApi.tenants_tenants_create_admin_group_create"
      end
      # resource path
      local_var_path = '/tenants/tenants/{tenant_uuid}/create_admin_group/'.sub('{tenant_uuid}', CGI.escape(tenant_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tenant_admin_group_request_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_tenants_create_admin_group_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_tenants_create_admin_group_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create recovery key for user.
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param tenant_recovery_key_request_request [TenantRecoveryKeyRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TenantRecoveryKeyResponse]
    def tenants_tenants_create_recovery_key_create(tenant_uuid, tenant_recovery_key_request_request, opts = {})
      data, _status_code, _headers = tenants_tenants_create_recovery_key_create_with_http_info(tenant_uuid, tenant_recovery_key_request_request, opts)
      data
    end

    # Create recovery key for user.
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param tenant_recovery_key_request_request [TenantRecoveryKeyRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TenantRecoveryKeyResponse, Integer, Hash)>] TenantRecoveryKeyResponse data, response status code and response headers
    def tenants_tenants_create_recovery_key_create_with_http_info(tenant_uuid, tenant_recovery_key_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_tenants_create_recovery_key_create ...'
      end
      # verify the required parameter 'tenant_uuid' is set
      if @api_client.config.client_side_validation && tenant_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_uuid' when calling TenantsApi.tenants_tenants_create_recovery_key_create"
      end
      # verify the required parameter 'tenant_recovery_key_request_request' is set
      if @api_client.config.client_side_validation && tenant_recovery_key_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_recovery_key_request_request' when calling TenantsApi.tenants_tenants_create_recovery_key_create"
      end
      # resource path
      local_var_path = '/tenants/tenants/{tenant_uuid}/create_recovery_key/'.sub('{tenant_uuid}', CGI.escape(tenant_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tenant_recovery_key_request_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TenantRecoveryKeyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_tenants_create_recovery_key_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_tenants_create_recovery_key_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tenant Viewset
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tenants_tenants_destroy(tenant_uuid, opts = {})
      tenants_tenants_destroy_with_http_info(tenant_uuid, opts)
      nil
    end

    # Tenant Viewset
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tenants_tenants_destroy_with_http_info(tenant_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_tenants_destroy ...'
      end
      # verify the required parameter 'tenant_uuid' is set
      if @api_client.config.client_side_validation && tenant_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_uuid' when calling TenantsApi.tenants_tenants_destroy"
      end
      # resource path
      local_var_path = '/tenants/tenants/{tenant_uuid}/'.sub('{tenant_uuid}', CGI.escape(tenant_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_tenants_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_tenants_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tenant Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [PaginatedTenantList]
    def tenants_tenants_list(opts = {})
      data, _status_code, _headers = tenants_tenants_list_with_http_info(opts)
      data
    end

    # Tenant Viewset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ordering Which field to use when ordering the results.
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :search A search term.
    # @return [Array<(PaginatedTenantList, Integer, Hash)>] PaginatedTenantList data, response status code and response headers
    def tenants_tenants_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_tenants_list ...'
      end
      # resource path
      local_var_path = '/tenants/tenants/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedTenantList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_tenants_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_tenants_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tenant Viewset
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedTenantRequest] :patched_tenant_request 
    # @return [Tenant]
    def tenants_tenants_partial_update(tenant_uuid, opts = {})
      data, _status_code, _headers = tenants_tenants_partial_update_with_http_info(tenant_uuid, opts)
      data
    end

    # Tenant Viewset
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedTenantRequest] :patched_tenant_request 
    # @return [Array<(Tenant, Integer, Hash)>] Tenant data, response status code and response headers
    def tenants_tenants_partial_update_with_http_info(tenant_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_tenants_partial_update ...'
      end
      # verify the required parameter 'tenant_uuid' is set
      if @api_client.config.client_side_validation && tenant_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_uuid' when calling TenantsApi.tenants_tenants_partial_update"
      end
      # resource path
      local_var_path = '/tenants/tenants/{tenant_uuid}/'.sub('{tenant_uuid}', CGI.escape(tenant_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_tenant_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Tenant'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_tenants_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_tenants_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tenant Viewset
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param [Hash] opts the optional parameters
    # @return [Tenant]
    def tenants_tenants_retrieve(tenant_uuid, opts = {})
      data, _status_code, _headers = tenants_tenants_retrieve_with_http_info(tenant_uuid, opts)
      data
    end

    # Tenant Viewset
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tenant, Integer, Hash)>] Tenant data, response status code and response headers
    def tenants_tenants_retrieve_with_http_info(tenant_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_tenants_retrieve ...'
      end
      # verify the required parameter 'tenant_uuid' is set
      if @api_client.config.client_side_validation && tenant_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_uuid' when calling TenantsApi.tenants_tenants_retrieve"
      end
      # resource path
      local_var_path = '/tenants/tenants/{tenant_uuid}/'.sub('{tenant_uuid}', CGI.escape(tenant_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Tenant'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_tenants_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_tenants_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tenant Viewset
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param tenant_request [TenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Tenant]
    def tenants_tenants_update(tenant_uuid, tenant_request, opts = {})
      data, _status_code, _headers = tenants_tenants_update_with_http_info(tenant_uuid, tenant_request, opts)
      data
    end

    # Tenant Viewset
    # @param tenant_uuid [String] A UUID string identifying this Tenant.
    # @param tenant_request [TenantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tenant, Integer, Hash)>] Tenant data, response status code and response headers
    def tenants_tenants_update_with_http_info(tenant_uuid, tenant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.tenants_tenants_update ...'
      end
      # verify the required parameter 'tenant_uuid' is set
      if @api_client.config.client_side_validation && tenant_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_uuid' when calling TenantsApi.tenants_tenants_update"
      end
      # verify the required parameter 'tenant_request' is set
      if @api_client.config.client_side_validation && tenant_request.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_request' when calling TenantsApi.tenants_tenants_update"
      end
      # resource path
      local_var_path = '/tenants/tenants/{tenant_uuid}/'.sub('{tenant_uuid}', CGI.escape(tenant_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tenant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Tenant'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TenantsApi.tenants_tenants_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#tenants_tenants_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
